<p id="notice"><%= notice %></p>

<p>
  <b>Banner:</b>
  <%= link_to_name @banner_tag.banner %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @banner_tag.banner.image_url if @banner_tag.banner.image %>
</p>

<p>
  <b>Tag type:</b>
  <%= @banner_tag.tag_type %>
</p>

<p>
  <b>Tag:</b>
  <% if @banner_tag.tag_type == 'Year' %>
    <%= @banner_tag.tag_id %>
  <% else %>
    <%= link_to_name @banner_tag.tag %>
  <% end %>
</p>

<% case @banner_tag.tag_type %>
<% when 'Design' %>
  <%= image_tag @banner_tag.tag.art_url if @banner_tag.tag.art rescue nil %>
<% when 'BodyStyle' %>
  <%= image_tag @banner_tag.tag.image_url if @banner_tag.tag.image rescue nil %>
<% when 'Product' %>
  <%= image_tag @banner_tag.tag.primary_image if @banner_tag.tag.primary_image rescue nil %>
<% when 'Color' %>
  <div style="width:100px;height:100px;background-color:#<%= @banner_tag.tag.css_hex_code %>;" class="swatch"></div>
<% when 'ProductColor' %>
  <%= image_tag(@banner_tag.tag.product.primary_image(:product_box), :style => "background-color:##{@banner_tag.tag.color.css_hex_code};") %>
<% when 'Garment' %>
  <%= image_tag(@banner_tag.tag.product.primary_image(:product_box), :style => "background-color:##{@banner_tag.tag.color.css_hex_code};") %>
<% end %>

<p>
  <b>Active:</b>
  <%= @banner_tag.active %>
</p>


<%= link_to 'Edit', edit_banner_tag_path(@banner_tag) %> |
<%= link_to 'Back', banner_tags_path %>
