<% featured = @designs.shift %>
<%= div_for featured, :class => 'featured' do %>
  <%= link_to image_tag(featured.art), featured %>
  <%= link_to_name featured %>
<% end %>
<% @designs.each do |design| %>
  <%= div_for design do %>
    <%= link_to image_tag(design.art_url(:product_box)), design %>
    <div class='label_for_category'>
      <%= link_to_name design %>
 	</div>
  <% end %>
<% end %>