<div id="designs">
  <% featured = @designs.shift %>
  <%= div_for featured, :class => 'featured stack' do %>
    <%= like_heart_for featured %>
    <%= link_to image_tag(featured.art, :class => 'art'), detail_design_path(featured) %>
    <div class='label_featured_design'>
    <%= link_to featured.name, detail_design_path(featured) %>
  </div>
  <% end %>
  <% @designs.each do |design| %>
    <%= div_for design, :class => 'stack' do %>
      <%= like_heart_for design %>
      <%= link_to image_tag(design.art_url(:admin_thumb), :style => "background-color: ##{design.background_color}"), detail_design_path(design) %>
      <div class='label_for_design'>
        <%= link_to design.name, detail_design_path(design) %>
   	</div>
    <% end %>
  <% end %>
</div>
