<div id="designs">
  <div class="filtered search side bar" id="filtered_search">
    <div class="filtered_navigation" id="filtered_navigation">
		  <div class="filtered_navigation_title" id="filtered_navigation_title">Refine by:</div>
      <%= filtered_navigation_system %>
    </div>
      </div>
  <% featured = @designs.shift %>
  <% @designs.each do |design| %>
    <%= div_for design, :class => 'stack' do %>
      <%= like_heart_for design %>
      <%= link_to image_tag(design.art_url(:admin_thumb), :style => "background-color: ##{design.background_color}"), detail_design_path(design) %>
      <div class='label_for_design'>
        <%= link_to design.name, detail_design_path(design) %>
   	</div>
    <% end %>
  <% end %>
</div>
<%= top_level_browser %>
