<div class="products_with_design">
  <% @products.each do |product| %>
    <%= product_display_box product.landing_product_color if product.landing_product_color %>
  <% end %>
</div>

<%= content_for :fb_og_tags do %>
  <meta property="fb:app_id" content="<%= Facebooker2.app_id %>" />
  <meta property="og:type"   content="object" /> 
  <meta property="og:url"    content="<%= detail_design_url(@design) %>" />
  <meta property="og:title"  content="<%= @design.name %>" /> 
  <meta property="og:image"  content="<%= @design.art_url %>" />
<% end %>
