<h1>Designs</h1>
<%= link_to 'New Design', new_design_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Art</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @designs.each do |design| %>
  <tr>
    <td><%= link_to_name design %></td>
    <td><%= design.number %></td>
    <td><%= image_tag design.art.admin_thumb if design.art.present? %></td>
    <td>
      <%= link_to image_tag('up_button.gif'), move_up_design_path(design), :method => :put %>
      <%= link_to image_tag('down_button.gif'), move_down_design_path(design), :method => :put %>
      <%= link_to image_tag('edit_button.gif'), edit_design_path(design) %>
      <%= link_to image_tag('X_button.gif'), design, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%= link_to pluralize(design.products.count, 'product'), design_products_path(design) %></td>
  </tr>
<% end %>
</table>
