<h1>Listing designs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Art</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @designs.each do |design| %>
  <tr>
    <td><%= link_to_name design %></td>
    <td><%= design.number %></td>
    <td><%= image_tag design.art, :height => 100 %></td>
    <td><%= link_to 'edit', edit_design_path(design) %></td>
    <td><%= link_to 'x', design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to pluralize(design.products.count, 'product'), design_products_path(design) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Design', new_design_path %>
