<p>
  <b>Name:</b>
  <%= @design.name %>
</p>

<p>
  <b>Number:</b>
  <%= @design.number %>
</p>

<p>
  <b>Art:</b>
  <%= image_tag @design.art %>
</p>

<%= link_to image_tag('edit_button.gif'), edit_design_path(@design) %> |
<%= link_to image_tag('back_button.gif'), designs_path %>
<% @products.each do |product| %>
  <%= div_for product do %>
    <%= link_to_name product %>
    <ul>
      <% product.product_colors.each do |product_color| %>
        <li>
          <%= link_to_name product_color %>
          (<%= product_color.in_inventory %>)
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<br>
<%= link_to 'add body styles', add_body_styles_for_design_path(@design), :remote => true %>
<div id="add_body_styles">
</div>