<table>
  <tr>
    <th>Business</th>
    <th>Name</th>
    <th>Email</th>
    <th>Orders</th>
    <th>Address</th>
    <th>Status</th>
  </tr>
  <% @resellers.each do |reseller| %>
    <%= content_tag_for :tr, reseller do %>
      <td><%= reseller.business_name %></td>
      <td><b><%= reseller.name %></b></td>
      <td><%= link_to reseller.email, reseller %></td>
      <td><%= link_to pluralize(reseller.wholesale_orders.count, 'order'), reseller_wholesale_orders_path(reseller) %></td>
      <td><%= link_to reseller.delivery_address.street, reseller.delivery_address if reseller.delivery_address.present? %></td>
      <td>
        <% if reseller.authorized? %>
          Authorized. <%= link_to '[deauthorize]', deauthorize_reseller_path(reseller), :method => :put %>
        <% else %>
          Not authorized. <%= link_to '[authorize]', authorize_reseller_path(reseller), :method => :put %>
        <% end %>
      </td>
      <td><%= link_to 'edit', edit_reseller_path(reseller) %></td>
    <% end %>
  <% end %>
</table>
