<div>
  <%= @reseller.email %>
</div>
<div>
  <%= @reseller.url %>
</div>
<div>
  <%= @reseller.name %>
</div>
<div>
  <%= @reseller.tax_id %>
</div>
<div>
  <%= @reseller.current_discount_percentage %>
</div>
<div>
  <%= @reseller.note %>
</div>
