<%= form_for(@garment) do |f| %>
  <% if @garment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garment.errors.count, "error") %> prohibited this garment from being saved:</h2>

      <ul>
      <% @garment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stock_id %><br />
    <%= f.select :stock_id, options_from_collection_for_select(Stock.all, :id, :name, @garment.stock_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :design_id %><br />
    <%= f.select :design_id, options_from_collection_for_select(Design.all, :id, :name, @garment.design_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :cost, 'Cost (in cents)' %><br>
    <%= f.text_field :cost %>
  </div>
  
  <div class="field">
    <%= f.label :mww_code %><br>
    <%= f.text_field :mww_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
