<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_color_id %><br />
    <%= f.select :product_color_id, options_from_collection_for_select(ProductColor.all, :id, :name, @inventory.product_color_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :size_id %><br />
    <%= f.select :size_id, options_from_collection_for_select(Size.all, :id, :name, @inventory.size_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
