<div id="homepage_holder">
  <div id="homepage_banners">
    <div class="category carousel slide" id="featured_items_banner1">
      <div class="carousel-inner">
        <% Banner.order(:position).find_all_by_name('Featured Items Banner 1').each_with_index do |banner, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <%= link_to(image_tag(banner.image), banner.link) if banner.image.present? %>
          </div>
        <% end %>
      </div>
      <div class="pause_button"><%= image_tag asset_path('pause_button.png') %></div>
    </div>
  </div>
  <%= clearboth %>
 
  <div class="category" id="square_banners">
    <div class="carousel slide" id="square_banner1">
      <div class="carousel-inner">
        <% Banner.order(:position).find_all_by_name('Square Banner 1').each_with_index do |banner, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <%= link_to(image_tag(banner.image), banner.link) if banner.image.present? %>
          </div>
        <% end %>
      </div>
      <div class="pause_button"><%= image_tag asset_path('pause_button.png') %></div>
    </div>
    <div class="carousel slide" id="square_banner2">
      <div class="carousel-inner">
        <% Banner.order(:position).find_all_by_name('Square Banner 2').each_with_index do |banner, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <%= link_to(image_tag(banner.image), banner.link) if banner.image.present? %>
          </div>
        <% end %>
      </div>
      <div class="pause_button"><%= image_tag asset_path('pause_button.png') %></div>
    </div>
    <div class="carousel slide" id="square_banner3">
      <div class="carousel-inner">
        <% Banner.order(:position).find_all_by_name('Square Banner 3').each_with_index do |banner, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <%= link_to(image_tag(banner.image), banner.link) if banner.image.present? %>
          </div>
        <% end %>
      </div>
      <div class="pause_button"><%= image_tag asset_path('pause_button.png') %></div>
    </div>
  </div>
</div>
  <div class="shop_by_color_title" id="shop_by_color_title">
      <%= link_to 'Browse by Color', browse_colors_path %>  
  </div>
<div class="shop_by_color" id="shop_by_color">
</div>  
  <div class="shop_by_style_title" id="shop_by_style_title">
     <%= link_to 'Browse by Style', browse_body_styles_path %>  
  </div>
<div class="shop_by_style" id="shop_by_style">
</div>  
  <div class="shop_by_design_title" id="shop_by_design_title">
      <%= link_to 'Browse by Design', browse_designs_path %> 
  </div>
<div class="shop_by_design" id="shop_by_design">
</div>  
  <div class="browse_sale_items_title" id="browse_sale_items_title">
   <%= link_to 'Sale Items', browse_sales_path %>
  </div>
<div class="browse_sale_items" id="browse_sale_items">
</div>  
 <div class="homepage_interactive_buttons_title" id="homepage_interactive_buttons_title">
    join our community
 </div>
  <div class="homepage_interactive_buttons" id="homepage_interactive_buttons">
    
      <div id="blog_link"><a href="http://blog.littlehippie.com">Read our blog</a></div>
    <div class="mailinglist_signup">
      <%= submit_tag 'Sign Mailing List', :href => '#mailing_list_form', :id => 'sign_mailing_list', :class => 'product_actions fancybox' %>
    </div>
    <div id='social-media-buttons'>
      <%= link_to image_tag(asset_path('FBlogo.gif')), 'https://facebook.com/LittleHippieLLC', :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('tumblrlogo.gif')), 'http://littlehippiellc.tumblr.com', :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('twitterlogo.png')), 'https://twitter.com/littlehippiellc', :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('pinterestlogo.png')), 'http://pinterest.com/littlehippiellc/', :class => 'social-engagement left', :target => '_blank' %>
    </div>
    <div id="create_with_us_link">
      <a href="http://blog.littlehippie.com/create-with-us/">
        Create with us</a>
      </div>
    <%= link_to '#photo_uploader', :class => 'fancybox' do %>
      <div id="customer_upload_button">Upload Your Photo</div>
    <% end %>
  
   
    <%= clearboth %>
   </div>
  </div>
