<div id="banner">
</div>
<div id="caption-middle">
  <%= @page.content %><br>
  <%= link_to 'Browse by Style', browse_body_styles_path %> - <%= link_to 'Browse by Design', browse_designs_path %>
</div>
<div id="product-categories">
  <% @categories.each do |category| %>
    <%= div_for category do %>
      <%= div_for category, :label_for do %>
        <%= link_to category.name, detail_category_path(category) %>
      <% end %>
      <%= image_tag category.products.active.first.andand.art, :width => 120 %>
    <% end %>
  <% end %>
</div>
<%= clearboth %>
<div id="news-bulletins">
  <% @bulletins.each do |bulletin| %>
    <%= div_for bulletin do %>
      <header><%= bulletin.title %></header>
      <article><%= bulletin.content %></article>
    <% end %>
  <% end %>
</div>
