<p>
  <b>Design:</b>
  <%= link_to_name @inventory.design %>
</p>

<p>
  <b>Body Style:</b>
  <%= link_to_name @inventory.body_style %>
</p>

<p>
  <b>Product:</b>
  <%= link_to_name @inventory.product %>
</p>

<p>
  <b>Product color:</b>
  <%= link_to_name @inventory.product_color %>
</p>

<p>
  <b>Size:</b>
  <%= link_to_name @inventory.size %>
</p>

<p>
  <b>Amount:</b>
  <%= @inventory.amount %>
</p>

<p>
  <b>Updated:</b>
  <%= @inventory.updated_at.strftime("%m/%d/%y") %>
</p>


<%= link_to image_tag('edit_button.gif'), edit_inventory_path(@inventory) %> |
<%= link_to image_tag('back_button.gif'), inventories_path %>
