<h1>Listing product colors</h1>

<%= paginate @product_colors %>
<table>
  <tr>
    <th><%= link_to 'id', :sort => :id, :id_direction => (params[:id_direction] == 'forward' ? :reverse : :forward) %></th>
		<th><%= link_to 'Code', :sort => :product_code, :product_code_direction => (params[:product_code_direction] == 'forward' ? :reverse : :forward) %></th>
    <th><%= link_to 'OG Code', :sort => :og_code, :og_code_direction => (params[:og_code_direction] == 'forward' ? :reverse : :forward) %></th>
    <th><%= link_to 'Product', :sort => :product_name, :product_name_direction => (params[:product_name_direction] == 'forward' ? :reverse : :forward) %></th>
    
    <th></th>
    <th><%= link_to 'Color', :sort => :color_name, :color_name_direction => (params[:color_name_direction] == 'forward' ? :reverse : :forward) %></th>
    <th></th>
    <th><%= link_to 'In Carts', :sort => :in_carts, :in_carts_direction => (params[:in_carts_direction] == 'forward' ? :reverse : :forward) %> / <%= link_to 'Purchased', :sort => :purchased, :purchased_direction => (params[:purchased_direction] == 'forward' ? :reverse : :forward) %></th>
		<th><%= link_to 'Creation date', :sort => :age, :age_direction => (params[:age_direction] == 'forward' ? :reverse : :forward) %></th>
    <th>Display</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th><%= link_to 'New Product color', new_product_color_path(:product_color => {:product_id => params[:product_id]}), :class => 'btn btn-success right' %></th>
  </tr>

<%= form_tag search_product_colors_path, :method => :get do %>
  <%= text_field_tag :query %>
  <%= submit_tag :search %>
<% end %>

<% @product_colors.each do |product_color| %>
  <tr>
    <td><%= product_color.id %></td>
	  <td><%= product_color.code %></td>
    <td><%= product_color.og_code %></td>
    <td><%= link_to_name product_color.product %></td>
    <td><%= image_tag product_color.product.primary_image(:product_box), :width => 70, :style => "background-color: ##{product_color.color.css_hex_code}" if product_color.product.primary_image(:product_box).present? %></td>
    <td><div style="width:30px;height:30px;background-color:#<%= product_color.color.css_hex_code %>;" class="swatch"></div></td>
    <td><%= link_to_name product_color.color %></td>
    <td><%= product_color.items.sum(:quantity) %> carted;<%= product_color.items.purchased.sum(:quantity) %> purchased</td>
    <td><%= product_color.created_at.strftime("%b %j %y") %>
		<td><%= link_to 'display', detail_product_path(product_color.product) %></td>
    <td><%= link_to 'Show', product_color %></td>
    <td>
      <%= link_to image_tag('edit_button.gif'), edit_product_color_path(product_color) %>
      <%= link_to image_tag('X_button.gif'), product_color, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td>
      <%= check_box_tag "product_color_#{product_color.id}_available", 1, product_color.available, :'data-product_color_id' => product_color.id, :class => 'product_color_availability_toggle' %>
    </td>
    <td>
      <%= form_tag update_inventory_product_color_path(product_color), :remote => true do %>
        <% product_color.body_style.sizes.each do |size| %>
          <% if garment = product_color.garments.of_size(size.id).of_color(product_color.color_id).first %>
  					<div class="inventory_update">
  	          <%= text_field_tag "garment_#{garment.id}", garment.inventory_amount, :class => 'inventory_refill' %><br>
  						<%= size.name.split(' ').join('<br>').html_safe %>
  					</div>
          <% end %>
        <% end %>
        <td><%= submit_tag :Save %></td>
      <% end %>
    </td>
    <td><%= link_to 'discontinue', product_color_path(product_color, :product_color => {:discontinued => true}), :method => :put, :remote => true unless product_color.discontinued? %></td>
  </tr>
<% end %>
</table>
<%= paginate @product_colors %>
