<p>
  <b>Design:</b>
  <%= link_to_name @product_color.design %>
</p>

<p>
  <b>Body Style:</b>
  <%= link_to_name @product_color.body_style %>
</p>

<p>
  <b>Product:</b>
  <%= link_to_name @product_color.product %>
</p>

<p>
  <b>Color:</b>
  <%= link_to_name @product_color.color %>
</p>

<%= link_to 'Edit', edit_product_color_path(@product_color) %> |
<%= link_to 'Back', product_colors_path %>
<% @inventories.each do |inventory| %>
  <%= div_for inventory do %>
    <%= link_to_name inventory %>
    (<%= inventory.amount %>)
  <% end %>
<% end %>