<p>
  <b>Design:</b>
  <%= link_to_name @product_color.design %>
</p>

<p>
  <b>Body Style:</b>
  <%= link_to_name @product_color.body_style %>
</p>

<p>
  <b>Product:</b>
  <%= link_to_name @product_color.product %>
</p>

<p>
  <b>Color:</b>
  <%= link_to_name @product_color.color %>
</p>

<%= link_to image_tag('edit_button.gif'), edit_product_color_path(@product_color) %> |
<%= link_to image_tag('back_button.gif'), product_colors_path %>
<% @inventories.each do |inventory| %>
  <%= div_for inventory do %>
    <%= link_to_name inventory %>
    (<%= inventory.amount %>)
  <% end %>
<% end %>

<%= link_to 'new product image', new_product_image_path(:product_image => {:product_color_id => @product_color.id}) %>
<div>
  <% @product_color.product_images.each do |image| %>
    <%= link_to image_tag(image.image_url, :width => 100), image %>
  <% end %>
</div>