<%= form_for(@wholesale_order) do |f| %>
  <% if @wholesale_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wholesale_order.errors.count, "error") %> prohibited this wholesale_order from being saved:</h2>

      <ul>
      <% @wholesale_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reseller_id %><br />
    <%= f.number_field :reseller_id %>
  </div>
  <div class="field">
    <%= f.label :shipping_address_id %><br />
    <%= f.number_field :shipping_address_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
