<div id="wholesale">
  <%= wholesale_tab_nav %>
  
  <% if current_reseller.authorized? %>
    <%= link_to 'Submit Order', submit_wholesale_order_path(current_wholesale_order), :method => :put %>
  <% end %>
  
  <div id="wholesale_cart">
    <% if current_wholesale_order %>
      <table>
        <%= wholesale_cart_sort_row %>
        <%= render current_wholesale_order.wholesale_items %>
        <%= wholesale_cart_total_row current_wholesale_order %>
      </table>
    <% end %>
  </div>
</div>
