<h1>Listing wholesale_orders</h1>

<table>
  <tr>
    <th>Reseller</th>
    <th>Shipping address</th>
    <th>Status</th>
    <th>Quantity</th>
    <th>Available</th>
    <th>Begun</th>
    <th>Updated</th>
    <th><%= link_to 'Submitted', :sort => 'submission_date desc nulls last' %></th>
    <th></th>
  </tr>

<% @wholesale_orders.each do |wholesale_order| %>
  <tr>
    <td><%= link_to_name wholesale_order.reseller %></td>
    <td><%= link_to_name wholesale_order.reseller.delivery_address %></td>
    <td><%= wholesale_order.status %></td>
    <td><%= wholesale_order.item_count %></td>
    <td><%= wholesale_order.items_available_in_quantity %></td>
    <td><%= wholesale_order.created_at %></td>
    <td><%= wholesale_order.updated_at %></td>
    <td><%= wholesale_order.submission_date %></td>
    <td><%= link_to 'Show', wholesale_order %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wholesale order', new_wholesale_order_path %>
