<div id="wholesale">
  <% @categories.each do |category| %>
    <%= div_for category do %>
      <h3><%= category.name %></h3>
      <% category.body_styles.each do |body_style| %>
        <%= link_to body_style_wholesale_orders_path(body_style, :category_id => category.id), :remote => true, :class => 'wholesale_group', :id => dom_id(body_style) do %>
          <%= div_for body_style, :wholesale_product_group_for do %>
            <%= image_tag body_style.image, :class => 'wholesale_thumb' if body_style.image.present? %><br>
            <%= body_style.name %><br>
            <%= pluralize body_style.products.count, 'product' %>
          <% end %>
        <% end %>
      <% end %>
      <%= div_for category, :order_area_for do %>
    
      <% end %>
    <% end %>
  <% end %>

  <% @designs.in_groups_of 6 do |designs| %>
    <% designs.compact.each do |design| %>
      <%= link_to design_wholesale_orders_path(design), :remote => true, :class => 'wholesale_group', :id => dom_id(design) do %>
        <%= div_for design, :wholesale_product_group_for do %>
          <%= image_tag design.art_url(:product_box), :class => 'wholesale_thumb' if design.art.present? %><br>
          <%= design.name %><br>
          <%= pluralize design.products.count, 'product' %>
        <% end %>
      <% end %>
    <% end %>
    <% designs.compact.each do |design| %>
      <%= div_for design, :order_area_for do %>
    
      <% end %>
    <% end %>
  <% end %>
</div>
