<p id="notice"><%= notice %></p>

<p>
  <b>Reseller:</b>
  <%= @wholesale_order.reseller_id %>
</p>

<p>
  <b>Shipping address:</b>
  <%= @wholesale_order.shipping_address_id %>
</p>

<p>
  <b>Status:</b>
  <%= @wholesale_order.status %>
</p>

<% @wholesale_order.wholesale_items.each do |wholesale_item| %>
  <%= div_for wholesale_item do %>
    <%= wholesale_item.quantity %>x
    <%= wholesale_item.garment.name %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_wholesale_order_path(@wholesale_order) %> |
<%= link_to 'Back', wholesale_orders_path %>
