<p id="notice"><%= notice %></p>

<p>
  <b>Reseller:</b>
  <%= @wholesale_order.reseller_id %>
</p>

<p>
  <b>Shipping address:</b>
  <%= @wholesale_order.shipping_address_id %>
</p>

<p>
  <b>Status:</b>
  <%= @wholesale_order.status %>
  <% if @wholesale_order.status == 'submitted' && @wholesale_order.reseller.has_credit_card? %>
    <br><%= link_to 'Approve Order', approve_wholesale_order_path(@wholesale_order), :method => :put %>
  <% end %>
</p>

<%= number_to_currency @wholesale_order.dollar_price %><br>

<table>
  <%= render :partial => @wholesale_order.wholesale_items.inventory_order %>
</table>

<%= number_to_currency @wholesale_order.dollar_price %><br>

<%= link_to 'Edit', edit_wholesale_order_path(@wholesale_order) %> |
<%= link_to 'Back', wholesale_orders_path %>
