<%= form_for(@wholesale_item) do |f| %>
  <% if @wholesale_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wholesale_item.errors.count, "error") %> prohibited this wholesale_item from being saved:</h2>

      <ul>
      <% @wholesale_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wholesale_order_id %><br />
    <%= f.number_field :wholesale_order_id %>
  </div>
  <div class="field">
    <%= f.label :garment_id %><br />
    <%= f.number_field :garment_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
