<%= content_tag_for :tr, wholesale_item do %>
  <td>[<%= wholesale_item.garment.inventory_amount%> in stock]</td>
  <%= content_tag_for :td, wholesale_item, :quantity_of do %>
    <%= wholesale_item.quantity %>x<br>
    <%= link_to '(edit)', edit_wholesale_item_path(wholesale_item), :remote => true %>
  <% end %>
  <td><%= link_to wholesale_item.garment.id, wholesale_item.garment %></td>
  <td><%= wholesale_item.garment.og_code %></td>
  <td><%= wholesale_item.product_code %></td>
  <td><%= link_to_name wholesale_item.design %></td>
  <td><%= link_to_name wholesale_item.body_style %></td>
  <td><%= link_to_name wholesale_item.size %></td>
  <td><%= link_to_name wholesale_item.color %></td>
  <td><%= number_to_currency wholesale_item.dollar_price %></td>
  <td><%= image_tag wholesale_item.garment.product.primary_image(:email_receipt), :style => "background-color:##{wholesale_item.garment.color.css_hex_code};width:40px;" %></td>
  <td><%= link_to image_tag(asset_path 'X_button.gif'), wholesale_item, :method => :delete, :remote => true %></td>
<% end %>
