<%= content_tag_for :tr, wholesale_item do %>
  <td><%= wholesale_item.quantity %></td>
  <td><%= image_tag wholesale_item.product.primary_image(:email_receipt), :style => "background-color: ##{wholesale_item.color.css_hex_code}" %></td>
  <td><%= wholesale_item.garment.name %></td>
  <td><%= wholesale_item.body_style.name %></td>
  <td><%= wholesale_item.design.name %></td>
  <td><%= wholesale_item.color.name %></td>
  <td><%= wholesale_item.size.name %></td>
  <td><%= number_to_currency wholesale_item.unit_price %></td>
  <td><%= number_to_currency wholesale_item.dollar_price %></td>
<% end %>
