<h1>Listing wholesale_items</h1>

<table>
  <tr>
    <th>Wholesale order</th>
    <th>Garment</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wholesale_items.each do |wholesale_item| %>
  <tr>
    <td><%= wholesale_item.wholesale_order_id %></td>
    <td><%= wholesale_item.garment_id %></td>
    <td><%= wholesale_item.quantity %></td>
    <td><%= link_to 'Show', wholesale_item %></td>
    <td><%= link_to 'Edit', edit_wholesale_item_path(wholesale_item) %></td>
    <td><%= link_to 'Destroy', wholesale_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wholesale item', new_wholesale_item_path %>
