<h1>Bulletin Pairings</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Content page</th>
    <th>Bulletin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bulletin_pairings.each do |bulletin_pairing| %>
  <tr>
    <td><%= link_to bulletin_pairing.position, bulletin_pairing %></td>
    <td><%= link_to_name bulletin_pairing.content_page %></td>
    <td><%= link_to_name bulletin_pairing.bulletin %></td>
    <td><%= link_to 'edit', edit_bulletin_pairing_path(bulletin_pairing) %></td>
    <td><%= button_to 'x', bulletin_pairing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bulletin Pairing', new_bulletin_pairing_path %>
