<h1>Listing comments</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Customer</th>
    <th>Message</th>
    <th>Moderated by</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= link_to_name comment.product %></td>
    <td><%= link_to_name comment.customer %></td>
    <td><%= comment.message %></td>
    <td><%= comment.moderated_by? ? BusinessManager.find(comment.moderated_by).email : link_to('approve', comment_path(comment, :comment => {:moderated_by => current_business_manager.id}), :method => :put) %></td>
    <td><%= comment.position %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
