<h1>Body Style Categorizations</h1>

<table>
  <tr>
    <th>Position</th>
    <th>Category</th>
    <th>Body style</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @body_style_categorizations.each do |body_style_categorization| %>
  <tr>
    <td><%= link_to body_style_categorization.position, body_style_categorization %></td>
    <td><%= link_to_name body_style_categorization.category %></td>
    <td><%= link_to_name body_style_categorization.body_style %></td>
    <td><%= body_style_categorization.active %></td>
    <td>
      <%= link_to 'up', move_up_body_style_categorization_path(body_style_categorization), :method => :put %>
      <%= link_to 'down', move_down_body_style_categorization_path(body_style_categorization), :method => :put %>
    </td>
    <td><%= link_to 'edit', edit_body_style_categorization_path(body_style_categorization) %></td>
    <td><%= button_to 'x', body_style_categorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Body Style Categorization', new_body_style_categorization_path %>
