<%= form_for(@bulletin) do |f| %>
  <% if @bulletin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bulletin.errors.count, "error") %> prohibited this bulletin from being saved:</h2>

      <ul>
      <% @bulletin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :teaser %><br>
    <%= f.text_area :teaser %>
  </div>
  <div class="field">
    <%= f.label :facebook_post_id %>
    <%= f.text_field :facebook_post_id %>
  </div>
  <div class="field">
    <%= f.label :facebook_image_url %>
    <%= f.text_field :facebook_image_url %>
  </div>
  <div class="field">
    <%= f.label :show_more %>
    <%= f.check_box :show_more %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
