<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bulletin.title %>
</p>

<p>
  <b>Content:</b>
  <%= @bulletin.content %>
</p>

<p>
  <b>Active:</b>
  <%= @bulletin.active %>
</p>


<%= link_to 'Edit', edit_bulletin_path(@bulletin) %> |
<%= link_to 'Back', bulletins_path %>
