<%= form_for(@product_size) do |f| %>
  <% if @product_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_size.errors.count, "error") %> prohibited this product_size from being saved:</h2>

      <ul>
      <% @product_size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.select :product_id, options_from_collection_for_select(Product.ordered, :id, :name, @product_size.product_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :size_id %><br />
    <%= f.select :size_id, options_from_collection_for_select(Size.all, :id, :name, @product_size.size_id), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
