<h1>Listing mailing_list_registrations</h1>

<table>
  <tr>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <th>City</th>
    <th>State</th>
    <th>Festival</th>
    <th></th>
    <th></th>
    <th></th>
    <th><%= link_to 'New Mailing list registration', new_mailing_list_registration_path, :class => 'btn btn-success' %></th>
  </tr>

<% @mailing_list_registrations.each do |mailing_list_registration| %>
  <tr>
    <td><%= mailing_list_registration.email %></td>
    <td><%= mailing_list_registration.first_name %></td>
    <td><%= mailing_list_registration.last_name %></td>
    <td><%= mailing_list_registration.city %></td>
    <td><%= mailing_list_registration.state %></td>
    <td><%= mailing_list_registration.festival %></td>
    <td><%= mailing_list_registration.referral.andand.name %></td>
    <td><%= mailing_list_registration.created_at.strftime("%m/%d/%y") %></td>
    <td><%= link_to 'Show', mailing_list_registration %></td>
    <td>
      <%= link_to image_tag('edit_button.gif'), edit_mailing_list_registration_path(mailing_list_registration) %>
      <%= link_to image_tag('X_button.gif'), mailing_list_registration, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @mailing_list_registrations %>

<%= form_tag import_mailing_list_registrations_path, :multipart => true do %>
  <%= file_field :csv, :data %>
  <%= submit_tag :import %>
<% end %>
