<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @mailing_list_registration.email %>
</p>

<p>
  <b>First name:</b>
  <%= @mailing_list_registration.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @mailing_list_registration.last_name %>
</p>

<p>
  <b>Street:</b>
  <%= @mailing_list_registration.street %>
</p>

<p>
  <b>2nd Line:</b>
  <%= @mailing_list_registration.street2 %>
</p>

<p>
  <b>City:</b>
  <%= @mailing_list_registration.city %>
</p>

<p>
  <b>State:</b>
  <%= @mailing_list_registration.state %>
</p>

<p>
  <b>Festival:</b>
  <%= @mailing_list_registration.festival %>
</p>


<%= link_to image_tag('edit_button.gif'), edit_mailing_list_registration_path(@mailing_list_registration) %> |
<%= link_to image_tag('back_button.gif'), mailing_list_registrations_path %>
