<h1>Listing inventory_snapshots</h1>

<table>
  <tr>
    <th>Design</th>
    <th>Body Style</th>
    <th>Size</th>
    <th>Color</th>
    <th>Garment</th>
    <th>Initial amount</th>
    <th>Current amount</th>
    <th><%= link_to 'Updated', :sort => 'updated_at desc' %></th>
    <th>Current?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_snapshots.each do |inventory_snapshot| %>
  <tr>
    <td><%= link_to inventory_snapshot.design.name, design_inventory_snapshots_path(inventory_snapshot.design.id) %></td>
    <td><%= link_to inventory_snapshot.body_style.name, body_style_inventory_snapshots_path(inventory_snapshot.body_style.id) %></td>
    <td><%= link_to inventory_snapshot.size.name, size_inventory_snapshots_path(inventory_snapshot.size.id) %></td>
    <td><%= link_to inventory_snapshot.color.name, color_inventory_snapshots_path(inventory_snapshot.color.id) %></td>
    <td><%= link_to_name inventory_snapshot.garment %></td>
    <td><%= inventory_snapshot.initial_amount %></td>
    <td><%= inventory_snapshot.current_amount %></td>
    <td><%= inventory_snapshot.created_at.strftime("%m/%d/%y") %></td>
    <td><%= inventory_snapshot.current? %></td>
    <td><%= link_to 'Show', inventory_snapshot %></td>
    <td><%= link_to 'Edit', edit_inventory_snapshot_path(inventory_snapshot) %></td>
    <td><%= link_to 'Destroy', inventory_snapshot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory snapshot', new_inventory_snapshot_path %>

<%= paginate @inventory_snapshots %>
<br>
<%= link_to 'download CSV of inventory', csv_of_inventory_snapshots_path %><br>
<%= link_to 'compare inventory from dates', compare_dates_inventory_snapshots_path %>