<h1>Listing inventory_snapshots</h1>

<table>
  <tr>
    <th>Garment</th>
    <th>Initial amount</th>
    <th>Current amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inventory_snapshots.each do |inventory_snapshot| %>
  <tr>
    <td><%= link_to_name inventory_snapshot.garment %></td>
    <td><%= inventory_snapshot.initial_amount %></td>
    <td><%= inventory_snapshot.current_amount %></td>
    <td><%= link_to 'Show', inventory_snapshot %></td>
    <td><%= link_to 'Edit', edit_inventory_snapshot_path(inventory_snapshot) %></td>
    <td><%= link_to 'Destroy', inventory_snapshot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory snapshot', new_inventory_snapshot_path %>

<%= paginate @inventory_snapshots %>
<br>
<%= link_to 'download CSV of inventory', csv_of_inventory_snapshots_path %>