<p id="notice"><%= notice %></p>

<%= render @inventory_snapshot %>

<%= link_to 'show previous inventory levels', previous_inventory_snapshot_path(@inventory_snapshot), :remote => true %>
<div id="previous_snapshots"></div>

<%= link_to 'Edit', edit_inventory_snapshot_path(@inventory_snapshot) %> |
<%= link_to 'Back', inventory_snapshots_path %>
