<div id="banner_gallery">
  <% @banners.each do |banner| %>
    <div class="banner">
      <%= link_to image_tag(banner.image_url(:gallery_thumb)), "##{dom_id(banner, :full_size)}", :class => 'fancybox' %>
      <% if liked_banners.include? banner.id %>
        <%= image_tag(asset_path('purple_heart.png'), :class => 'heart right') %>
      <% else %>
        <%= link_to(image_tag(asset_path('maroon_heart.png'), :title => 'Like this image', :class => 'heart', :id => dom_id(banner, :heart_for)), likes_path(:like => {:favorite_type => 'Banner', :favorite_id => banner.id}), :'data-banner_url' => display_banner_url(banner), :remote => true, :method => :post, :class => 'right gallery_like banner_like') %>
      <% end %>
      <span class="right like_count banner_like" id="<%= dom_id banner, :likes_of %>"><%= banner.likes.count %></span>
    </div>
    
    <%= image_tag(banner.image_url, :id => dom_id(banner, :full_size), :class => 'full_banner') %>
  <% end %>
</div>
