<h1>Listing banners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Caption</th>
    <th>Image</th>
    <th>Link</th>
    <th>Position</th>
    <th>In Gallery?</th>
    <th></th>
    <th></th>
    <th><%= link_to 'New Banner', new_banner_path, :class => 'btn btn-success' %></th>
  </tr>

<% @banners.each do |banner| %>
  <tr>
    <td><%= banner.name %></td>
    <td><%= banner.caption %></td>
    <td><%= banner.image_url if banner.image.present? %></td>
    <td><%= banner.link %></td>
    <td><%= banner.position %></td>
    <td><%= check_box_tag dom_id(banner), 1, banner.active_in_gallery, :class => 'banner_in_gallery_checkbox', :'data-banner_id' => banner.id %>
    <td><%= image_tag banner.image_url, :width => 120 if banner.image.present? %></td>
    <td><%= link_to 'Show', banner %></td>
    <td>
      <%= link_to image_tag(asset_path('edit_button.gif')), edit_banner_path(banner) %>
      <%= link_to image_tag(asset_path('X_button.gif')), banner, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
