<h1>
  <% if action_name == 'index' %>
    <div class="admin_header_name">
      Our Banners
    </div>
    <div class="admin_header_name">
      <span><%= link_to 'gallery banners', :filter => 'gallery' %></span>
    </div>
    <div class="admin_header_name">
      <span><%= link_to 'front page banners', :banner_group => 'featured_square' %></span>
    </div>
    <div class="admin_header_name">
      <span><%= link_to 'customer-submitted', customers_index_banners_path %></span>
    </div>
  <% else %>
    <div>
      Customer Banners
    </div>
    <span><%= link_to 'ours', banners_path %></span>
  <% end %>
</h1>

<table>
  <tr>
    <th><%= link_to 'Name', :sort => 'name', :name_sort_direction => (params[:name_sort_direction] == 'asc' ? 'desc' : 'asc') %></th>
    <th>Caption</th>
    <th>Image</th>
    <th>Link</th>
    <th><%= link_to 'Gallery Position', params.merge(:sort => 'gallery_position') %></th>
    <th>In Gallery?</th>
    <th></th>
    <th></th>
    <th><%= link_to 'New Banner', new_banner_path, :class => 'btn btn-success' %></th>
    <th><%= link_to 'Delete checked', delete_banners_path, :method => :delete, :id => 'delete_banners', :remote => true %>
  </tr>

<% @banners.each do |banner| %>
  <tr id="banner_<%= banner.id %>">
    <td>
      <%= link_to banner.name, :name_pick => banner.name %>
      <% if banner.name.andand.[](-1).andand.==(' ') %>
        (trailing space present)
      <% end %>
    </td>
    <td><%= banner.caption %></td>
    <td><%= banner.image_url if banner.image.present? %></td>
    <td><%= banner.link %></td>
    <td><%= banner.gallery_position %></td>
    <td><%= check_box_tag dom_id(banner), 1, banner.active_in_gallery, :class => 'banner_in_gallery_checkbox', :'data-banner_id' => banner.id %>
    <td><%= image_tag banner.image_url, :width => 120 if banner.image.present? %></td>
    <td><%= link_to 'Show', banner %></td>
    <td>
      <%= link_to image_tag('up_button.gif'), move_up_in_gallery_banner_path(banner), :method => :put %>
      <%= link_to image_tag('down_button.gif'), move_down_in_gallery_banner_path(banner), :method => :put %>
      <%= link_to image_tag(asset_path('edit_button.gif')), edit_banner_path(banner) %>
      <%= link_to image_tag(asset_path('X_button.gif')), banner, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td>
      <%= check_box_tag "destroy_#{banner.id}", banner.id, nil, :class => 'destroy_banner' %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @banners %>
