<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @banner.name %>
</p>

<p>
  <b>Caption:</b>
  <%= @banner.caption %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @banner.image_url if @banner.image %>
</p>

<p>
  <b>Link:</b>
  <%= @banner.link %>
</p>

<p>
  <b>Active in Gallery:</b>
  <%= @banner.active_in_gallery %>
</p>

<div>
  Tagged products:
  <% @banner.banner_tags.each do |banner_tag| %>
    <div>
      <%= link_to_name banner_tag %> - 
      <%= link_to_name banner_tag.tag %>
    </div>
  <% end %>
</div>

<%= link_to image_tag(asset_path('edit_button.gif')), edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
