<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @banner.name %>
</p>

<p>
  <b>Caption:</b>
  <%= @banner.caption %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@banner.image_url) if @banner.image %>
</p>

<p>
  <b>Link:</b>
  <%= @banner.link %>
</p>

<p>
  <b>Active in Gallery:</b>
  <%= @banner.active_in_gallery %>
</p>

Tagged products:
<%= link_to 'add', new_banner_banner_tag_path(@banner) %>
<table class="banner_tag_list">
  <% @banner.banner_tags.each do |banner_tag| %>
    <tr>
      <td>
        <% if banner_tag.tag_type == 'Year' %>
          [<%= banner_tag.tag_type %>]
        <% else %>
          [<%= link_to banner_tag.tag_type, tagged_banners_path(banner_tag.tag) %>]
        <% end %>
      </td>
      <td>
        <% if banner_tag.tag_type == 'Year' %>
          <%= banner_tag.tag_id %>
        <% else %>
          <%= link_to_name banner_tag.tag %>
        <% end %>
      </td>
      <td class="preview">
        <% case banner_tag.tag_type %>
        <% when 'Design' %>
          <%= image_tag(banner_tag.tag.art_url) if banner_tag.tag.art %>
        <% when 'BodyStyle' %>
          <%= image_tag(banner_tag.tag.image_url) if banner_tag.tag.image %>
        <% when 'Product' %>
          <%= image_tag(banner_tag.tag.primary_image) if banner_tag.tag.primary_image %>
        <% when 'Color' %>
          <div style="width:100px;height:100px;background-color:#<%= banner_tag.tag.css_hex_code %>;" class="swatch"></div>
        <% when 'ProductColor' %>
          <%= image_tag(banner_tag.tag.product.primary_image(:product_box), :style => "background-color:##{banner_tag.tag.color.css_hex_code};") %>
        <% when 'Garment' %>
          <%= image_tag(banner_tag.tag.product.primary_image(:product_box), :style => "background-color:##{banner_tag.tag.color.css_hex_code};") %>
        <% end %>
      </td>
      <td><%= link_to 'Show', banner_tag %></td>
      <td><%= link_to image_tag(asset_path('X_button.gif')), banner_tag, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %>
    </tr>
  <% end %>
</table>

<%= link_to image_tag(asset_path('edit_button.gif')), edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
