<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @banner.name %>
</p>

<p>
  <b>Caption:</b>
  <%= @banner.caption %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @banner.image_url if @banner.image %>
</p>

<p>
  <b>Link:</b>
  <%= @banner.link %>
</p>

<p>
  <b>Active in Gallery:</b>
  <%= @banner.active_in_gallery %>
</p>

<%= link_to image_tag(asset_path('edit_button.gif')), edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
