<p id="notice"><%= notice %></p>

<p>
  <b>Supplier:</b>
  <%= link_to_name @print_purchase_order.supplier %>
</p>

<p>
  <b>Billing address:</b>
  <%= link_to @print_purchase_order.billing_address.street, @print_purchase_order.billing_address %>
</p>

<p>
  <b>Garment purchase order:</b>
  <%= link_to_name @print_purchase_order.garment_purchase_order %>
</p>

<div class="quantities">
  <% @print_purchase_order.quantities.each do |quantity| %>
    <%= div_for quantity, :style => "border: 1px solid ##{quantity.color.andand.css_hex_code};" do %>
      <%= image_tag quantity.design.art_url(:product_box), :width => 20 %>
      <%= link_to_name quantity.garment %>
      (<%= quantity.purchased %>)
    <% end %>
  <% end %>
</div>
<hr>
<div id="creating_print_quantity">
  
</div>

<div class="quantities">
  <% @print_purchase_order.garment_purchase_order.andand.quantities.andand.each do |quantity| %>
    <%= div_for quantity, :style => "border: 1px solid ##{quantity.color.andand.css_hex_code};" do %>
      <%= link_to_name quantity.stock %>
      (<%= quantity.purchased %>)
      <%= link_to 'print', print_on_quantity_path(quantity, :print_purchase_order_id => @print_purchase_order.id), :remote => true %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_print_purchase_order_path(@print_purchase_order) %> |
<%= link_to 'Back', print_purchase_orders_path %>
