<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body_style_size %><br />
    <%= f.select :body_style_size_id, options_from_collection_for_select(BodyStyle.ordered, :id, :name, @stock.body_style_size_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.select :color_id, options_from_collection_for_select(Color.ordered, :id, :name, @stock.color_id), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
