<%= form_for(@coupon_product) do |f| %>
  <% if @coupon_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon_product.errors.count, "error") %> prohibited this coupon_product from being saved:</h2>

      <ul>
      <% @coupon_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coupon_id %><br />
    <%= f.select :coupon_id, options_from_collection_for_select(Coupon.all, :id, :name, @coupon_product.coupon_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :name, @coupon_product.product_id), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
