<div id="category_navigation_background" class="age_group_nav_background">
  <div id="category_navigation">
    <% ContentPage.find_by_slug('home').categories.age_group.each do |category| %>
      <div class="dropdown">
        <%= link_to category.name, category_path(category.slug), :id => category.name, :class => 'nav-group', :'data-hover' => :dropdown, :'data-target' => "#{category.name}-sub-menu" %>
        <%= content_tag :ul, :class => "dropdown-menu little-hippie-navigation", :id => "#{category.name}-sub-menu" do %>
          <% category.body_styles.active.ordered.each do |body_style| %>
            <%= content_tag_for :li, body_style do %>
              <%= link_to body_style.name, detail_body_style_path(body_style) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% Link.active.ordered.each do |link| %>
      <div class="homepage_link">
        <%= link_to link.display_text, link.href %>
      </div>
    <% end %>
  </div>
</div>
