<div id="category_navigation_background" class="age_group_nav_background">
  <div id="category_navigation">
    <% ContentPage.find_by_slug('home').categories.age_group.each do |category| %>
      <div class="dropdown">
        <%= link_to category.name, category_path(category.slug), :id => category.name, :class => 'nav-group', :'data-hover' => :dropdown, :'data-target' => "#{category.name}-sub-menu" %>
        <%= content_tag :ul, :class => "dropdown-menu little-hippie-navigation", :id => "#{category.name}-sub-menu" do %>
          <% category.body_styles.ordered.each do |body_style| %>
            <%= content_tag_for :li, body_style do %>
              <%= link_to body_style.name, detail_body_style_path(body_style) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  <div class="browse_by_toggle_bg" id="browse_by_toggle_links">
    <%= link_to 'Browse by Style', browse_body_styles_path %>
<br>
    <%= link_to 'Browse by Design', browse_designs_path %>
  </div>
<div id="navigation" class='content_nav_background'>
  <% ContentPage.navigation.children.active.ordered.each do |content_group| %>
    <div class="dropdown">
      <%= content_tag :a, content_group.name, :href => display_content_page_path(content_group.slug), :id => content_group.slug, :class => 'nav-group', :'data-hover' => :dropdown, :'data-target' => "#{content_group.slug}-sub-menu" %>
      <%= content_tag :ul, :class => "dropdown-menu little-hippie-navigation", :id => "#{content_group.slug}-sub-menu" do %>
        <% content_group.children.active.ordered.each do |content_page| %>
          <%= content_tag_for :li, content_page do %>
            <%= link_to content_page.name, display_content_page_path(content_page.slug) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
