<%= form_for(@received_inventory) do |f| %>
  <% if @received_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@received_inventory.errors.count, "error") %> prohibited this received_inventory from being saved:</h2>

      <ul>
      <% @received_inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :delivery_id %><br />
    <%= f.select :delivery_id, options_from_collection_for_select(Delivery.all, :id, :name, @received_inventory.delivery_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :amount_delayed %><br />
    <%= f.number_field :amount_delayed %>
  </div>
  <div class="field">
    <%= f.label :amount_cancelled %><br />
    <%= f.number_field :amount_cancelled %>
  </div>
  <div class="field">
    <%= f.label :date_received %><br />
    <%= f.datetime_select :date_received, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
