<p id="notice"><%= notice %></p>

<p>
  <b>Delivery:</b>
  <%= link_to_name @received_inventory.delivery %>
</p>

<p>
  <b>Date Delivered:</b>
  <%= @received_inventory.date_received %>
</p>

<p>
  <b>Quantity:</b>
  <%= link_to_name @received_inventory.quantity %>
</p>

<p>
  <b>Amount delayed:</b>
  <%= @received_inventory.amount_delayed %>
</p>

<p>
  <b>Amount cancelled:</b>
  <%= @received_inventory.amount_cancelled %>
</p>

<p>
  <b>Date received:</b>
  <%= @received_inventory.date_received %>
</p>

<p>
  <b>First snapshot:</b>
  <%= @received_inventory.first_snapshot %>
</p>


<%= link_to 'Edit', edit_received_inventory_path(@received_inventory) %> |
<%= link_to 'Back', received_inventories_path %>
