<%= form_for(@delivery) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :delivery_address_id %><br />
    <%= f.select :delivery_address_id, options_from_collection_for_select(DeliveryAddress.all, :id, :street, @delivery.delivery_address_id), :include_blank => true %>
  </div>
  
  <div class="field">
    <%= f.label :quantity_id %>
    <%= f.select :quantity_id, options_from_collection_for_select(Quantity.all, :id, :name, @delivery.quantity_id), :include_blank => true %>
  </div>
  
  <div class="field">
    <%= f.label :quantity_delivered %>
    <%= f.number_field :quantity_delivered %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
