<h1>Listing deliveries</h1>

<table>
  <tr>
    <th>Delivery address</th>
    <th>Print purchase order</th>
    <th>Garment purchase order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deliveries.each do |delivery| %>
  <tr>
    <td><%= delivery.delivery_address %></td>
    <td><%= delivery.print_purchase_order %></td>
    <td><%= delivery.garment_purchase_order %></td>
    <td><%= link_to 'Show', delivery %></td>
    <td><%= link_to 'Edit', edit_delivery_path(delivery) %></td>
    <td><%= link_to 'Destroy', delivery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Delivery', new_delivery_path %>
