<p id="notice"><%= notice %></p>

<p>
  <b>Delivery address:</b>
  <%= link_to @delivery.delivery_address.street, @delivery.delivery_address %>
</p>

<p>
  <%= link_to_name @delivery.garment_purchase_order %>
</p>

<p>
  <%= link_to_name @delivery.print_purchase_order %>
</p>

<p>
  <b>Quantity:</b>
  <%= link_to_name @delivery.quantity %>
</p>

<p>
  <b>Quantity delivered:</b>
  <%= @delivery.quantity_delivered %>
</p>


<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
<br>
<%= link_to 'mark as received', receive_delivery_path(@delivery), :method => :put %>
