<p>
	Hello <%= @customer.andand.first_name || @stripe_customer.email %>,
</p>

<p>
	Thanks so much for supporting Little Hippie!  Here are the details of your order:
</p>

<p>
	Items: <%= @cart.item_quantity %>
	<table>
		<% @items.each do |item| %>
			<%= content_tag_for :tr, item do %>
			  <td><%= image_tag(item.product.primary_image(:email_receipt), :style => "background-color: ##{item.color.css_hex_code};") %></td>
			  <td><%= item.quantity %>x</td>
			  <td>
			    <%= item.name %>
			    <% if item.gift_wrap? %>
			      (gift wrapped)
			    <% end %>
			  </td>
			  <td><%= number_to_currency item.cost %></td>
			<% end %>
		<% end %>
		<tr>
		  <td></td>
		  <td>Shipping:</td>
		  <td><%= number_to_currency @cart.shipping_charge %></td>
		</tr>
	  <% if @coupon.present? %>
  		<tr>
  		  <td></td>
  		  <td>Subtotal:</td>
  		  <td><%= number_to_currency @cart.subtotal %></td>
  		</tr>
  	  <tr>
		    <td><%= @coupon.name %></td>
		    <td>Discount:</td>
		    <td><%= number_to_currency(@cart.subtotal - @cart.subtotal_after_coupon) %></td>
  		</tr>
		<% end %>
	  <tr>
	    <td></td>
	    <td>Total:</td>
	    <td><%= number_to_currency @cart.subtotal_after_coupon %></td>
		</tr>

	</table>
</p>

Shipping to:<br>
<p>
	<%= @shipping_address.display %>
</p>

<p>
If you need any help with your order, you can reach us by email us at <%= mail_to 'customerservice@littlehippie.com' %>.
</p>

<p>
Please come back again soon!  We have new art and products all the time, and we love when you visit us.      
</p>

<p>
xo,
</p>
<p>
Little Hippie®
</p>
