<p>
	Hello <%= @customer.andand.first_name || @stripe_customer.email %>,
</p>

<p>
	Here are the details of your order.  Thanks so much,
</p>

<p>
	Taylor
</p>

<p>
	Items: <%= @cart.item_quantity %>
	<table>
		<% @items.each do |item| %>
			<%= content_tag_for :tr, item do %>
			  <td><%= item.quantity %>x</td>
			  <td>
			    <%= item.name %>
			    <% if item.gift_wrap? %>
			      (gift wrapped)
			    <% end %>
			  </td>
			  <td><%= number_to_currency item.cost %></td>
			<% end %>
		<% end %>
		<tr>
		  <td></td>
		  <td>Shipping:</td>
		  <td><%= number_to_currency @cart.shipping_charge %></td>
		</tr>
		<tr>
		  <td></td>
		  <td>Subtotal:</td>
		  <td><%= number_to_currency @cart.subtotal %></td>
		</tr>
	  <% if @cart.coupon.present? %>
  	  <tr>
		    <td></td>
		    <td>Discount:</td>
		    <td><%= number_to_currency(@cart.subtotal - @cart.subtotal_after_coupon) %></td>
  		</tr>
  	  <tr>
		    <td></td>
		    <td>Total:</td>
		    <td><%= number_to_currency @cart.subtotal_after_coupon %></td>
  		</tr>
		<% end %>
	</table>
</p>

Shipping to:<br>
<p>
	<%= @shipping_address.display %>
</p>

Billed to:<br>
<p>
	<%= @billing_address.html_safe %>
</p>

<p>
You can contact support by email, at <%= mail_to 'admin@littlehippie.com' %>.
</p>

<p>
	Shop with us again.  We have new art and products all the time.  Thanks,
</p>

<p>
	-	Little Hippie
</p>
