<header>
  <heading class="customer_name"><%= @customer.name %></heading>
    <br>
    <br>
    <br>
  <heading class="customer_since">Customer since <%= @customer.created_at.year %></heading>
</header>
<br>
<heading class="customer_feedback_header">We want to hear from you! </heading>
<br>
<section class="customer_feedback">
  <div id="feedback_received_area"></div>
  <%= form_tag feedbacks_path, :remote => true do %>
    <%= text_area_tag :message, nil, :class => "customer_feedback_text" %>
    <br>
    <%= submit_tag "Talk to us!", :class =>"talk_to_us" %>
  <% end %>
</section>
<br>
<br>
<section>
  <header>
    <heading class="customer_wish_list">Wish List</heading>
  </header>
  <br>
  <hr>
  <section class="wishlist">
    <% @customer.primary_wishlist.wishlist_items.each do |wishlist_item| %>
      <%= link_to detail_product_path(wishlist_item.product) do %>
        <item>
          <%= image_tag wishlist_item.product.primary_image(:product_box), :style => "background-color: ##{wishlist_item.color.css_hex_code}" %>
          <%= wishlist_item.product.name %> (<%= wishlist_item.size.name %> in <%= wishlist_item.color.name %>)
        </item>
      <% end %>
    <% end %>
  </section>
</section>

<section>
  <header>
    <heading class="customer_address_header">Addresses</heading>
  </header>
  <br>
  <hr>
  <section class="customer_shipping_address">
    You have <%= link_to pluralize(@customer.shipping_addresses.visible.count, 'shipping address'), customer_shipping_addresses_path(@customer), :remote => true %> saved with us.
    <%= clearboth %>
  </section>
  <br>
  <%= clearboth %>
  <br>
  <header>
    <heading class="customer_payments_header">Payment Methods</heading>
  </header>
  <br>
  <hr>
  <section class="customer_payment_methods">
    You have <%= link_to pluralize(@customer.credit_cards.count, 'payment method'), customer_credit_cards_path(@customer), :remote => true %> saved.
  </section>
  <br>
  <%= clearboth %>
  <br>
  <section>
    <header>
      <heading class="customer_past_orders">Past Orders</heading>
    </header>
    <br>
    <hr>
    <% @customer.carts.each do |cart| %>
      <section class="customer_cart_items">
        <%= link_to pluralize(cart.items.count, 'item'), cart_items_path(cart) %> on <%= cart.updated_at.strftime("%B %d") %>
      </section>
      <br>
    <% end %>
  </section>
  <%= clearboth %>
  <section>
    <header>
      <heading class="customer_suggested_items">Suggested Items</heading>
      <hr>
    </header>
    <% @suggested_products.each do |product| %>
      <section class="customer_recommended_products">
        <%= link_to image_tag(product.primary_image(:product_box), :class => "customer_recommended_products_image", :style => "background-color:##{product.random_color.andand.css_hex_code};"), detail_product_path(product) %>
      </section>
    <% end %>
  </section>
</section>
