<p id="notice"><%= notice %></p>

<%= @customer.name %>
<br>
<%= @customer.phone_number %>
<br>
<%= "Signed in #{@customer.sign_in_count} times.  Current sign in #{time_ago_in_words @customer.current_sign_in_at} ago, last sign in #{time_ago_in_words @customer.last_sign_in_at} ago." %>
<br>
<%= @customer.first_name %><%= @customer.charges.complete.any? ? 'has' : 'has not' %> shopped with us.
<%= pluralize(@customer.carts.count, 'cart') %> worth <%= number_to_currency @customer.carts.inject(0) { |sum, cart| sum + cart.subtotal } %>:
<% @customer.carts.each do |cart| %>
  <%= div_for cart do %>
    Cart <%= link_to cart.id, cart %> created on <%= cart.created_at.strftime("%m/%d/%y") %>
    <ol>
      <% cart.items.each do |item| %>
        <li><%= item.name %></li>
      <% end %>
    </ol>
  <% end %>
<% end %>


<%= link_to image_tag('edit_button.gif'), edit_customer_path(@customer) %> |
<%= link_to image_tag('back_button.gif'), customers_path %>
