<h1>Sizes</h1>
<%= link_to 'New Size', new_size_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sizes.each do |size| %>
  <tr>
    <td><%= link_to_name size %></td>
    <td><%= size.code %></td>
    <td>
      <%= link_to image_tag('up_button.gif'), move_up_size_path(size), :method => :put %>
      <%= link_to image_tag('down_button.gif'), move_down_size_path(size), :method => :put %>
      <%= link_to image_tag('edit_button.gif'), edit_size_path(size) %>
      <%= link_to image_tag('X_button.gif'), size, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%= link_to pluralize(size.body_style_sizes.count, 'body style size'), size_body_style_sizes_path(size) %></td>
    <td><%= link_to pluralize(size.products.count, 'product'), size_products_path(size) %></td>
    <td><%= link_to pluralize(size.designs.count, 'design'), size_designs_path(size) %></td>
  </tr>
<% end %>
</table>
