<h1>Listing sizes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sizes.each do |size| %>
  <tr>
    <td><%= size.name %></td>
    <td><%= size.code %></td>
    <td><%= link_to 'Show', size %></td>
    <td><%= link_to 'Edit', edit_size_path(size) %></td>
    <td><%= link_to 'Destroy', size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Size', new_size_path %>
