<p>
  <b>Name:</b>
  <%= @size.name %>
</p>

<p>
  <b>Code:</b>
  <%= @size.code %>
</p>

<div>
  <b>Body Styles:</b>
  <% @size.body_styles.each do |body_style| %>
    <%= link_to_name body_style %>
  <% end %>
</div>

<%= link_to image_tag('edit_button.gif'), edit_size_path(@size) %> |
<%= link_to image_tag('back_button.gif'), sizes_path %>
<% @inventories.each do |inventory| %>
  <%= div_for inventory do %>
    <%= image_tag inventory.product.primary_image(:product_box), :style => "background-color:##{inventory.product_color.css_hex_code}" %>
    <%= link_to_name inventory %>
    (<%= inventory.amount %>)
  <% end %>
<% end %>