<p>
  <b>Name:</b>
  <%= @size.name %>
</p>

<p>
  <b>Code:</b>
  <%= @size.code %>
</p>

<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
<% @inventories.each do |inventory| %>
  <%= div_for inventory do %>
    <%= link_to_name inventory %>
    (<%= inventory.amount %>)
  <% end %>
<% end %>