<%= form_for(@billing_address) do |f| %>
  <% if @billing_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billing_address.errors.count, "error") %> prohibited this billing_address from being saved:</h2>

      <ul>
      <% @billing_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= f.select :supplier_id, options_from_collection_for_select(Supplier.all, :id, :name, @billing_address.supplier_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :street2 %><br />
    <%= f.text_field :street2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br />
    <%= f.select :state_id, options_from_collection_for_select(Country.united_states.states, :id, :name, @billing_address.state_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br />
    <%= f.select :country_id, options_from_collection_for_select(Country.all, :id, :name, @billing_address.country_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
