<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :approved_at %><br />
    <%= f.datetime_select :approved_at %>
  </div>
  <div class="field">
    <%= f.label :invited_by_email %><br />
    <%= f.text_field :invited_by_email %>
  </div>
  <div class="field">
    <%= f.label :invited_by_name %><br />
    <%= f.text_field :invited_by_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
