<h1>Listing invitations</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Note</th>
    <th>Approved at</th>
    <th>Invited by email</th>
    <th>Invited by name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr>
    <td><%= invitation.email %></td>
    <td><%= invitation.name %></td>
    <td><%= invitation.note %></td>
    <td><%= invitation.approved_at %></td>
    <td><%= invitation.invited_by_email %></td>
    <td><%= invitation.invited_by_name %></td>
    <td><%= invitation.approved_at? ? invitation.code : link_to('approve', approve_invitation_path(invitation), :method => :put) %></td>
    <td><%= link_to 'Show', invitation %></td>
    <td><%= link_to 'Edit', edit_invitation_path(invitation) %></td>
    <td><%= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invitation', new_invitation_path %>
