<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Referer</th>
    <th>Read</th>
    <th>Flagged</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th><%= link_to 'Delete checked', delete_contacts_path, :method => :delete, :id => 'delete_contacts', :remote => true %></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.email %></td>
    <td><%= contact.name %></td>
    <td><%= contact.subject %></td>
    <td><%= contact.message %></td>
    <td><%= contact.referer %></td>
    <td><%= contact.read %></td>
    <td><%= contact.flagged %></td>
    <td><%= contact.created_at.strftime("%m/%d") %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= check_box_tag "destroy_#{contact.id}", contact.id, nil, :class => 'destroy_contact' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
