<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Referer</th>
    <th>Read</th>
    <th>Flagged</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.email %></td>
    <td><%= contact.name %></td>
    <td><%= contact.subject %></td>
    <td><%= contact.message %></td>
    <td><%= contact.referer %></td>
    <td><%= contact.read %></td>
    <td><%= contact.flagged %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
