<div id="message_from_little_hippie">
  <%= message_from_little_hippie %>
</div>
<div id="contact_form">
  <%= form_for @contact do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </div>
    <div>
      <%= f.label :message %>
      <%= f.text_area :message %>
    </div>
    <%= f.submit "Send Message" %>
  <% end %>
</div>
<div id="contact_details">
  Little Hippie®, LLC<br>
  Brooklyn, NY<br>
  <%= mail_to 'customerservice@littlehippie.com', 'customerservice@littlehippie.com', :encode => :javascript %><br>
  http://littlehippie.com<br>
  t/v: 347-979-5619<br>
  fax: 866-728-5992
</div>
