<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Subject:</b>
  <%= @contact.subject %>
</p>

<p>
  <b>Message:</b>
  <%= @contact.message %>
</p>

<p>
  <b>Referer:</b>
  <%= @contact.referer %>
</p>

<p>
  <b>Read:</b>
  <%= @contact.read %>
</p>

<p>
  <b>Flagged:</b>
  <%= @contact.flagged %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
