<script type="text/javascript" src="https://js.stripe.com/v1/"></script>

<p id="notice"><%= notice %></p>
<div id="checkout">
  <div id="checkout_header">
    Checkout
  </div>
  <%= clearboth %>
  <div id="cart">
   <div id="cart_column_headers">
     <div id="item_header">
       Item
     </div>
     <div id="size_header">
       Size
     </div>
     <div id="color_header">
       Color
     </div>
     <div id="quantity_header">
       Qty
     </div>
     <div id="item_price_header">
       Price
     </div>
   </div>
    <% @cart.items.each do |item| %>
      <%= div_for item, :'data-item_id' => item.id do %>
        <div class="image">
          <%= link_to image_tag(item.product.primary_image, :style => "background-color:##{item.css_hex_code}"), detail_product_path(item.product) if item.product.primary_image %>
        </div>
        <div class="name">
          <%= link_to item.product.name, detail_product_path(item.product) %>
        </div>
        <div class="size">
          <%= item.size.name %>
        </div>
        <div class="color">
          <%= item.product_color.color.name %>
        </div>
        <div class="quantity">
          <%= text_field_tag "item_#{item.id}_quantity", item.quantity, :class => 'quantity' %>
        </div>
        <div class="quantity_update">
          <%= link_to wishlist_items_path(:wishlist_item => {:product_color_id => item.product_color_id, :size_id => item.size_id}, :removing_from_cart => true), :remote => true, :method => :post do %>
            <div class="move_to_wish_list">
  						save to<br>
              wish list
  					</div>
            <% end %>
        </div>
        <div class="price" id="price_<%= item.id %>">
          <% if item.is_on_sale? %>
            <strike><%= number_to_currency item.cost %></strike>
            <%= number_to_currency item.final_cost %>
            <% @cart.sale = true %>
          <% else %>
            <%= number_to_currency item.cost %>
          <% end %>
        </div>
        <div class="remove">
          <%= link_to image_tag(asset_path('X_button.gif')), item_path(item), :method => :delete, :remote => true, :'data-item_id' => item.id %>
        </div>
        <div class="out_of_stock_warning"></div>
      <% end %>
    <% end %>
    <div id="gift_note_displayer" style="<%= @cart.gift_note.blank? ? 'display:none;' : '' %>">
      <%= label_tag 'gift_note[display]', 'Gift Note' %>
      <%= text_area_tag 'gift_note[display]', @cart.gift_note %>
    </div>
    <div id="shipping_instructions_displayer" style="<%= @cart.shipping_instructions.blank? ? 'display:none;' : '' %>">
      <%= label_tag 'shipping_instructions[display]', 'Special Shipping Instructions' %>
      <%= text_area_tag 'shipping_instructions[display]', @cart.shipping_instructions %>
    </div>
  <div id="checkout_options">  
    <div id="cart_instructions">
      If you make changes to your cart and the total does not automatically update, please refresh the page.
    </div>
   <!-- <div id="sales_tax_state_selector">
     Select state
   </div>

   <div id="international_shipping_link">
     Click here for international shipping
   </div> -->
   <div id="coupon_title">
     Promos
   </div>
   <%= clearboth %>
    <div id="coupon_entry">
      <div id="coupon_message"></div>
      <%= text_field_tag :coupon_code, @cart.coupon.andand.code, :placeholder => 'Enter Coupon Code Here' %>
    </div>
    <div id="shipping_method_select">
      <%= label_tag 'shipping_method' %>
      <%= select_tag 'shipping_method', options_for_select([['Standard (2-5 days)', Cart::STANDARD_SHIPPING], ['Rush (2-3 days)', Cart::RUSH_SHIPPING], ['Expedited (next day)', Cart::EXPEDITED_SHIPPING]], @cart.shipping_method) %>
    </div>
  </div>  
  
  <div id="checkout_calculator">
    <div id="subtotal_title">
      Subtotal
    </div>
    <div id="subtotal_display">
      <%= number_to_currency @cart.subtotal %>
    </div>
    <%= clearboth %>
    <div id="connecticut_tax">
      Sales tax
      <div id="tax_amount">
        <%= number_to_currency @cart.tax_total %>
      </div>
      <%= clearboth %>
      <div id="discount_amount_title">
        Discount amount
      </div>
      <div id="discount_amount_display">
        <%= number_to_currency @cart.discount_amount %>
      </div>
      <%= clearboth %>
      <div id="shipping_cost">
        Shipping
        <div id="shipping_price">
          <%= number_to_currency @cart.shipping_charge %>
        </div>
      </div>
    </div>
    <div id="cart_total">
      Total
      <div id="total_price">
        <%= number_to_currency @cart.total_before_sale %>
      </div>
    </div>
    <%= clearboth %>
    <div id="cart_total_after_coupon">
      Discounted Total
      <div id="discounted_total_price">
        <%= number_to_currency @cart.total_after_coupon %>
      </div>
      <% if @cart.coupon.present? || @cart.sale %>
        <script type="text/javascript">
          $(function() {
            $('#cart_total_after_coupon').show();
          });
        </script>
      <% end %>
    </div>
    <div class="payment-errors"></div>
  </div>
  </div>
  </div>
  

<%= form_for @cart.charges.new do |f| %>
  <%= f.hidden_field :cart_id %>
  <%= hidden_field_tag :company %>
  <%= hidden_field_tag :phone %>
<% end %>
<%= clearboth %>

<div id="shipping_options">
	<% if current_customer.andand.shipping_addresses.present? %>
	  <% current_customer.shipping_addresses.visible.each do |shipping_address| %>
	    <div class="shipping_option" id="<%= dom_id shipping_address %>">
				<%= radio_button_tag :shipping_option, shipping_address.id %>
				<%= shipping_address.display %>
				<%= link_to '(Remove this address)', shipping_address, :method => :delete, :confirm => "Ready to remove address #{shipping_address.street}?", :remote => true, :style => "font-size: 0.8em;" %>
			</div>
      <br>
	  <% end %>
	  <div>
		  <%= radio_button_tag 'shipping_option', 'none' %>
		  New Address
		</div>
	<% end %>
</div>
<%= clearboth %>
<div id="shipping_address"> 
  <h1><%= label_tag 'SHIPPING', nil, :class => "shipping_header"%></h1>
  <div class="items_italics">Items in italics are not required.</div>
</div>
<div id="shipping_form">  
  <%= form_for ShippingAddress.new(:email => current_customer.andand.email), :remote => true do |f| %>
    <%= f.text_field :first_name, :placeholder => 'First' %>
    <%= f.text_field :last_name, :placeholder => 'Last' %><br>
    <%= f.text_field :company, :placeholder => 'Company', :class => 'optional' %>
    <%= f.text_field :street, :placeholder => 'Address Line 1' %><br>
    <div id="street_must_have_number"></div>
    <%= f.text_field :street2, :placeholder => 'Address Line 2', :class => 'optional' %><br>
    <%= f.text_field :city, :placeholder => 'City' %>
    <%= f.select :state_id, options_from_collection_for_select(Country.united_states.states.alphabetical, :id, :name), :include_blank => true %><br>
    <%= f.text_field :zip, :placeholder => 'Zip' %><br>
    <%= f.select :country_id, options_from_collection_for_select(Country.alphabetical, :id, :name, Country.united_states.id), :include_blank => true %>
    <%= f.text_field :email, :placeholder => 'Email' %><br>
    <%= f.text_field :phone, :placeholder => 'Phone', :class => 'optional' %><br>
    <%= f.hidden_field :customer_id, :value => current_customer.andand.id %>
    <%= f.hidden_field :cart_id, :value => params[:id] %>
  <% end %>
  <opportunity id="opportunity_to_save_shipping_address">
    <%= check_box_tag :save_shipping_address, nil, current_customer %>
    <%= label_tag :save_shipping_address, 'Save shipping info for next time', :class => 'save_account_details' %> 
  </opportunity>
  <!-- <opportunity> -->
    <%#= check_box_tag :ship_to_multiple_addresses %>
    <%#= label_tag :ship_to_multiple_addresses, 'Ship to multiple addresses', :class => 'advanced_shipping_option' %>
  <!-- </opportunity> -->
  <opportunity>
    <%= check_box_tag :sign_mailing_list %>
    <%= label_tag :sign_mailing_list, 'Sign mailing list', :class => 'advanced_shipping_option' %>
  </opportunity>
</div>

<div id="billing_address">
  <div id="billing">
    <h1><%= label_tag 'BILLING', nil,  :class => "billing_header" %></h1>
  </div>
  <div class="same_as_billing">
    <%= check_box_tag :same_as_shipping %>
    <%= label_tag :same_as_shipping, 'Same as Shipping Address', :class => 'advanced_shipping_option' %>
  </div>
  <form id="new_billing_address">
	  <%= text_field_tag :first_name, nil, :placeholder => 'First' %>
	  <%= text_field_tag :last_name, nil, :placeholder => 'Last' %><br>
	  <%= text_field_tag :address_zip, nil, :placeholder => "Zip" %><br>
	  <%= email_field_tag :address_email, current_customer.andand.email, :placeholder => 'Email' %><br>
	  <%= text_field_tag :address_phone, nil, :placeholder => 'Phone', :class => 'optional' %><br>

	  <div id="card_type">card type<%= image_tag(asset_path('credit_card_providers.jpg'), :width => 145, :class => 'card_type_image') %></div>
	  <%= text_field_tag :credit_card_number, nil, :placeholder => 'Credit Card Number' %><br>
	  <%= text_field_tag :cvc, nil, :placeholder => 'CVV', :class => 'cvc_code' %>
	  <%= select_month nil, {:use_month_numbers => true}, :class => 'expiration_month' %>
	  <%= select_year nil, {:start_year => Time.now.year, :end_year => Time.now.year + 10}, :class => 'expiration_year' %><br>
	</form>
  <div class="save_account_details">
    <%= check_box_tag :save_billing_address, nil, current_customer %>
    <%= label_tag :save_billing_address, 'Save billing info for next time', :class => 'save_account_details' %>
  </div><br>
</div>

<div id="card_options">
  <% if current_customer.andand.credit_cards.present? %>
    <% current_customer.credit_cards.each do |card| %>
			<div class="card_option">
				<%= radio_button_tag 'card', card.id %>
		    Pay with card "<%= card.last4 %>"
		  </div>
    <% end %>
	  <div>
		  <%= radio_button_tag 'card', 'none' %>
		  New Card
		</div>
  <% end %>
</div>
<%= clearboth %>
<div id="referral_question">
How did you hear about Little Hippie®?<%= select_tag :referral_type, options_from_collection_for_select(Referral.all, :name, :name), :include_blank => true %>
<%= text_field_tag :alternate_referral_type, nil, :placeholder => 'How you heard (if not on list)' %>
<%= clearboth %>
<%= link_to '#cart', :id => 'purchase_link' do %>
  <div id="purchase">
    SUBMIT ORDER
  </div>
</div>
<% end %>
<%= clearboth %>

<div id="gift_note_holder" style="display:none;">
  <%= link_to 'show gift note form', '#gift_note', :id => 'gift_note_link', :class => 'fancybox' %>
  <div id="gift_note">
    <%= text_area_tag :gift_note_text, @cart.gift_note %><br>
    <%= submit_tag 'Add Note', :id => 'update_note' %>
    <%= submit_tag 'Cancel', :id => 'erase_note' %>
  </div>
  <%= link_to 'show shipping instructions form', '#shipping_instructions', :id => 'shipping_instructions_link', :class => 'fancybox' %>
  <div id="shipping_instructions">
    <%= text_area_tag :special_shipping_instructions, @cart.shipping_instructions %><br>
    <%= submit_tag 'Add Instructions', :id => 'update_instructions' %>
    <%= submit_tag 'Cancel', :id => 'erase_instructions' %>
  </div>
</div>

<div id="wishlist_login_holder" style="display:none">
  <%= link_to 'show wishlist login message', '#wishlist_login', :class => 'fancybox', :id => 'wishlist_login_link' %>
  <div id="wishlist_login">
    You must be logged in to add items to the wishlist.<br>
    <%= link_to 'Login', '#sign_in_form', :class => 'right fancybox', :id => 'sign_in_link' %>
    <%= link_to_function 'OK', "$.fancybox.close();" %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#shipping_address_country_id').change(function() {
      $.ajax('/countries/' + this.value + '/states', {'type': 'GET'});
      $.ajax('/carts/1/update_shipping_method', {'type': 'PUT', 'data': {'country_id': $(this).val()}});
      // $('#shipping_address_state_id').html($('#country_' + $('#shipping_address_country_id').val()).html());
    });

    $('#address_country').change(function() {
      $.ajax('/countries/' + this.value + '/states', {'type': 'GET'});
    });
    
    $('#billing_address').on('copy', '#address_country', function() {
      $.ajax('/countries/' + this.value + '/states', {'type': 'GET', 'complete': function() {
        $('#address_state').val($('#shipping_address_state_id :selected').text());
      }});
    });
    
    $('#billing_address_company').change(function(e) {
      $('#company').val(e.currentTarget.value);
    });
    
    $('#address_phone').change(function(e) {
      $('#phone').val(e.currentTarget.value);
    });
    
    Stripe.setPublishableKey('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    $('#new_shipping_address').bind('softSubmit', function(e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        cache: false,
        url: '/shipping_addresses',
        data: $(this).serialize()
      });
    });
    
    $('.card_option input').click(function() {
      $('#billing_address').fadeOut();
      $('.save_account_details').fadeOut();
    });
    
    $('#card_none').click(function() {
      $('#billing_address').fadeIn();
      $('.save_account_details').fadeIn();
    });

    $('.shipping_option input').click(function() {
      $('#shipping_address form').fadeOut();
      $('#opportunity_to_save_shipping_address').fadeOut();
    });
    
    $('#shipping_option_none').click(function() {
      $('#shipping_address form').fadeIn();
      $('#opportunity_to_save_shipping_address').fadeIn();
    });

		$('#new_shipping_address').validate({'rules':
		  {
			  'shipping_address[first_name]': 'required',
				'shipping_address[last_name]': 'required',
				'shipping_address[street]': 'required',
				'shipping_address[city]': 'required',
				'shipping_address[state_id]': 'required',
				'shipping_address[country_id]': 'required',
				'shipping_address[zip]': 'required',
				'shipping_address[email]': {
					'required': true,
					'email': true
				}
		  },
		  'onfocusout': false,
		  'onkeyup': false
		});
		
		$('#new_billing_address').validate({'rules':
		  {
				'first_name': 'required',
				'last_name': 'required',
				'address_line_1': 'required',
				'address_city': 'required',
				'address_zip': 'required',
				'address_state': 'required',
				'address_country': 'required',
				'address_email': {
					'required': true,
					'email': true
				},
				'credit_card_number': 'required',
				'cvc': 'required',
				'date[month]': 'required',
				'date[year]': 'required'
			},
			'onfocusout': false,
			'onkeyup': false
		});
        
    $('#purchase_link').click(function() {
      var form = $('#new_charge');
      form.append("<input type='hidden' name='coupon_code' value='" + $('#coupon_code').val() + "'/>");
      
      var referral_type = '';
      if ($('#alternate_referral_type').val() != '') {
        referral_type = $('#alternate_referral_type').val();
      } else {
        referral_type = $('#referral_type').val();
      }
      form.append("<input type='hidden' name='referral_type' value='" + referral_type + "'/>");
      
      var existing_address_selected = false;
			var shipping_address_complete = false;
      
      $('.shipping_option input').each(function(i, address) {
        if (address.checked) {
          existing_address_selected = address.value;
					shipping_address_complete = true;
        }
      });
      
      if (!existing_address_selected) {
				if ($('#new_shipping_address').valid()) {
				  shipping_address_complete = true;
					$($('#new_shipping_address').get(0)).trigger('softSubmit');
				}
      }
      
      var existing_billing_selected = false;
      
      $('.card_option input').each(function(i, billing) {
        if (billing.checked) {
          existing_billing_selected = billing.value;
        }
      });
      
			if (shipping_address_complete) {
	      if (!existing_billing_selected) {
					if ($('#new_billing_address').valid()) {
            $('#cart').activity();
		        Stripe.createToken({
		          number: $('#credit_card_number').val(),
		          cvc: $('#cvc').val(),
		          exp_month: $('#date_month').val(),
		          exp_year: $('#date_year').val(), 
		          name: $('#first_name').val() + ' ' + $('#last_name').val(),
		          address_line_1: $('#address_line_1').val(),
		          address_line_2: $('#address_line_2').val(),
		          address_city: $('#address_city').val(),
		          address_state: $('#address_state :selected').val(),
		          address_zip: $('#address_zip').val(),
		          address_country: $('#address_country :selected').val()
		        }, stripeResponseHandler);
		        form.append("<input type='hidden' name='business_email' value='" + $('#address_email').val() + "'/>");
					}
	      } else {
          $('#cart').activity();
	        form.append("<input type='hidden' name='chosen_card_id' value='" + existing_billing_selected + "'/>");
	        form.append("<input type='hidden' name='chosen_address_id' value='" + existing_address_selected + "'/>");
	        form.get(0).submit();
	      }
			}
    });
    
    function stripeResponseHandler(status, response) {
      if (response.error) {
        $(".payment-errors").text(response.error.message);
      } else {
        var form = $("#new_charge");
        // token contains id, last4, and card type
        var token = response['id'];
        form.append("<input type='hidden' name='charge[token]' value='" + token + "'/>");
        form.append("<input type='hidden' name='save_card' value='" + $('#save_billing_address').val() + "'/>");
        form.get(0).submit();
      }
    }
    
    $('#same_as_shipping').change(function() {
      if ($('#same_as_shipping')[0].checked) {
        $('#address_line_1').val($('#shipping_address_street').val());
        $('#address_line_2').val($('#shipping_address_street2').val());
        $('#address_city').val($('#shipping_address_city').val());
        $('#address_zip').val($('#shipping_address_zip').val());
        $('#address_country').val($('#shipping_address_country_id :selected').text());
        $('#address_country').trigger('copy');
        $('#address_email').val($('#shipping_address_email').val());
        $('#address_phone').val($('#shipping_address_phone').val());
        $('#billing_address_company').val($('#shipping_address_company').val());
        $('#first_name').val($('#shipping_address_first_name').val());
        $('#last_name').val($('#shipping_address_last_name').val());
      } else {
        $('#address_line_1').val('');
        $('#address_line_2').val('');
        $('#address_city').val('');
        $('#address_zip').val('');
        $('#address_country').val(233);
        $('#address_country').trigger('change');
        $('#address_state').val('');
        $('#address_email').val('');
        $('#address_phone').val('');
        $('#billing_address_company').val('');
        $('#first_name').val('');
        $('#last_name').val('');
      }
    });
    
    $('#include_gift_note').change(function() {
      if ($('#include_gift_note')[0].checked) {
        $('#gift_note_link').trigger('click');
      } else {
        $.ajax('<%= update_note_cart_path(current_cart) %>', {'data': {'gift_note': ''}, 'type': 'PUT'});
        $('#gift_note_display').val('');
        $('#gift_note_displayer').hide();
      }
    });
    
    $('#gift_note_display').blur(function() {
      $.ajax('<%= update_note_cart_path(current_cart) %>', {'data': {'gift_note': $('#gift_note_display').val()}, 'type': 'PUT'});
    });
    
    $('#update_note').click(function() {
      $('#gift_note_displayer').show();
      $('#gift_note_display').val($('#gift_note_text').val());
      $.fancybox.close();
      $.ajax('<%= update_note_cart_path(current_cart) %>', {'data': {'gift_note': $('#gift_note_display').val()}, 'type': 'PUT'});
    });
    
    $('#erase_note').click(function() {
      $('#include_gift_note').attr('checked', false);
      $('#gift_note_displayer').hide();
      $('#gift_note_display').val('');
      $.fancybox.close();
    });
    
    $('#special_instructions').change(function() {
      if ($('#special_instructions')[0].checked) {
        $('#shipping_instructions_link').trigger('click');
      } else {
        $.ajax('<%= update_note_cart_path(current_cart) %>', {'data': {'shipping_instructions':  ''}, 'type': 'PUT'});
        $('#shipping_instructions_display').val('');
        $('#shipping_instructions_displayer').hide();
      }
    });
    
    $('#shipping_instructions_display').blur(function() {
      $.ajax('<%= update_note_cart_path(current_cart) %>', {'data': {'shipping_instructions': $('#shipping_instructions_display').val()}, 'type': 'PUT'});
    });
    
    $('#update_instructions').click(function() {
      $('#shipping_instructions_displayer').show();
      $('#shipping_instructions_display').val($('#special_shipping_instructions').val());
      $.fancybox.close();
      $.ajax('<%= update_note_cart_path(current_cart) %>', {'data': {'shipping_instructions': $('#shipping_instructions_display').val()}, 'type': 'PUT'});
    });
    
    $('#erase_instructions').click(function() {
      $('#special_instructions').attr('checked', false);
      $('#shipping_instructions_displayer').hide();
      $('#shipping_instructions_display').val('');
      $.fancybox.close();
    });
    
    $('#coupon_code').blur(function() {
      $.ajax('/coupons/apply_to_price', {'data': {'coupon_code': $('#coupon_code').val()}});
    });
    
    recheck_inventory();
  });
  
  // these are outside of the document.ready block
  $('.quantity').change(function(e) {
    $.ajax('/items/' + $(e.currentTarget).closest('.item').data('item_id'), {'data': {'item[quantity]': e.currentTarget.value}, 'type': 'PUT'})
  });
  
  $('.gift input').change(function(e) {
    $.ajax('/items/' + $(e.currentTarget).closest('.item').data('item_id'), {'data': {'item[gift_wrap]': ($(e.currentTarget).attr('checked') ? 1 : 0)}, 'type': 'PUT'})
  });
  
  $('#save_billing_address').change(function(e) {
    $('#sign_in_link').click();
  });

  $('#sign_in_form form').append("<input type='hidden' name='claim_cart' id='claim_cart' value='1' />");

  recheck_inventory = function() {
    $('.item').each(function(i, item) {
      $.ajax('/items/' + $(item).data('item_id') + '/check_inventory', {
        'complete': function(response) {
          if (response.responseText != 'in_stock') {
            $(item).addClass('out_of_stock');
            $(item).children('.out_of_stock_warning').html(response.responseText);
          } else {
            $(item).removeClass('out_of_stock');
            $(item).children('.out_of_stock_warning').html('');
          }
        }
      });
    });
  }
    
</script>
