<script type="text/javascript" src="https://js.stripe.com/v1/"></script>

<p id="notice"><%= notice %></p>

<div id="checkout">
  <div id="cart">
    <% @cart.items.each do |item| %>
      <%= div_for item do %>
        <div class="image">
          <%= image_tag item.product.primary_image, :width => 60 if item.product.primary_image %>
        </div>
        <div class="name">
          <%= item.product_color.product.name %>
        </div>
        <div class="size">
          <%= item.size.name %>
        </div>
        <div class="color">
          <%= item.product_color.color.name %>
        </div>
        <div class="gift">
          <%= check_box_tag "item_#{item.id}_gift_wrap" %>  gift wrap
        </div>
        <div class="quantity">
          <%= text_field_tag "item_#{item.id}_quantity", item.quantity, :class => 'quantity', :'data-item_id' => item.id %>
        </div>
        <div class="quantity_update">
          <div class="move_to_wish_list">wish
            <br>
            list</div>
        </div>
        <div class="price">
          <%= number_to_currency item.product_color.product.dollar_price %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="cart_total">
    TOTAL
    <div id="total_price">
      <%= number_to_currency @cart.subtotal %>
    </div>
  </div>

<div id="cart_options">
  <div id="card_options">
	  <% if current_customer.andand.credit_cards.present? %>
	    <% current_customer.credit_cards.each do |card| %>
				<div class="card_option">
					<%= radio_button_tag 'card', card.id %>
			    Pay with card "<%= card.stripe_customer_id[-4..-1] %>"
					<span class='last_4_display'>(<%= link_to 'show last 4' %>)</span>
			  </div>
	    <% end %>
		  <div>
			  <%= radio_button_tag 'card', 'none' %>
			  New Card
			</div>
	  <% end %>
	</div>
	
	<div id="shipping_options">
		<% if current_customer.andand.shipping_addresses.present? %>
		  <% current_customer.shipping_addresses.visible.each do |shipping_address| %>
		    <div class="shipping_option" id="<%= dom_id shipping_address %>">
					<%= radio_button_tag :shipping_option, shipping_address.id %>
					<%= shipping_address.display %>
					<%= link_to 'Remove this address', shipping_address, :method => :delete, :confirm => "Ready to remove address #{shipping_address.street}?", :remote => true %>
				</div>
        <br>
		  <% end %>
		  <div>
			  <%= radio_button_tag 'shipping_option', 'none' %>
			  New Address
			</div>
		<% end %>
	</div>
</div>

  <div id="billing_address">
          <div id="billing"><h1><%= label_tag 'BILLING', nil,  :class => "billing_header" %></h1></div>
            <div class="items_italics">Items in italics are not required.</div>
    <%= text_field_tag :first_name, nil, :placeholder => 'First' %>
    <%= text_field_tag :last_name, nil, :placeholder => 'Last' %><br>
    <%= text_field_tag :billing_address_company, nil, :placeholder => 'Company', :class => 'optional' %><br>
    <%= text_field_tag :address_line_1, nil, :placeholder => 'Address Line 1' %><br>
    <%= text_field_tag :address_line_2, nil, :placeholder => 'Address Line 2', :class => 'optional' %><br>
    <%= text_field_tag :address_city, nil, :placeholder => 'City' %>
    <%= text_field_tag :address_zip, nil, :placeholder => "Zip" %><br>
    <%= select_tag :address_state, options_from_collection_for_select(Country.united_states.states.alphabetical, :id, :name), :include_blank => true %><br>
    <%= select_tag :address_country, options_from_collection_for_select(Country.alphabetical.unshift(Country.united_states), :id, :name, Country.united_states.id), :include_blank => true %><br>
    <%= email_field_tag :address_email, nil, :placeholder => 'Email' %><br>
    <%= text_field_tag :address_phone, nil, :placeholder => 'Phone', :class => 'optional' %><br>
    <div id="card_type">card type</div>
    <%= text_field_tag :credit_card_number, nil, :placeholder => 'Credit Card Number' %><br>
    <%= text_field_tag :cvc, nil, :placeholder => 'CVV', :class => 'cvc_code' %>
    <%= select_month nil, {:use_month_numbers => true}, :class => 'expiration_month' %>
    <%= select_year nil, {:start_year => Time.now.year, :end_year => Time.now.year + 10}, :class => 'expiration_year' %><br>
        <div class="save_account_details"><%= check_box_tag :save_billing_address %><%= label_tag :save_billing_address, 'Save billing info for next time', :class => 'save_account_details' %></div><br>
  </div>

  <div id="shipping_address"> 
    <h1><%= label_tag 'SHIPPING', nil, :class => "shipping_header"%></h1>
    <div class="same_as_billing">
      <%= check_box_tag :same_as_billing %>
      <%= label_tag :same_as_billing, 'Same as Billing Address', :class => 'advanced_shipping_option' %>
    </div>
    <%= form_for ShippingAddress.new, :remote => true do |f| %>
      <%= f.text_field :first_name, :placeholder => 'First' %>
      <%= f.text_field :last_name, :placeholder => 'Last' %><br>
      <%= f.text_field :company, :placeholder => 'Company', :class => 'optional' %>
      <%= f.text_field :street, :placeholder => 'Address Line 1' %><br>
      <%= f.text_field :street2, :placeholder => 'Address Line 2', :class => 'optional' %><br>
      <%= f.text_field :city, :placeholder => 'City' %>
      <%= f.text_field :zip, :placeholder => 'Zip' %><br>
      <%= f.select :state_id, options_from_collection_for_select(Country.united_states.states.alphabetical, :id, :name), :include_blank => true %><br>
      <%= f.select :country_id, options_from_collection_for_select(Country.alphabetical.unshift(Country.united_states), :id, :name, Country.united_states.id), :include_blank => true %>
      <%= f.text_field :email, :placeholder => 'Email' %><br>
      <%= f.text_field :phone, :placeholder => 'Phone', :class => 'optional' %><br>
      <%= f.hidden_field :customer_id, :value => current_customer.andand.id %>
      <%= f.hidden_field :cart_id, :value => params[:id] %>
    <% end %>
   <opportunity>
    <%= check_box_tag :save_shipping_address %>
    <%= label_tag :save_shipping_address, 'Save shipping info for next time', :class => 'save_account_details' %> 
   </opportunity>
   <opportunity>
    <%= check_box_tag :ship_to_multiple_addresses %>
    <%= label_tag :ship_to_multiple_addresses, 'Ship to multiple addresses', :class => 'advanced_shipping_option' %>
   </opportunity>
   <opportunity>
    <%= check_box_tag :include_gift_note %>
    <%= label_tag :include_gift_note, 'Include gift note', :class => 'advanced_shipping_option' %>
   </opportunity>
   <opportunity>
    <%= check_box_tag :sign_mailing_list %>
    <%= label_tag :sign_mailing_list, 'Sign mailing list', :class => 'advanced_shipping_option' %>
    </opportunity>
    <%= link_to '#', :id => 'purchase_link' do %>
      <div id="purchase">
        SUBMIT ORDER
      </div>
    <% end %>
  </div>
  <div class="payment-errors"></div>
</div>

<%= form_for @cart.charges.new do |f| %>
  <%= f.hidden_field :amount, :value => @cart.subtotal %>
  <%= f.hidden_field :cart_id %>
  <%= hidden_field_tag :company %>
  <%= hidden_field_tag :phone %>
<% end %>

<div id="hidden_state_data" style="display:none;">
  <% Country.all.each do |country| %>
    <%= div_for country do %>
      <%= options_from_collection_for_select(country.states.alphabetical, :id, :name) %>
    <% end %>
  <% end %>
</div>


<script type="text/javascript">
  $(function() {
    $('#shipping_address_country_id').change(function() {
      $('#shipping_address_state_id').html($('#country_' + $('#shipping_address_country_id').val()).html());
    });

    $('#address_country').change(function() {
      $('#address_state').html($('#country_' + $('#address_country').val()).html());
    });
    
    $('#billing_address_company').change(function(e) {
      $('#company').val(e.currentTarget.value);
    });
    
    $('#address_phone').change(function(e) {
      $('#phone').val(e.currentTarget.value);
    });
    
    Stripe.setPublishableKey('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    $('#new_shipping_address').bind('softSubmit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            cache: false,
            url: '/shipping_addresses',
            data: $(this).serialize()
        });
    });
    
    $('.card_option input').click(function() {
      $('#billing_address').hide();
    });
    
    $('#card_none').click(function() {
      $('#billing_address').show();
    });

    $('.shipping_option input').click(function() {
      $('#shipping_address form').hide();
    });
    
    $('#shipping_option_none').click(function() {
      $('#shipping_address form').show();
    });
    
    $('#purchase_link').click(function() {
      
      var existing_address_selected = false;
      
      $('.shipping_option input').each(function(i, address) {
        if (address.checked) {
          existing_address_selected = address.value;
        }
      });
      
      if (!existing_address_selected) {
        $($('#new_shipping_address').get(0)).trigger('softSubmit');
      }
      
      var existing_billing_selected = false;
      
      $('.card_option input').each(function(i, billing) {
        if (billing.checked) {
          existing_billing_selected = billing.value;
        }
      });
      
      if (!existing_billing_selected) {
        Stripe.createToken({
            number: $('#credit_card_number').val(),
            cvc: $('#cvc').val(),
            exp_month: $('#date_month').val(),
            exp_year: $('#date_year').val(), 
            name: $('#first_name').val() + ' ' + $('#last_name').val(),
            address_line_1: $('#address_line_1').val(),
            address_line_2: $('#address_line_2').val(),
            address_city: $('#address_city').val(),
            address_state: $('#address_state option:selected')[0].text,
            address_zip: $('#address_zip').val(),
            address_country: $('#address_country option:selected')[0].text
        }, stripeResponseHandler);
      } else {
        var form = $('#new_charge');
        form.append("<input type='hidden' name='chosen_card_id' value='" + existing_billing_selected + "'/>");
        form.append("<input type='hidden' name='chosen_address_id' value='" + existing_address_selected + "'/>");
        form.get(0).submit();
      }
    });
    
    function stripeResponseHandler(status, response) {
      if (response.error) {
        $(".payment-errors").text(response.error.message);
      } else {
        var form = $("#new_charge");
        // token contains id, last4, and card type
        var token = response['id'];
        form.append("<input type='hidden' name='charge[token]' value='" + token + "'/>");
        form.append("<input type='hidden' name='save_card' value='" + $('#save_billing_address').val() + "'/>");
        form.get(0).submit();
      }
    }
    
    $('#same_as_billing').change(function() {
      if ($('#same_as_billing')[0].checked) {
        $('#shipping_address_street').val($('#address_line_1').val());
        $('#shipping_address_street2').val($('#address_line_2').val());
        $('#shipping_address_city').val($('#address_city').val());
        $('#shipping_address_zip').val($('#address_zip').val());
        $('#shipping_address_country_id').val($('#address_country').val());
        $('#shipping_address_country_id').trigger('change');
        $('#shipping_address_state_id').val($('#address_state').val());
        $('#shipping_address_email').val($('#address_email').val());
        $('#shipping_address_phone').val($('#address_phone').val());
        $('#shipping_address_company').val($('#billing_address_company').val());
        $('#shipping_address_first_name').val($('#first_name').val());
        $('#shipping_address_last_name').val($('#last_name').val());
      } else {
        $('#shipping_address_street').val('');
        $('#shipping_address_street2').val('');
        $('#shipping_address_city').val('');
        $('#shipping_address_zip').val('');
        $('#shipping_address_country_id').val(233);
        $('#shipping_address_country_id').trigger('change');
        $('#shipping_address_state_id').val('');
        $('#shipping_address_email').val('');
        $('#shipping_address_phone').val('');
        $('#shipping_address_company').val('');
        $('#shipping_address_first_name').val('');
        $('#shipping_address_last_name').val('');
      }
    });
  });
  
  // these are outside of the document.ready block - problem?
  $('.quantity').change(function(e) {
    $.ajax('/items/' + $(e.currentTarget).data('item_id'), {'data': {'item[quantity]': e.currentTarget.value}, 'type': 'put'})
  });
  
  $('#save_billing_address').change(function(e) {
    $('#sign_in_link').click();
  });

  $('#sign_in_form form').append("<input type='hidden' name='claim_cart' id='claim_cart' value='1' />");
  
  // $('#new_customer_sign_up').click(function(e) {
  //   e.preventDefault();
  //   $.post('/customers', {'customer': {'email': $('#customer_email').val(), 'password': $('#customer_password').val(), 'password_confirmation': $('#password').val()}});
  //   $.fancybox.close();
  // });
    
</script>
