<h1>Listing carts</h1>

<table>
  <tr>
    <th></th>
    <th>Customer</th>
    <th>Payment Status</th>
    <th><%= link_to 'Shipment Status', :sort => 'charge_status', :charge_status_direction => (params[:charge_status_direction] == 'asc' ? 'desc' : 'asc') %></th>
    <th>Tracking Number</th>
    <th>Coupon</th>
    <th>Referral Type</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
    <th></th>
    <th><%= link_to 'New Cart', new_cart_path, :class => 'btn btn-success' %></th>
  </tr>

<% @carts.each do |cart| %>
  <tr>
    <td><%= link_to cart.id, cart %></td>
    <td><%= link_to_name cart.customer %></td>
    <td><%= cart.status_word %></td>
    <td><%= cart.charge.andand.result %></td>
    <td><%= cart.tracking_number %></td>
    <td><%= cart.charges.first.andand.coupon.andand.name %></td>
    <td><%= cart.referral_type %></td>
    <td><%= cart.created_at.strftime("%m/%d") %></td>
    <td><%= cart.updated_at.strftime("%m/%d") %></td>
    <td>
      <%= link_to pluralize(cart.items.count, 'item'), cart_items_path(cart) %>:
      <% cart.items.each do |item| %>
        <%= link_to_name item %>
      <% end %>
    </td>
    <td><%= link_to 'Show', cart %></td>
    <td>
      <%= link_to image_tag('edit_button.gif'), edit_cart_path(cart) %>
      <%= link_to image_tag('X_button.gif'), cart, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @carts %>