<h1>Listing carts</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th><%= link_to 'New Cart', new_cart_path, :class => 'btn btn-success' %></th>
  </tr>

<% @carts.each do |cart| %>
  <tr>
    <td><%= link_to_name cart.customer %></td>
    <td><%= cart.status %></td>
    <td><%= link_to pluralize(cart.items.count, 'item'), cart_items_path(cart) %>
    <td><%= link_to 'Show', cart %></td>
    <td>
      <%= link_to image_tag('edit_button.gif'), edit_cart_path(cart) %>
      <%= link_to image_tag('X_button.gif'), cart, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
