<div id="cart">
  <b>Gift Note:<%= @cart.gift_note %></b>
  <% @cart.items.each do |item| %>
    <%= div_for item do %>
      <div class="image">
        <%= image_tag item.product.body_style.image, :width => 60 if item.product.body_style.image? %>
      </div>
      <div class="name">
        <%= item.product_color.product.name %>
      </div>
      <div class="size">
        <%= item.size.name %>
      </div>
      <div class="color">
        <%= item.product_color.color.name %>
      </div>
      <div class="gift">
        <%#= check_box_tag "item_#{item.id}_gift_wrap" %>  <!-- gift wrap -->
      </div>
      <div class="quantity">
        <%= text_field_tag "item_#{item.id}_quantity", item.quantity, :class => 'quantity', :'data-item_id' => item.id %>
      </div>

      <div class="price">
        <%= number_to_currency item.product_color.product.dollar_price %>
      </div>
    <% end %>
  <% end %>
</div>
