<script type="text/javascript" src="https://js.stripe.com/v1/"></script>

<p id="notice"><%= notice %></p>

<div id="checkout">
  <div id="cart">
    <% @cart.items.each do |item| %>
      <%= div_for item do %>
        <div class="image">
          <%= image_tag item.product.body_style.image, :width => 60 if item.product.body_style.image? %>
        </div>
        <div class="name">
          <%= item.product_color.product.name %>
        </div>
        <div class="size">
          <%= item.size.name %>
        </div>
        <div class="color">
          <%= item.product_color.color.name %>
        </div>
        <div class="gift">
          <%= check_box_tag "item_#{item.id}_gift_wrap" %>gift wrap
        </div>
        <div class="quantity">
          <%= text_field_tag "item_#{item.id}_quantity", item.quantity, :class => 'quantity', :'data-item_id' => item.id %>
        </div>
        <div class="quantity_update">
          <div class="move_to_wish_list">wishlist</div>
        </div>
        <div class="price">
          <%= number_to_currency item.product_color.product.dollar_price %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="cart_total">
    TOTAL
    <div id="total_price">
      <%= number_to_currency @cart.subtotal %>
    </div>
  </div>

  <div id="billing_address">
    <h1><%= label_tag 'Billing' %></h1>
    <%= text_field_tag :name, nil, :placeholder => 'Name' %><br>
    <%= text_field_tag :billing_address_company, nil, :placeholder => 'Company', :class => 'optional' %><br>
    <%= text_field_tag :address_line_1, nil, :placeholder => 'Address Line 1' %><br>
    <%= text_field_tag :address_line_2, nil, :placeholder => 'Address Line 2', :class => 'optional' %><br>
    <%= text_field_tag :address_city, nil, :placeholder => 'City' %><br>
    <%= select_tag :address_state, options_from_collection_for_select(Country.united_states.states.alphabetical, :id, :name), :include_blank => true %>
    <%= text_field_tag :address_zip, nil, :placeholder => "Zip Code" %><br>
    <%= select_tag :address_country, options_from_collection_for_select(Country.alphabetical.unshift(Country.united_states), :id, :name, Country.united_states.id), :include_blank => true %><br>
    <%= email_field_tag :address_email, nil, :placeholder => 'Email' %><br>
    <%= text_field_tag :address_phone, nil, :placeholder => 'Phone', :class => 'optional' %><br>
    <h1><%= check_box_tag :save_billing_address %>
    <%= label_tag :save_billing_address, 'Save for Next Time', :class => 'save_account_details' %></h1>
    <%= text_field_tag :credit_card_number, nil, :placeholder => 'Credit Card Number' %><br>
    <%= text_field_tag :cvc, nil, :placeholder => 'CVV', :class => 'cvc_code' %>
    <%= select_month nil, {:use_month_numbers => true}, :class => 'expiration_month' %>
    <%= select_year nil, {:start_year => Time.now.year, :end_year => Time.now.year + 10}, :class => 'expiration_year' %><br><br>
    <i>items in italics are not required</i>
  </div>

  <div id="shipping_address">
    <h1><%= label_tag 'Shipping' %></h1>
    <%= form_for ShippingAddress.new, :remote => true do |f| %>
      <%= f.text_field :first_name, :placeholder => 'First' %>
      <%= f.text_field :last_name, :placeholder => 'Last' %><br>
      <%= f.text_field :company, :placeholder => 'Company', :class => 'optional' %>
      <%= f.text_field :street, :placeholder => 'Address Line 1' %><br>
      <%= f.text_field :street2, :placeholder => 'Address Line 2', :class => 'optional' %><br>
      <%= f.text_field :city, :placeholder => 'City' %>
      <%= f.text_field :zip, :placeholder => 'Zip' %><br>
      <%= f.select :state_id, options_from_collection_for_select(Country.united_states.states.alphabetical, :id, :name), :include_blank => true %><br>
      <%= f.select :country_id, options_from_collection_for_select(Country.alphabetical.unshift(Country.united_states), :id, :name, Country.united_states.id), :include_blank => true %>
      <%= f.text_field :email, :placeholder => 'Email' %><br>
      <%= f.text_field :phone, :placeholder => 'Phone', :class => 'optional' %><br>
      <%= f.hidden_field :customer_id, :value => current_customer.andand.id %>
      <%= f.hidden_field :cart_id, :value => params[:id] %>
    <% end %>
    <h1><%= check_box_tag :save_shipping_address %>
    <%= label_tag :save_shipping_address, 'Save for Next Time', :class => 'save_account_details' %></h1>
    <h1><%= check_box_tag :ship_to_multiple_addresses %>
    <%= label_tag :ship_to_multiple_addresses, 'Ship to Multiple Addresses', :class => 'advanced_shipping_option' %></h1>
    <h1><%= check_box_tag :include_gift_note %>
    <%= label_tag :include_gift_note, 'Include Gift Note', :class => 'advanced_shipping_option' %></h1>
    <h1><%= check_box_tag :sign_mailing_list %>
    <%= label_tag :sign_mailing_list, 'Sign Mailing List', :class => 'advanced_shipping_option'%></h1>

    <%= link_to '#', :id => 'purchase_link' do %>
      <div id="purchase">
        SUBMIT ORDER
      </div>
    <% end %>
  </div>
  <div class="payment-errors"></div>
</div>

<%= form_for @cart.charges.new do |f| %>
  <%= f.hidden_field :amount, :value => @cart.subtotal %>
  <%= f.hidden_field :cart_id %>
  <%= hidden_field_tag :company %>
  <%= hidden_field_tag :phone %>
<% end %>

<div id="hidden_state_data" style="display:none;">
  <% Country.all.each do |country| %>
    <%= div_for country do %>
      <%= options_from_collection_for_select(country.states.alphabetical, :id, :name) %>
    <% end %>
  <% end %>
</div>


<script type="text/javascript">
  $(function() {
    $('#shipping_address_country_id').change(function() {
      $('#shipping_address_state_id').html($('#country_' + $('#shipping_address_country_id').val()).html());
    });

    $('#address_country').change(function() {
      $('#address_state').html($('#country_' + $('#address_country').val()).html());
    });
    
    $('#billing_address_company').change(function(e) {
      $('#company').val(e.currentTarget.value);
    });
    
    $('#address_phone').change(function(e) {
      $('#phone').val(e.currentTarget.value);
    });
    
    Stripe.setPublishableKey('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    $('#new_shipping_address').bind('softSubmit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            cache: false,
            url: '/shipping_addresses',
            data: $(this).serialize()
        });
    });
    
    $('#purchase_link').click(function() {
      
      $($('#new_shipping_address').get(0)).trigger('softSubmit');
      
      Stripe.createToken({
          number: $('#credit_card_number').val(),
          cvc: $('#cvc').val(),
          exp_month: $('#date_month').val(),
          exp_year: $('#date_year').val(), 
          name: $('#name').val(),
          address_line_1: $('#address_line_1').val(),
          address_line_2: $('#address_line_2').val(),
          address_city: $('#address_city').val(),
          address_state: $('#address_state').val(),
          address_zip: $('#address_zip').val(),
          address_country: $('#address_country').val()
      }, stripeResponseHandler);
    });
    
    function stripeResponseHandler(status, response) {
        if (response.error) {
            // show the errors on the form
            $(".payment-errors").text(response.error.message);
        } else {
            var form = $("#new_charge");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form.append("<input type='hidden' name='charge[token]' value='" + token + "'/>");
            form.append("<input type='hidden' name='save_card' value='" + $('#save_billing_address').val() + "'/>");
            // and submit
            form.get(0).submit();
        }
    }
  });
  
  $('.quantity').change(function(e) {
    $.ajax('/items/' + $(e.currentTarget).data('item_id'), {'data': {'item[quantity]': e.currentTarget.value}, 'type': 'put'})
  });
  
  $('#save_billing_address').change(function(e) {
    $('#sign_in_link').click();
  });
  
</script>
