<h1>Listing product_images</h1>

<table>
  <tr>
    <th>Product color</th>
    <th>Image</th>
    <th></th>
    <th><%= link_to 'New Product image', new_product_image_path, :class => 'btn btn-success' %></th>
  </tr>

<% @product_images.each do |product_image| %>
  <tr>
    <td><%= link_to_name product_image.product_color %></td>
    <td><%= image_tag product_image.image, :width => 100 %></td>
    <td><%= link_to 'Show', product_image %></td>
    <td>
      <%= link_to image_tag('edit_button.gif'), edit_product_image_path(product_image) %>
      <%= link_to image_tag('X_button.gif'), product_image, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
