<p id="notice"><%= notice %></p>

<p>
  <b>Product color:</b>
  <%= link_to_name @product_image.product_color %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @product_image.image if @product_image.image.present? %>
</p>


<%= link_to image_tag('edit_button.gif'), edit_product_image_path(@product_image) %> |
<%= link_to image_tag('back_button.gif'), product_images_path %>
