<%= form_for(@category_pairing) do |f| %>
  <% if @category_pairing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_pairing.errors.count, "error") %> prohibited this category_pairing from being saved:</h2>

      <ul>
      <% @category_pairing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :content_page_id %><br />
    <%= f.select :content_page_id, options_from_collection_for_select(ContentPage.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
