<h1>Category Pairings</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Content page</th>
    <th>Position</th>
    <th></th>
    <th><%= link_to 'New Category Pairing', new_category_pairing_path, :class => 'btn btn-success' %></th>
  </tr>

<% @category_pairings.each do |category_pairing| %>
  <tr>
    <td><%= link_to_name category_pairing.category %></td>
    <td><%= link_to_name category_pairing.content_page %></td>
    <td><%= category_pairing.position %></td>
    <td><%= link_to 'Show', category_pairing %></td>
    <td>
      <%= link_to image_tag('up_button.gif'), move_up_category_pairing_path(category_pairing), :method => :put %>
      <%= link_to image_tag('down_button.gif'), move_down_category_pairing_path(category_pairing), :method => :put %>
      <%= link_to image_tag('edit_button.gif'), edit_category_pairing_path(category_pairing) %>
      <%= link_to image_tag('X_button.gif'), category_pairing, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
