

<p>
  <b>Category:</b>
  <%= link_to_name @category_pairing.category %>
</p>

<p>
  <b>Content page:</b>
  <%= link_to_name @category_pairing.content_page %>
</p>

<p>
  <b>Position:</b>
  <%= @category_pairing.position %>
</p>


<%= link_to image_tag('edit_button.gif'), edit_category_pairing_path(@category_pairing) %> |
<%= link_to image_tag('back_button.gif'), category_pairings_path %>
