<p id="notice"><%= notice %></p>

<p>
  <b>Wishlist:</b>
  <%= link_to_name @wishlist_item.wishlist %>
</p>

<p>
  <b>Product color:</b>
  <%= link_to_name @wishlist_item.product_color %>
</p>

<p>
  <b>Size:</b>
  <%= link_to_name @wishlist_item.size %>
</p>

<div>
  <%= image_tag @wishlist_item.product.primary_image, :style => "background-color: ##{@wishlist_item.color.css_hex_code};" %>
</div>


<%= link_to 'Edit', edit_wishlist_item_path(@wishlist_item) %> |
<%= link_to 'Back', wishlist_items_path %>
