<h1>Listing category_product_features</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Product color</th>
    <th>Position</th>
    <th></th>
    <th><%= link_to 'New Category Pairing', new_category_pairing_path, :class => 'btn btn-success' %></th>
  </tr>

<% @category_product_features.each do |category_product_feature| %>
  <tr>
    <td><%= link_to_name category_product_feature.category %></td>
    <td><%= link_to_name category_product_feature.product_color %></td>
    <td>
      <%= form_for category_product_feature, :remote => true do |f| %>
        <%= f.text_field :position %>
      <%= submit_tag "Move" %>
      <% end %>  
    </td>
    <td>
      <%= link_to image_tag(asset_path('up_button.gif')), move_up_category_product_feature_path(category_product_feature), :method => :put %>
      <%= link_to image_tag(asset_path('down_button.gif')), move_down_category_product_feature_path(category_product_feature), :method => :put %>
      <%= link_to image_tag(asset_path('edit_button.gif')), edit_category_product_feature_path(category_product_feature) %>
      <%= link_to image_tag(asset_path('X_button.gif')), category_product_feature, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%= link_to 'Show', category_product_feature %></td>
  </tr>
<% end %>
</table>
<%= paginate @category_product_features %>