<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= link_to_name @category_product_feature.category %>
</p>

<p>
  <b>Product color:</b>
  <%= link_to_name @category_product_feature.product_color %>
</p>

<p>
  <b>Position:</b>
  <%= @category_product_feature.position %>
</p>


<%= link_to image_tag(asset_path('edit_button.gif')), edit_category_product_feature_path(@category_product_feature) %> |
<%= link_to 'Back', category_product_features_path %>
<%= link_to 'delete', category_product_feature_path(@category_product_feature), :method => :delete %>
