<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @category_product_feature.category %>
</p>

<p>
  <b>Product color:</b>
  <%= @category_product_feature.product_color %>
</p>

<p>
  <b>Position:</b>
  <%= @category_product_feature.position %>
</p>


<%= link_to 'Edit', edit_category_product_feature_path(@category_product_feature) %> |
<%= link_to 'Back', category_product_features_path %>
