<%= form_for(@body_style) do |f| %>
  <% if @body_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@body_style.errors.count, "error") %> prohibited this body_style from being saved:</h2>

      <ul>
      <% @body_style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :base_price, "Base Price (in cents)" %><br />
    <%= f.text_field :base_price %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
