<div class="category_of_products">
	<% (@product_colors + @remaining_products).each do |product_color| %>
	  <% product = product_color.product%>
	  <%= div_for product do %>
	    <%= link_to image_tag(product.primary_image(:product_box), :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product) %>
	    <%= div_for product, :gray_label_for, :class => 'gray_label' do %>
	      <%= link_to product.design.name, detail_product_path(product) %><br>
	      <%= link_to product.body_style.name, detail_product_path(product) %>
	    <% end %>
	  <% end %>
	<% end %>
</div>
