<h1>Body Styles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Base Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @body_styles.each do |body_style| %>
  <tr>
    <td><%= link_to_name body_style %></td>
    <td><%= body_style.code %></td>
    <td><%= number_to_currency body_style.base_price.andand./(100) %></td>
    <td>
      <%= link_to image_tag('up_button.gif'), move_up_body_style_path(body_style), :method => :put %>
      <%= link_to image_tag('down_button.gif'), move_down_body_style_path(body_style), :method => :put %>
      <%= link_to image_tag('edit_button.gif'), edit_body_style_path(body_style) %>
      <%= link_to image_tag('X_button.gif'), body_style, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%= link_to pluralize(body_style.products.count, 'product'), body_style_products_path(body_style) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Body Style', new_body_style_path %>
