<h1>Listing body_styles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @body_styles.each do |body_style| %>
  <tr>
    <td><%= body_style.name %></td>
    <td><%= body_style.code %></td>
    <td><%= link_to 'Show', body_style %></td>
    <td><%= link_to 'Edit', edit_body_style_path(body_style) %></td>
    <td><%= link_to 'Destroy', body_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Body style', new_body_style_path %>
