<%= link_to 'Display', detail_body_style_path(@body_style) %>

<p>
  <b>Name:</b>
  <%= @body_style.name %>
</p>

<p>
  <b>Code:</b>
  <%= @body_style.code %>
</p>

<p>
  <b>Base Price:</b>
  <%= @body_style.base_price.to_f.andand./(100) %>
</p>

<div>
  <b>Sizes:</b>
  <% @body_style.sizes.each do |size| %>
    <%= link_to_name size %>
  <% end %>
</div>

<p>
  <%= image_tag @body_style.image, :width => 300 if @body_style.image.present? %>
</p>

<%= link_to image_tag('edit_button.gif'), edit_body_style_path(@body_style) %> |
<%= link_to image_tag('back_button.gif'), body_styles_path %>
<% @products.each do |product| %>
  <%= div_for product do %>
    <%= image_tag product.primary_image, :width => 50 %>
    <%= link_to_name product %>
  <% end %>
<% end %>