<h1>Listing coupon_categories</h1>

<table>
  <tr>
    <th>Coupon</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coupon_categories.each do |coupon_category| %>
  <tr>
    <td><%= link_to_name coupon_category.coupon %></td>
    <td><%= link_to_name coupon_category.category %></td>
    <td><%= link_to 'Show', coupon_category %></td>
    <td><%= link_to 'Edit', edit_coupon_category_path(coupon_category) %></td>
    <td><%= link_to 'Destroy', coupon_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coupon category', new_coupon_category_path %>
