<h1>Colors</h1>
<%= link_to 'New Color', new_color_path %>
<table>
  <tr>
    <th><%= link_to 'Name', :sort => 'name' %></th>
    <th><%= link_to 'Code', :sort => 'code' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<br>Some colors are very similar and in some cases identical.  Different brands have different names.  Choose color according to color listed on PO, not by appearance.
<% @colors.each do |color| %>
  <tr>
    <td><%= link_to_name color %></td>
    <td><%= color.code %></td>
    <td><div style="width:30px;height:30px;background-color:#<%= color.css_hex_code %>;" class="swatch"></div></td>
    <td>
      <%= link_to image_tag('up_button.gif'), move_up_color_path(color), :method => :put %>
      <%= link_to image_tag('down_button.gif'), move_down_color_path(color), :method => :put %>
      <%= link_to image_tag('edit_button.gif'), edit_color_path(color) %>
      <%= link_to image_tag('X_button.gif'), color, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%= color.created_at %></td>
  </tr>
<% end %>
</table>
