<h1>Colors</h1>
<%= link_to 'New Color', new_color_path %>
<table>
  <tr>
    <th><%= link_to 'Name', :sort => 'name' %></th>
    <th><%= link_to 'Code', :sort => 'code' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @colors.each do |color| %>
  <tr>
    <td><%= link_to_name color %></td>
    <td><%= color.code %></td>
    <td><div style="width:30px;height:30px;background-color:#<%= color.css_hex_code %>;"></div></td>
    <td>
      <%= link_to 'up', move_up_color_path(color), :method => :put %>
      <%= link_to 'down', move_down_color_path(color), :method => :put %>
    </td>
    <td><%= link_to 'edit', edit_color_path(color) %></td>
    <td><%= link_to 'x', color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
