<p>
  <b>Name:</b>
  <%= @color.name %>
</p>

<p>
  <b>Code:</b>
  <%= @color.code %>
</p>

<p>
  <b>Canonical Names(for search):</b>
  <%= @color.canonical_color_names %>
</p>


<%= link_to image_tag('edit_button.gif'), edit_color_path(@color) %> |
<%= link_to image_tag('back_button.gif'), colors_path %>
<div style="width:100px;height:100px;background-color:#<%= @color.css_hex_code %>;" class="swatch">
</div>

<% @color.product_colors.each do |product_color| %>
  <%= link_to image_tag(product_color.product.primary_image(:product_box), :style => "background-color:##{@color.css_hex_code};"), detail_product_path(product_color.product) if product_color.product.andand.primary_image %>
<% end %>