<h1>Listing body_style_product_features</h1>

<table>
  <tr>
    <th>Body style</th>
    <th>Product color</th>
    <th>Position</th>
    <th><%= link_to 'New Body style product feature', new_body_style_product_feature_path, :class => 'btn btn-success' %></th>
  </tr>

<% @body_style_product_features.each do |body_style_product_feature| %>
  <tr>
    <td><%= link_to_name body_style_product_feature.body_style %></td>
    <td><%= link_to_name body_style_product_feature.product_color %></td>
    <td>
      <%= form_for body_style_product_feature, :remote => true do |f| %>
        <%= f.text_field :position %>
        <%= submit_tag "Move" %>
      <% end %>
    </td>
    <td>
      <%= link_to image_tag(asset_path('up_button.gif')), move_up_body_style_product_feature_path(body_style_product_feature), :method => :put %>
      <%= link_to image_tag(asset_path('down_button.gif')), move_down_body_style_product_feature_path(body_style_product_feature), :method => :put %>
      <%= link_to image_tag(asset_path('edit_button.gif')), edit_body_style_product_feature_path(body_style_product_feature) %>
      <%= link_to image_tag(asset_path('X_button.gif')), body_style_product_feature, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <td><%= image_tag body_style_product_feature.product.primary_image(:product_box), :style => "background-color: ##{body_style_product_feature.product_color.css_hex_code}" %></td>
    <td><%= link_to 'Show', body_style_product_feature %></td>
  </tr>
<% end %>
</table>
<%= paginate @body_style_product_features %>