<h1>Listing product_managers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_managers.each do |product_manager| %>
  <tr>
    <td><%= product_manager.name %></td>
    <td><%= product_manager.email %></td>
    <td><%= link_to 'Show', product_manager %></td>
    <td><%= link_to 'Edit', edit_product_manager_path(product_manager) %></td>
    <td><%= button_to 'x', product_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product manager', new_product_manager_path %>
