<p>The following order has just been placed and paid for.</p>

<ol>
  <% @cart.items.each do |item| %>
    <li>
      <%= item.quantity %>x
      <%= item.garment.name %>
      <b><%= item.gift_wrap? ? '(gift wrapped)' : '' %></b>
    </li>
  <% end %>
</ol>

<p>
  Gift Note:
  <%= @cart.gift_note %>
</p>

<p>
  Shipping Instructions:
  <%= @cart.shipping_instructions %>
</p>

<p>
  Shipping Address:
  <%= @cart.shipping_address.display %>
</p>
