<h1>Listing feedbacks</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Customer</th>
    <th>Ip</th>
    <th>Read</th>
    <th>Starred</th>
    <th>Needs reply</th>
    <th>Testimonial</th>
    <th>Refund</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <tr>
    <td><%= feedback.message %></td>
    <td><%= feedback.customer %></td>
    <td><%= feedback.ip %></td>
    <td><%= feedback.read %></td>
    <td><%= feedback.starred %></td>
    <td><%= feedback.needs_reply %></td>
    <td><%= feedback.testimonial %></td>
    <td><%= feedback.refund %></td>
    <td><%= link_to 'Show', feedback %></td>
    <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
    <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feedback', new_feedback_path %>
