<% item_div = div_for(@item, :'data-item_id' => @item.id) do %>
  <div class="image">
    <%= link_to image_tag(@item.product.primary_image, :width => 60, :style => "background-color:##{@item.css_hex_code}"), detail_product_path(@item.product) if @item.product.primary_image %>
  </div>
  <div class="name">
    <%= link_to @item.product.name, detail_product_path(@item.product) %>
  </div>
  <div class="size">
    <%= @item.size.name %>
  </div>
  <div class="color">
    <%= @item.product_color.color.name %>
  </div>
  <div class="price" id="price_<%= @item.id %>">
    <%= number_to_currency @item.cost %>
  </div>
<% end %>

<% indicated_items_div = render :partial => 'shared/indicated_items', :locals => {:item => @item} %>

$('#small_cart_trigger').click();
$('#small_cart').prepend('<%= escape_javascript item_div %>');
$('#small_cart').append('<%= escape_javascript indicated_items_div %>');
