<p id="notice"><%= notice %></p>

<p>
  <b>Cart:</b>
  <%= @item.cart %>
</p>

<p>
  <b>Product color:</b>
  <%= @item.product_color %>
</p>

<p>
  <b>Size:</b>
  <%= @item.size %>
</p>


<%= link_to image_tag('edit_button.gif'), edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
