<p id="notice"><%= notice %></p>

<p>
  <b>Cart:</b>
  <%= link_to @item.cart.id, @item.cart %>
</p>

<p>
  <b>Product color:</b>
  <%= link_to_name @item.product_color %>
</p>

<p>
  <b>Size:</b>
  <%= link_to_name @item.size %>
</p>


<%= link_to image_tag('edit_button.gif'), edit_item_path(@item) %> |
<%= link_to image_tag('back_button.gif'), items_path %>
