<%= form_for(@unit_price) do |f| %>
  <% if @unit_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_price.errors.count, "error") %> prohibited this unit_price from being saved:</h2>

      <ul>
      <% @unit_price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body_style_size_id %>
    <%= f.select :body_style_size_id, options_from_collection_for_select(BodyStyleSize.all, :id, :name, @unit_price.body_style_size_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :design_id %>
    <%= f.select :design_id, options_from_collection_for_select(Design.all, :id, :name, @unit_price.design_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :stock_id %><br />
    <%= f.select :stock_id, options_from_collection_for_select(Stock.all, :id, :name, @unit_price.stock_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :garment %><br />
    <%= f.select :garment_id, options_from_collection_for_select(Garment.all, :id, :name, @unit_price.garment_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :price, "Price (in cents)" %>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
