<h1>Listing unit_prices</h1>

<table>
  <tr>
    <th>BodyStyleSize</th>
    <th>Design</th>
    <th>Stock</th>
    <th>Garment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unit_prices.each do |unit_price| %>
  <tr>
    <td><%= link_to_name unit_price.body_style_size %></td>
    <td><%= link_to_name unit_price.design %></td>
    <td><%= link_to_name unit_price.stock %></td>
    <td><%= link_to_name unit_price.garment %></td>
    <td><%= unit_price.price %></td>
    <td><%= link_to 'Show', unit_price %></td>
    <td><%= link_to 'Edit', edit_unit_price_path(unit_price) %></td>
    <td><%= link_to 'Destroy', unit_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit price', new_unit_price_path %>

<%= paginate @unit_prices %>