<p id="notice"><%= notice %></p>

<p>
  <b>BodyStyleSize:</b>
  <%= link_to_name @unit_price.body_style_size %>
</p>

<p>
  <b>Stock:</b>
  <%= link_to_name @unit_price.stock %>
</p>

<p>
  <b>Garment:</b>
  <%= link_to_name @unit_price.garment %>
</p>

<p>
  <%= number_to_currency(@unit_price.price / 100.0) %>
</p>


<%= link_to 'Edit', edit_unit_price_path(@unit_price) %> |
<%= link_to 'Back', unit_prices_path %>
