<%= form_for(@content_page) do |f| %>
  <% if @content_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_page.errors.count, "error") %> prohibited this content_page from being saved:</h2>

      <ul>
      <% @content_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :title %>
  <%= f.label :title %><br>
  <%= f.text_field :slug %>
  <%= f.label :slug %><br>
  <%= f.text_area :content %>
  <%= f.label :content %><br>
  <%= f.check_box :active %>
  <%= f.label :active %><br>
  <%= f.select :parent_id, options_from_collection_for_select(ContentPage.all, :id, :name, @content_page.parent_id), :include_blank => true %>
  <%= f.label :parent_id %><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
