<h1>Content Pages</h1>
<table class="content_administration">
  <tr>
    <th>Parent</th>
    <th>Title</th>
    <th>Content</th>
    <th>Active</th>
    <th><%= link_to 'New Content Page', new_content_page_path, :class => 'btn btn-success' %></th>
  </tr>

<% @content_pages.each do |content_page| %>
  <tr>
    <td><%= link_to_name content_page.parent %></td>
    <td><%= link_to content_page.title, content_page %></td>
    <td class="content_page_content_preview">
      <% if content_page.content? %>
        <% content_page_text = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true).render(content_page.content) %>
        <%= content_page_text.truncate(400).html_safe %>
        <%= link_to '{all}', content_page_path(content_page), :class => 'full_display_link', :'data-content_page_id' => content_page.id %>
        <%= div_for content_page, :full_display_of do %>
          <%= content_page_text[400..-1].html_safe if content_page_text.length > 400 %>
        <% end %>
      <% end %>
    </td>
    <td><%= content_page.active ? 'active' : 'disabled' %></td>
    <td>
      <%= link_to image_tag('up_button.gif'), move_up_content_page_path(content_page), :method => :put %>
      <%= link_to image_tag('down_button.gif'), move_down_content_page_path(content_page), :method => :put %>
      <%= link_to image_tag('edit_button.gif'), edit_content_page_path(content_page) %>
      <%= link_to image_tag('X_button.gif'), content_page, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
