<%= form_for(@design_feature) do |f| %>
  <% if @design_feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@design_feature.errors.count, "error") %> prohibited this design_feature from being saved:</h2>

      <ul>
      <% @design_feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :design %><br />
    <%= f.select :design, options_from_collection_for_select(Design.all, :id, :name, @design_feature.design_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :active_from %><br />
    <%= f.datetime_select :active_from %>
  </div>
  <div class="field">
    <%= f.label :active_until %><br />
    <%= f.datetime_select :active_until %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
