<%= form_for(@quantity, :remote => request.xhr?) do |f| %>
  <% if @quantity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quantity.errors.count, "error") %> prohibited this quantity from being saved:</h2>

      <ul>
      <% @quantity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :garment_purchase_order_id %><br />
    <%= f.select :garment_purchase_order_id, options_from_collection_for_select(GarmentPurchaseOrder.all, :id, :name, @quantity.garment_purchase_order_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :purchased %><br />
    <%= f.number_field :purchased %>
  </div>
  <div class="field">
    <%= f.label :unit_price_id %><br />
    <%= f.select :unit_price_id, options_from_collection_for_select(@unit_prices, :id, :name, @quantity.unit_price_id), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
