<p id="notice"><%= notice %></p>

<p>
  <%= link_to_name @quantity.garment_purchase_order %>
</p>

<p>
  <%= link_to_name @quantity.print_purchase_order %>
</p>

<p>
  <b>Purchased:</b>
  <%= @quantity.purchased %>
</p>

<p>
  <b>Unit price:</b>
  <%= link_to_name @quantity.unit_price %>
</p>


<%= link_to 'Edit', edit_quantity_path(@quantity) %> |
<%= link_to 'Back', quantities_path %>
