<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug, :placeholder => 'autofilled' %>
  </div>
  <div class="field">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>
  <div>
    <%= f.check_box :has_submenu %>
    <%= f.label :has_submenu %>
  </div>
  <div class="field">
    <%= f.check_box :is_age_group %>
    <%= f.label :is_age_group %>
  </div>
  <div class="field">
    <%= f.check_box :is_cut_type %>
    <%= f.label :is_cut_type %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.select :parent_id, options_from_collection_for_select(Category.all, :id, :name, @category.parent_id), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
