<div class="category_of_products">
  <!-- <div id="large_wide_feature_box" class="large_wide_feature_box">
    <%#= like_heart_for @large_wide_feature_image if @large_wide_feature_image %>
    <%#= image_tag @large_wide_feature_image.image_url if @large_wide_feature_image %>
    <div class="gray_label">
      <%#= @large_wide_feature_image.andand.caption %>
    </div>
  </div> -->
    <div class="filtered_navigation_title" id="filtered_navigation_title"><%= link_to 'Filter:', '#', :id => 'display_filtered_navigation_toggle' %></div>
    <div class="filtered search side bar" id="filtered_search">
      <div class="filtered_navigation" id="filtered_navigation">
        <%= filtered_navigation_system %>
      </div>
    </div>
  <div id="category_left_side">
    
    <% @product_colors.each do |product_color| %>
      <%= product_display_box product_color, :original %>
  	<% end %>
  </div>
  <div id="category_right_side">
    <!-- <%# if @large_square_feature_image %>
      <div id="large_square_feature_box" class="stack">
        <%#= like_heart_for @large_square_feature_image if @large_square_feature_image %>
        <%#= image_tag @large_square_feature_image.image_url if @large_square_feature_image %>
        <%#= @large_square_feature_image.andand.caption %>
      </div>
    <%# end %> -->
    <%# @product_colors[9..14].each do |product_color| %>
      <%#= product_display_box product_color, :original %>
  	<%# end if @product_colors.length > 9 %>
  </div>
  <%#= clearboth %>
  <div id="category_bottom">
    <%# @product_colors[15..-1].each do |product_color| %>
      <%#= product_display_box product_color, :original %>
    <%# end if @product_colors.length > 8 %>
  </div>
</div>
<%= clearboth %>
<div class="shop_by_color_title" id="shop_by_color_title">
  <%= link_to 'Browse by Color', browse_colors_path %>  
</div>
<div class="shop_by_color" id="shop_by_color"></div>
<div class="shop_by_style_title" id="shop_by_style_title">
  <%= link_to 'Browse by Style', browse_body_styles_path %>  
</div>
<div class="shop_by_style" id="shop_by_style"></div>
<div class="shop_by_design_title" id="shop_by_design_title">
  <%= link_to 'Browse by Design', browse_designs_path %> 
</div>
<div class="shop_by_design" id="shop_by_design"></div>
<div class="browse_sale_items_title" id="browse_sale_items_title">
  <%= link_to 'Sale Items', browse_sales_path %>
</div>
<div class="browse_sale_items" id="browse_sale_items"></div>
<div class="homepage_interactive_buttons_title" id="homepage_interactive_buttons_title">
  join our community
</div>
<div class="homepage_interactive_buttons" id="homepage_interactive_buttons">
  <div id="blog_link"><a href="http://blog.littlehippie.com">Check out our brand new blog!</a></div>
    <div class="mailinglist_signup">
      <%= submit_tag 'Sign Mailing List', :href => '#mailing_list_form', :id => 'sign_mailing_list', :class => 'product_actions fancybox' %>
    </div>
    <div id='social-media-buttons'>
      <%= link_to image_tag(asset_path('FBlogo.gif')), 'https://facebook.com/LittleHippieLLC', :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('tumblrlogo.gif')), 'http://littlehippiellc.tumblr.com', :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('twitterlogo.png')), 'https://twitter.com/littlehippiellc', :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('pinterestlogo.png')), 'http://pinterest.com/littlehippiellc/', :class => 'social-engagement left', :target => '_blank' %>
      <a href="https://plus.google.com/110909377240490725890" rel="publisher" class="social-engagement left" id="google-plus-link">G+</a>
    </div>
    <%= link_to '#photo_uploader', :class => 'fancybox' do %>
      <div id="customer_upload_button">Upload Your Photo</div>
    <% end %>
    <%= clearboth %>
  </div>
</div>
