<div class="category_of_products">
  <div id="category_left_side">
    <% @product_colors[0..5].each do |product_color| %>
      <%= div_for product_color.product do %>
  	    <%= link_to image_tag(product_color.image, :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product_color.product) if product_color.image.present? %>
  	    <%= div_for product_color.product, :gray_label_for, :class => 'gray_label' do %>
  	      <%= link_to product_color.product.name, detail_product_path(product_color.product) %>
  	    <% end %>
  	  <% end %>
  	<% end %>
  	<div id="large_wide_feature_box" class="blackborder">
  	</div>
  </div>
  <div id="category_right_side">
    <div id="large_square_feature_box" class="blackborder">
    </div>
    <% @product_colors[6..7].each do |product_color| %>
      <%= div_for product_color.product do %>
  	    <%= link_to image_tag(product_color.image, :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product_color.product) if product_color.image.present? %>
  	    <%= div_for product_color.product, :gray_label_for, :class => 'gray_label' do %>
  	      <%= link_to product_color.product.name, detail_product_path(product_color.product) %>
  	    <% end %>
  	  <% end %>
  	<% end %>
  </div>
  <%= clearboth %>
  <% @product_colors[8..-1].each do |product_color| %>
    <%= div_for product_color.product do %>
	    <%= link_to image_tag(product_color.image, :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product_color.product) if product_color.image.present? %>
	    <%= div_for product_color.product, :gray_label_for, :class => 'gray_label' do %>
	      <%= link_to product_color.product.name, detail_product_path(product_color.product) %>
	    <% end %>
	  <% end %>
	<% end %>
</div>
