<div id="category_navigation_border"></div>
<div id="category_navigation">
  <% ContentPage.find_by_slug('home').categories.age_group.each do |category| %>
    <div class="dropdown">
      <%= link_to category.name, detail_category_path(category), :id => category.name, :class => 'nav-group', :'data-toggle' => :dropdown, :'data-hover' => :dropdown, :'data-target' => "#{category.name}-sub-menu" %>
      <%= content_tag :ul, :class => "dropdown-menu little-hippie-navigation", :id => "#{category.name}-sub-menu" do %>
        <% category.body_styles.ordered.each do |body_style| %>
          <%= content_tag_for :li, body_style do %>
            <%= link_to body_style.name, detail_body_style_path(body_style) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="category_of_products">
	<% @products.each do |product| %>
	  <%= div_for product do %>
	    <%= link_to image_tag(product.primary_image, :style => "background-color:##{product.random_color.andand.css_hex_code}"), detail_product_path(product) %>
	    <%= div_for product, :gray_label_for, :class => 'gray_label' do %>
	      <%= link_to product.name, detail_product_path(product) %>
	    <% end %>
	  <% end %>
	<% end %>
</div>
