<div class="category_of_products">
  <div id="category_left_side">
    <% @product_colors[0..8].each do |product_color| %>
      <%= div_for product_color.product do %>
        <% if product_color.image %>
    	    <%= link_to image_tag(product_color.image(:product_box), :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product_color.product) if product_color.image.present? %>
    	  <% else %>
  	    <%= link_to image_tag(product_color.product.primary_image(:product_box), :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product_color.product) if product_color.product.primary_image.present? %>  	  
    	  <% end %>
  	    <%= div_for product_color.product, :gray_label_for, :class => 'gray_label' do %>
  	      <%= link_to product_color.product.design.name, detail_product_path(product_color.product) %><br>
  	      <%= link_to product_color.product.body_style.name, detail_product_path(product_color.product) %>
  	    <% end %>
  	  <% end %>
  	<% end %>
  </div>
  <div id="category_right_side">
    <div id="large_square_feature_box">
      <%= image_tag @large_square_feature_image.image_url if @large_square_feature_image %>
      <div class="gray_label">
  	    <%= @large_square_feature_image.andand.caption %>
  	  </div>
    </div>
    <% @product_colors[9..10].each do |product_color| %>
      <%= div_for product_color.product do %>
        <% if product_color.image %>
    	    <%= link_to image_tag(product_color.image(:product_box), :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product_color.product) if product_color.image.present? %>
    	  <% else %>
  	    <%= link_to image_tag(product_color.product.primary_image(:product_box), :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product_color.product) if product_color.product.primary_image.present? %>  	  
    	  <% end %>
  	    <%= div_for product_color.product, :gray_label_for, :class => 'gray_label' do %>
  	      <%= link_to product_color.product.design.name, detail_product_path(product_color.product) %><br>
  	      <%= link_to product_color.product.body_style.name, detail_product_path(product_color.product) %>
  	    <% end %>
  	  <% end %>
  	<% end if @product_colors.length > 6 %>
  </div>
  <%= clearboth %>
<div id="category_bottom">
  <% @product_colors[11..-1].each do |product_color| %>
    <%= div_for product_color.product do %>
      <% if product_color.image %>
  	    <%= link_to image_tag(product_color.image(:product_box), :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product_color.product) if product_color.image.present? %>
  	  <% else %>
	    <%= link_to image_tag(product_color.product.primary_image(:product_box), :style => "background-color:##{product_color.color.css_hex_code}"), detail_product_path(product_color.product) if product_color.product.primary_image.present? %>  	  
  	  <% end %>
	    <%= div_for product_color.product, :gray_label_for, :class => 'gray_label' do %>
	      <%= link_to product_color.product.design.name, detail_product_path(product_color.product) %><br>
	      <%= link_to product_color.product.body_style.name, detail_product_path(product_color.product) %>
	    <% end %>
	  <% end %>
  <% end if @product_colors.length > 8 %>
 </div>
</div>
