<h1>Categories</h1>
<%= link_to 'New Category', new_category_path %>
<table>
  <tr>
    <th>Parent</th>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to_name category.parent %></td>
    <td><%= link_to_name category %></td>
    <td><%= category.active %></td>
    <td>
      <%= link_to image_tag('edit_button.gif'), edit_category_path(category) %>
      <%= link_to image_tag('X_button.gif'), category, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
