<%= link_to 'Display', detail_category_path(@category) %>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Parent</b>
  <%= link_to_name @category.parent %>
</p>

<div>
  <b>Children</b>
  <% @category.children.each do |category| %>
    <%= link_to_name category %>
  <% end %>
</div>



<%= link_to image_tag('edit_button.gif'), edit_category_path(@category) %> |
<%= link_to image_tag('back_button.gif'), categories_path %>
