<section class="wishlist">
  <header>
    <%= @wishlist.name %>
  </header>
  <% @wishlist.wishlist_items.each do |wishlist_item| %>
    <item>
      <%= link_to detail_product_path(wishlist_item.product) do %>
        <%= image_tag wishlist_item.product.primary_image(:product_box), :style => "background-color: ##{wishlist_item.color.css_hex_code}" %>
        <div class="wishlist_logistics">
          <%= like_heart_for wishlist_item.product %><br>
          <%= link_to wishlist_item.product.design.name, detail_design_path(wishlist_item.product.design) %> <%= link_to wishlist_item.product.body_style.name, detail_body_style_path(wishlist_item.product.body_style) %> (<%= wishlist_item.size.andand.name %> in <%= link_to wishlist_item.color.name, detail_color_path(wishlist_item.color) %>)
        </div>
      <% end %>
      <%= link_to 'Move to Cart', items_path(:item => {:product_color_id => wishlist_item.product_color_id, :size_id => wishlist_item.size_id}, :moved_from_wishlist => true), :method => :post, :class => 'move_to_cart' %>
    </item>
  <% end %>
</section>
