<h1>Listing category_images</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Image</th>
    <th></th>
    <th>Display start</th>
    <th>Display end</th>
    <th></th>
    <th><%= link_to 'New Category image', new_category_image_path, :class => 'btn btn-success' %></th>
  </tr>

<% @category_images.each do |category_image| %>
  <tr>
    <td><%= link_to_name category_image.category %></td>
    <td><%= category_image.image %></td>
    <td><%= image_tag category_image.image, :width => 140 if category_image.image %></td>
    <td><%= category_image.display_start %></td>
    <td><%= category_image.display_end %></td>
    <td><%= link_to 'Show', category_image %></td>
    <td>
      <%= link_to image_tag(asset_path('edit_button.gif')), edit_category_image_path(category_image) %>
      <%= link_to image_tag(asset_path('X_button.gif')), category_image, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
