<%= form_tag choose_product_colors_path do %>
  <%= hidden_field_tag :product_id, @product.id %>
  <% Color.alphabetical.in_groups_of(4, false).each do |color_group| %>
    <div class="color_group">
      <% color_group.each do |color| %>
        <div class="color_grid">
          <%= check_box_tag "product_colors[#{color.id}]" %>
          <%= color.name %>
          <div style="width:100px;height:15px;background-color:#<%= color.css_hex_code %>;"></div>
        </div>
      <% end %>
    </div>
  <% end %><br>
  <%= submit_tag 'Add these colors' %>
<% end %>