<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :design_id %><br />
    <%= f.select :design_id, options_from_collection_for_select(Design.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :body_style_id %><br />
    <%= f.select :body_style_id, options_from_collection_for_select(BodyStyle.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :price, 'Price (in cents, i.e. 3500)' %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
