<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :design_id %><br />
    <%= f.select :design_id, options_from_collection_for_select(Design.ordered, :id, :name, @product.design_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :body_style_id %><br />
    <%= f.select :body_style_id, options_from_collection_for_select(BodyStyle.ordered, :id, :name, @product.body_style_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :name_override %>
    <%= f.text_field :name_override %>
  </div>
  <div class="field">
    <%= f.label :price, 'Price (in cents, i.e. 3500)' %><br />
    <%= f.text_field :price %>
    Note: if blank, price will default to base price for this body style.
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :copy %><br>
    <%= f.text_area :copy %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :preview %><br />
    <%= f.check_box :preview %>
  </div>
  <div class="field">
    <%= f.label :open_graph_id %>
    <%= f.text_field :open_graph_id %>
  </div>
  <div class="field">
    <%= f.label :target_share_count %>
    <%= f.text_field :target_share_count %>
  </div>
  <div class="field">
    <%= f.label :target_post_id %>
    <%= f.text_field :target_post_id %>
  </div>
  <div class="field">
    <%= f.label :cost, 'Cost (in cents)' %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :shipping_facility %>(1 for Old Glory)<br>
    <%= f.number_field :shipping_facility %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
