<%= div_for @product do %>
  <div id="product_detail_left">
    <div class="primary_product_image blackborder">
      <div class="product_name">
        <%= @product.design.name %> <%= @product.body_style.name %>
      </div>
      <%= image_tag @product.primary_image(:full_enlargement), :style => "background-color:##{@product.random_color.andand.css_hex_code}" %>
    </div>
    <div id="product_bottom_line">
      <%= text_field_tag :product, nil, :id => 'product_quantity', :placeholder => 1 %>@
      <span class="price">
        <%= number_to_currency @product.dollar_price %>
      </span>
    </div>
    
    <div>
      <div class="similar_products blackborder jcarousel">
        <ul>
          <% @product.similar_items.each do |product| %>
            <li>
              <%= link_to image_tag(product.primary_image(:product_box), :style => "background-color:##{product.random_color.andand.css_hex_code}"), detail_product_path(product) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="similar_title">
        Similar Items
        <a id="right_related_products_control" class="right">--5</a>
        <a id="left_related_products_control" class="right">4--</a>
      </div>
    </div>
  </div>
  <div id="product_detail_right">
    <%= link_to '#design_blowup', :class => 'fancybox' do %>
      <div class="product_artwork_enlargement blackborder" style="background-color:#<%= @product.design.background_color %>">
        <div class="design_title"><%= @product.design.name %></div>
        <%= link_to image_tag(@product.design.art_url(:full_enlargement)), '#design_blowup', :class => 'fancybox' %>
      </div>
  		<div id="design_enlargement_title" class="graytitle">
  			<%= link_to 'click to enlarge design', '#design_blowup', :class => 'fancybox' %>
  		</div>
  	<% end %>
    <%= form_for Item.new do |f| %>
      <div class="product_details">
        <div class="product_detail_pick">
  	      <%= div_for @product, :colors_for, :class => 'blackborder' do %>
  	        <% @product_colors.each do |product_color| %>
  					  <div class="color_option" data-color-hex="#<%= product_color.color.css_hex_code %>">
  		          <%= f.label "product_color_id_#{product_color.id}", product_color.color.name, :'data-color-hex' => "##{product_color.color.css_hex_code}" %>
  		          <%= f.radio_button :product_color_id, product_color.id, :'data-color-hex' => "##{product_color.color.css_hex_code}", :'data-color_id' => product_color.color_id %>
  	          </div>
  	        <% end %>
  	      <% end %>
  				<div id="product_color_title" class="graytitle">
  					choose a color
  				</div>
  			</div>
  			<div class="product_detail_pick">
  	      <%= div_for @product, :sizes_for, :class => 'blackborder' do %>
  	        <% @product.sizes.ordered.each do |size| %>
  						<div class="size_option">
  		          <%= f.label "size_id_#{size.id}", size.name %>
  		          <%= f.radio_button :size_id, size.id, :'data-size_id' => size.id %>
  	          </div>
  	        <% end %>
  	      <% end %>
  				<div id="product_sizes_title" class="graytitle">
  				  pick a size
  				</div>
  			</div>
      <% end %>
    </div>
  </div>
  <div id="also_available_title">
    This design is also available on:
  </div>
  <div id="body_styles_for_design">
    <% @product.design.body_styles.except(@product.body_style).each do |body_style| %>
      <div class="body_style_list">
        <%= link_to body_style.name, detail_product_path(Product.find_by_body_style_id_and_design_id(body_style.id, @product.design_id)) %>
      </div>
    <% end %>
    <div class="body_style_list">
      <i><%= link_to '---------See All---------', detail_design_path(@product.design) %></i>
    </div>
  </div>
  <%= clearboth %>
  <div class="product_options_buttons">    
    <div class="share_buttons">
      social media buttons         
    </div>  
    <%= div_for @product, :add_to_cart do %>
      <%= submit_tag 'Add to Cart', :id => 'add_to_cart' %>
    <% end %>
    <%= div_for @product, :add_to_wishlist do %>
      <%= submit_tag 'Add to Wishlist', :id => 'add_to_wishlist' %>
    <% end %>
    <div class="sale_signup">  
      sign up for sale notifications         
    </div>  
    <%= div_for @product, :email_to_friend do %>
      <%= submit_tag 'Email to a Friend', :id => 'email_to_friend' %>
    <% end %>   
    <%= clearboth %>
    <div id="wishlist_confirmation"></div>
  </div>
  <%= clearboth %>

  <div class="product_copy">  
    product details go here        
  </div>
  <div id="product_feedback">
    <%= form_for Feedback.new, :remote => true do |f| %>
      <%= f.text_area :message %>
      <%= f.submit 'Add your story!', :id => 'add_your_story' %> 
    <% end %>
  </div>
<% end %>
<div id="design_blowup_holder" style="display:none">
  <div id="design_blowup" style="background-color:#<%= @product.design.background_color %>">
    <%= image_tag @product.design.art_url(:full_enlargement) %>
  </div>
</div>
<div id="friend_email_holder" style="display:none">
  <%= link_to 'email friend', '#email_friend', :id => 'email_friend_link' %>
  <div id="email_friend">
    <%= form_for FriendEmail.new(:message => "Hey!\n\nI was shopping at littlehippie.com and I found a #{@product.body_style.name} featuring a piece of art called #{@product.design.name}.\n\n#{detail_product_url(@product.id)}", :product => @product), :remote => true do |f| %>
      <%= f.label :email, 'Email Address(es):' %><br>
      <%= f.text_field :email %><br>
      <%= f.text_area :message %>
      <%= f.submit :send %>
      <%= f.hidden_field :product_id %>
      <%= f.hidden_field :size_id %>
      <%= f.hidden_field :color_id %>
    <% end %>
  </div>
</div>
