<%= div_for @product, :class => 'product product_id_marker', :'data-product_id' => @product.id do %>
  <div id="product_detail_left">
    <div class="primary_product_image <%= liked_products.include?(@product.id) ? 'purpleborder' : 'blackborder' %>">
      <div class="product_name">
        <%= @product.design.name %> <%= @product.body_style.name %>
        <% if liked_products.include?(@product.id) %>
          <%= image_tag(asset_path('purple_heart.png'), :class => 'heart right') %>
        <% else %>
          <%= link_to(image_tag(asset_path('maroon_heart.png'), :title => 'Like this Product', :class => 'heart'), likes_path(:like => {:favorite_id => @product.id, :favorite_type => 'Product'}), :remote => true, :method => :post, :class => 'right product_like') %>
        <% end %>
        <span class="right like_count product_like"><%= @product.likes.count %></span>
        <span id="product_facebook_open_graph_id" data-open_graph_id="<%= @product.open_graph_id %>"></span>
      </div>
      <%= image_tag @product.primary_image(:full_enlargement), :style => "background-color:##{@product.landing_color.andand.css_hex_code}", :id => 'product_image' %>
    </div>
    <div id="product_bottom_line">
      <%= text_field_tag :product, nil, :id => 'product_quantity', :placeholder => 1 %>@
      <span class="price">
        <%= number_to_currency @product.dollar_price %>
      </span>
    </div>
    
    <div>
      <div class="similar_products blackborder jcarousel" data-number-of-products="<%= @similar_items.length %>">
        <ul>
          <% @similar_items.each do |product| %>
            <li>
              <%= link_to image_tag(product.primary_image(:product_box), :style => "background-color:##{product.random_color.andand.css_hex_code}"), detail_product_path(product) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="similar_title">
        Similar Items
        <a id="right_related_products_control" class="right">&nbsp;&nbsp;--&gt;</a>
        <a id="left_related_products_control" class="right">&lt;--</a>
      </div>
    </div>
  </div>
  <div id="product_detail_right">
    <%= link_to '#design_blowup', :class => 'fancybox' do %>
      <div class="product_artwork_enlargement blackborder" style="background-color:#<%= @product.design.background_color %>">
        <div class="design_title">
          <%= @product.design.name %>
          <% if liked_designs.include?(@product.design_id) %>
            <%= image_tag(asset_path('purple_heart.png'), :class => 'heart right') %>
          <% else %>
            <%= link_to(image_tag(asset_path('maroon_heart.png'), :title => 'Like this Design', :class => 'heart'), likes_path(:like => {:favorite_id => @product.design_id, :favorite_type => 'Design'}), :remote => true, :method => :post, :class => 'right design_like', :'data-design_url' => detail_design_url(@product.design)) %>
          <% end %>
          <span class="right like_count design_like"><%= @product.design.likes.count %></span>
        </div>
        <%= link_to image_tag(@product.design.art_url(:full_enlargement)), '#design_blowup', :class => 'fancybox' %>
      </div>
  		<div id="design_enlargement_title" class="graytitle">
  			<%= link_to 'click to enlarge design', '#design_blowup', :class => 'fancybox' %>
  		</div>
  	<% end %>
    <%= form_for Item.new do |f| %>
      <%= f.hidden_field :quantity %>
      <div class="product_details">
        <div class="product_detail_pick">
  	      <%= div_for @product, :colors_for, :class => 'blackborder' do %>
  	        <% @product_colors.each do |product_color| %>
  					  <div class="color_option" data-color-hex="#<%= product_color.color.css_hex_code %>">
  		          <%= f.label "product_color_id_#{product_color.id}", product_color.color.name, :'data-color-hex' => "##{product_color.color.css_hex_code}" %>
  		          <%#= product_color.inventory_snapshots_of_this_color.inject(0) { |sum, inv| sum + inv.current_amount } %>
  		          <%= f.radio_button :product_color_id, product_color.id, :'data-color-hex' => "##{product_color.color.css_hex_code}", :'data-color_id' => product_color.color_id %>
  	          </div>
  	        <% end %>
  	        <div id="color_out_of_stock">That size is not currently available in this color.</div>
  	      <% end %>
  				<div id="product_color_title" class="graytitle">
  					choose a color
  				</div>
  			</div>
  			<div class="product_detail_pick">
  	      <%= div_for @product, :sizes_for, :class => 'blackborder' do %>
  	        <% @product.sizes.ordered.each do |size| %>
  	          <% body_style_size = BodyStyleSize.find_by_body_style_id_and_size_id @product.body_style_id, size.id %>
  						<div class="size_option">
  		          <%= f.label "size_id_#{size.id}", size.name %>
  		          <%#= body_style_size.inventory_snapshots.sum(:current_amount) %>
  		          <%= f.radio_button :size_id, size.id, :'data-size_id' => size.id %>
  	          </div>
  	        <% end %>
  	        <div id="size_out_of_stock">That color is not currently available in this size.</div>
  	      <% end %>
  				<div id="product_sizes_title" class="graytitle">
  				  pick a size
  				</div>
  			</div>
      <% end %>
    </div>
  </div>
  <div id="also_available_title">
    This design is also available on:
  </div>
  <div id="body_styles_for_design">
    <% @product.design.body_styles.active.ordered.except(@product.body_style).each do |body_style| %>
      <div class="body_style_list">
        <%= link_to body_style.name, detail_product_path(Product.find_by_body_style_id_and_design_id(body_style.id, @product.design_id)) %>
      </div>
    <% end %>
    <div class="body_style_list">
      <i><%= link_to '---------See All---------', detail_design_path(@product.design) %></i>
    </div>
  </div>
  <%= clearboth %>
  <div class="product_options_buttons">    
    <div class="share_buttons">
      share this product
      <%= link_to image_tag(asset_path('FBlogo.gif')), "https://facebook.com/share.php?u=#{CGI.escape request.url}", :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('tumblrlogo.gif')), "http://tumblr.com/share/photo?source=#{CGI.escape @product.primary_image}&clickthru=#{CGI.escape request.url}&caption=#{CGI.escape @product.name}", :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('twitterlogo.png')), "https://twitter.com/?status=#{CGI.escape request.url}", :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('pinterestlogo.png')), "http://pinterest.com/pin/create/button/?url=#{CGI.escape request.url}&media=#{CGI.escape @product.primary_image}&description=#{CGI.escape @product.name}", :class => 'social-engagement left', :target => '_blank' %>
    </div>  
    <%= div_for @product, :add_to_cart do %>
      <%= submit_tag 'Add to Cart', :id => 'add_to_cart', :class => 'product_actions' %>
    <% end %>
    <%= div_for @product, :add_to_wishlist do %>
      <%= submit_tag 'Save to Wishlist', :id => 'add_to_wishlist', :class => 'product_actions' %>
    <% end %>
    <div class="sale_signup">  
      <%= submit_tag 'Sign Mailing List', :href => '#mailing_list_form', :id => 'sign_mailing_list', :class => 'product_actions fancybox' %>
    </div>  
    <%= div_for @product, :email_to_friend do %>
      <%= submit_tag 'Email to a Friend', :id => 'email_to_friend', :class => 'product_actions' %>
    <% end %>   
    <%= clearboth %>
    <div id="wishlist_confirmation"></div>
  </div>
  <%= clearboth %>

  <div class="product_copy">  
    <%= @product.copy %>
  </div>
  <div id="product_feedback">
    <%= form_for @product.comments.new, :remote => true do |f| %>
      <%= f.text_area :message %>
      <%= f.submit 'Add your story!', :id => 'add_your_story' %>
      <%= f.hidden_field :product_id %>
    <% end %>
    <div id="customer_comments">
      <% @product.comments.approved.ordered.each do |comment| %>
        <div class="customer_comment message">
          <%= comment.customer.name %>:
          <%= comment.message %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div id="design_blowup_holder" style="display:none">
  <div id="design_blowup" style="background-color:#<%= @product.design.background_color %>">
    <%= image_tag @product.design.art_url(:full_enlargement) %>
  </div>
</div>
<div id="friend_email_holder" style="display:none">
  <%= link_to 'email friend', '#email_friend', :id => 'email_friend_link' %>
  <div id="email_friend">
    <%= form_for FriendEmail.new(:message => "Hey!\n\nI was shopping at littlehippie.com and I found a #{@product.body_style.name} featuring a piece of art called #{@product.design.name}.\n\n#{detail_product_url(@product.id)}", :product => @product), :remote => true do |f| %>
      <%= f.label :email, 'Email Address(es):' %><br>
      <%= f.text_field :email %><br>
      <%= f.text_area :message %>
      <%= f.submit :send %>
      <%= f.hidden_field :product_id %>
      <%= f.hidden_field :size_id %>
      <%= f.hidden_field :color_id %>
    <% end %>
  </div>
</div>
<div id="wishlist_login_holder" style="display:none">
  <%= link_to 'show wishlist login message', '#wishlist_login', :class => 'fancybox', :id => 'wishlist_login_link' %>
  <div id="wishlist_login">
    You must be logged in to add items to the wishlist.<br>
    <%= link_to 'Login', '#sign_in_form', :class => 'right fancybox', :id => 'sign_in_link' %>
    <%= link_to_function 'OK', "$.fancybox.close();" %>
  </div>
</div>


<%= content_for :fb_og_tags do %>
  <meta property="fb:app_id" content="<%= Facebooker2.app_id %>" />
  <meta property="og:type"   content="object" /> 
  <meta property="og:url"    content="<%= detail_product_url(@product) %>" /> 
  <meta property="og:title"  content="<%= @product.name %>" /> 
  <meta property="og:image"  content="<%= @product.primary_image %>" />
<% end %>