<%= div_for @product, :class => 'product product_id_marker', :'data-product_id' => @product.id do %>
  <div id="product_detail_left">
    <div class="breadcrumb_nav" id="breadcrumb_nav">
      <%= link_to @product.age_group.name, detail_category_path(@product.age_group) %>
      &raquo;
      <%= link_to @product.body_style.name, detail_body_style_path(@product.body_style) %>
      &raquo;
      <%= link_to @product.design.name, detail_design_path(@product.design) %>
    </div>
    <div class="primary_product_image">
      <%= image_tag @product.primary_image(:full_enlargement), :style => "background-color:##{@product.landing_color.andand.css_hex_code}", :id => 'product_image' %>
    </div>
  </div>
  <div class="wholesale_link" id="wholesale_link">
    <%= link_to 'Wholesale? Click here.', styles_wholesale_orders_path %>
  </div>
  <div id="product_detail_right">
    <div id="product_bottom_line">
      <div id="product_name">
        <%= @product.design.name %> <%= @product.body_style.name %>
        <% if liked_products.include?(@product.id) %>
          <%= image_tag(asset_path('purple_heart.png'), :class => 'heart right') %>
        <% else %>
          <%= link_to(image_tag(asset_path('maroon_heart.png'), :title => 'Like this Product', :class => 'heart', :id => dom_id(@product, :heart_for)), likes_path(:like => {:favorite_id => @product.id, :favorite_type => 'Product'}), :'data-product_url' => detail_product_url(@product), :remote => true, :method => :post, :class => 'right product_like') %>
        <% end %>
        <span class="right like_count product_like" id="<%= dom_id @product, :likes_of %>"><%= @product.likes.count %></span>
        <span id="product_facebook_open_graph_id" data-open_graph_id="<%= @product.open_graph_id %>"></span>
      </div>
      <span class="price">
        <% if params[:coupon_id] %>
          <%= number_to_currency @product.dollar_price - Coupon.find(params[:coupon_id]).amount/100.0 %>
        <% elsif @product.is_on_sale? %>
          <strike><%= number_to_currency @product.dollar_price %></strike>&nbsp;<%= number_to_currency @product.sale_price %>
        <% else %>
          <%= number_to_currency @product.dollar_price %>
        <% end %>
      </span>
    </div>
    <% if flash[:notice] == "Select color and size." %>
      <%= flash[:notice] %>
    <% end %>
    <%= form_for Item.new do |f| %>
      <%= f.hidden_field :quantity %>
      <%= hidden_field_tag :coupon_id, params[:coupon_id] %>
      <div class="product_details">
        <div class="product_detail_pick">
          <%= div_for @product, :colors_for do %>
            <% @product_colors.each do |product_color| %>
              <% color_code = product_color.color.css_hex_code %>
              <div class="color_option" data-color-hex="#<%= color_code %>">
                <%= f.label "product_color_id_#{product_color.id}", :'data-color-hex' => "##{color_code}", :style => "background-color: ##{color_code};" do %>
                  <%= f.radio_button :product_color_id, product_color.id, :'data-color-hex' => "##{color_code}", :'data-color_id' => product_color.color_id %>
                <% end %>
              </div>
            <% end %>
            <div id="color_out_of_stock">That size is not currently available in this color.</div>
          <% end %>
        </div>
        <div class="product_detail_pick">
          <%= div_for @product, :sizes_for do %>
            <% @product.garments.in_stock.map(&:size).uniq.sort_by(&:position).each do |size| %>
            <%# @product.sizes.ordered.each do |size| %>
              <% body_style_size = BodyStyleSize.find_by_body_style_id_and_size_id @product.body_style_id, size.id %>
              <div class="size_option">
                <%= f.label "size_id_#{size.id}" do %>
                  <%= size.letter_code %>
                  <%= f.radio_button :size_id, size.id, :'data-size_id' => size.id %>
                <% end %>
              </div>
            <% end %>
            <div id="size_out_of_stock">That color is not currently available in this size.</div>
          <% end %>
          <div class="size_note" id="size_id">

          </div>
        </div>
      </div>
    <% end %>
    <div class="product_options_buttons">
      <%= div_for @product, :add_to_cart do %>
        <% unless @product.preview? %>
          <%= submit_tag 'Add to Cart', :id => 'add_to_cart', :class => 'product_actions' %>
        <% else %>
          <%= submit_tag 'Preview!', :id => 'add_to_cart', :class => 'product_actions', :disabled => 'disabled' %>
        <% end %>
      <% end %>
      <%= div_for @product, :add_to_wishlist do %>
        <%= submit_tag 'Save to Wishlist', :id => 'add_to_wishlist', :class => 'product_actions' %>
      <% end %>
      <div id="wishlist_confirmation"></div>
    </div>
    <%= clearboth %>
    <div class="product_info" id="product_info">  
      <div class="size_chart_link" id="size_chart_link">
        size charts
      </div>
      <div class="shipping_info" id="shipping_info">
        shipping info
      </div>
      <div class="returns_info" id="returns_info">
        returns
      </div>
    </div>
    <div id="product_logistical_display">
      <div id="product_copy" class="logistical_tab">
        <%= @product.copy %>
      </div>
      <div id="size_chart" class="logistical_tab">
        Small Medium Large
      </div>
      <div id="shipping_information" class="logistical_tab">
        We ship promptly anywhere in the United States.  International shipping is available at additional cost.
      </div>
      <div id="returns_information" class="logistical_tab">
        If you are not satisfied with your purchase, we are happy to offer you an exchange.  You may be charged a restocking fee.
      </div>
    </div>
    <div class="thumbnails_for_enlargement">
      <%= link_to '#design_blowup', :class => 'fancybox' do %>
        <div class="product_artwork_enlargement">
          <%= image_tag(@product.design.art_url(:full_enlargement)) %>
        </div>
      <% end %>
      <% @product.banners.each do |banner| %>
        <%= link_to "##{dom_id(banner)}", :class => 'fancybox' do %>
          <div class="product_banner_thumbnail">
            <%= image_tag(banner.image_url) %>
          </div>
        <% end %>
        <div class="tagged_banner_enlargement" id="<%= dom_id(banner) %>">
          <%= image_tag(banner.image_url) %>
        </div>
      <% end %>
    </div>
    <div class="share_buttons">
      <%= link_to image_tag(asset_path('FBlogo.gif')), "https://facebook.com/share.php?u=#{CGI.escape request.url}", :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('tumblrlogo.gif')), "http://tumblr.com/share/photo?source=#{CGI.escape @product.primary_image}&clickthru=#{CGI.escape request.url}&caption=#{CGI.escape @product.name}", :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('twitterlogo.png')), "https://twitter.com/?status=#{CGI.escape request.url}", :class => 'social-engagement left', :target => '_blank' %>
      <%= link_to image_tag(asset_path('pinterestlogo.png')), "http://pinterest.com/pin/create/button/?url=#{CGI.escape request.url}&media=#{CGI.escape @product.primary_image}&description=#{CGI.escape @product.name}", :class => 'social-engagement left', :target => '_blank' %>
    </div>
  </div>
  <%= clearboth %>
  <div id="similar_title">
    Similar Items
    <a id="right_related_products_control" class="right">&raquo;</a>
    <a id="left_related_products_control" class="right">&laquo;&nbsp;&nbsp;</a>
  </div>
  <div class="similar_products jcarousel" data-number-of-products="<%= @similar_items.length %>">
    <ul>
      <% @similar_items.each do |product| %>
        <% color = product.random_color %>
        <% product_color = product.product_colors.available.find_by_color_id(color.id) if color %>
        <li class="similar_item">
          <div class="stack product_color_<%= product_color.andand.id %>" id="<%= dom_id product %>" data-product_id="<%= product.id %>" data-product_color_id="<%= product_color.andand.id %>">
            <%= link_to image_tag(product.primary_image(:product_box), :style => "background-color:##{color.andand.css_hex_code}"), detail_product_path(product), :class => 'related_product_link' if product.primary_image.present? %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= clearboth %>
  <div id="bodystyles_also_available_title">
    This design also available on these styles.
  </div>
  <div id="body_styles_for_design" class="similar_products jcarousel" data-number-of-products="<%= @product.design.body_styles.active.active_product.uniq.count %>">
    <ul>
      <% @product.design.body_styles.active.active_product.available_product(@product.design).ordered.except(@product.body_style).uniq.each do |body_style| %>
        <% product = Product.find_by_body_style_id_and_design_id body_style.id, @product.design_id %>
        <li class="similar_item">
          <div class="body_style_list">
            <%= link_to image_tag(product.primary_image(:product_box)), detail_product_path(product) %>
            <div class="body_style_product_name">
              <%= link_to body_style.name, detail_product_path(product) %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
 <div id="additional_colors_title">
   Additional options in these colors.  
 </div>
  <div id="colors_for_design" class="colors_for_design jcarousel">
    <ul>
      <% @product.colors.featured.ordered.each do |color| %>
        <%= link_to detail_color_path(color) do %>
          <li class="similar_item">
            <%= colored_image @product.product_colors.where(:color_id => color.id).first %><br>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= clearboth %>
<% end %>
<div id="design_blowup_holder" style="display:none">
  <div id="design_blowup" style="background-color:#<%= @product.design.background_color %>">
    <%= like_heart_for @product.design %>
    <%= image_tag @product.design.art_url(:full_enlargement) %>
  </div>
</div>
<div id="friend_email_holder" style="display:none">
  <%= link_to 'email friend', '#email_friend', :id => 'email_friend_link' %>
  <div id="email_friend">
    <%= form_for FriendEmail.new(:message => "Hey!\n\nI was shopping at littlehippie.com and I found a #{@product.body_style.name} featuring a piece of art called #{@product.design.name}.\n\n#{detail_product_url(@product.id)}", :product => @product), :remote => true do |f| %>
      <%= f.label :email, 'Email Address(es):' %><br>
      <%= f.text_field :email %><br>
      <%= f.text_area :message %>
      <%= f.submit :send %>
      <%= f.hidden_field :product_id %>
      <%= f.hidden_field :size_id %>
      <%= f.hidden_field :color_id %>
    <% end %>
  </div>
</div>
<div id="wishlist_login_holder" style="display:none">
  <%= link_to 'show wishlist login message', '#wishlist_login', :class => 'fancybox', :id => 'wishlist_login_link' %>
  <div id="wishlist_login">
    You must be logged in to add items to the wishlist.<br>
    <%= link_to 'Login', '#sign_in_form', :class => 'right fancybox', :id => 'sign_in_link' %>
    <%= link_to_function 'OK', "$.fancybox.close();" %>
  </div>
</div>

<%= content_for :fb_og_tags do %>
  <meta property="fb:app_id" content="<%= Facebooker2.app_id %>" />
  <meta property="og:type"   content="object" /> 
  <meta property="og:url"    content="<%= detail_product_url(@product) %>" /> 
  <meta property="og:title"  content="<%= @product.name %>" /> 
  <meta property="og:image"  content="<%= @product.primary_image %>" />
<% end %>
