<h1>products</h1>

<%= form_tag search_products_path do %>
  <%= text_field_tag :query %>
  <%= submit_tag :find, :class => "input_label" %>
<% end %>
<table>
  <tr>
    <th><%= link_to 'Code', :sort => 'code' %></th>
    <th><%= link_to 'Design', :sort => 'design_id' %></th>
    <th><%= link_to 'Body style', :sort => 'body_style_id' %></th>
    <th><%= link_to 'Price', :sort => 'price' %></th>
    <th>Images</th>
    <th>Colors</th>
    <th>Sizes</th>
    <th>Garments</th>
    <th>In Stock</th>
    <th><%= link_to 'Active', :sort => 'active' %></th>
    <th></th>
    <th></th>
    <th><%= link_to 'New Product', new_product_path, :class => 'btn btn-success right' %></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.code %></td>
    <td><%= link_to_name product.design %></td>
    <td><%= link_to_name product.body_style %></td>
    <td><%= number_to_currency product.price.andand./(100)  %></td>
    <td><%= link_to pluralize(product.product_images.count, 'image'), product_product_images_path(product) %></td>
    <td><%= link_to pluralize(product.colors.count, 'color'), product_product_colors_path(product) %></td>
    <td><%= pluralize(product.sizes.count, 'size') %></td>
    <td><%= pluralize(product.garments.count, 'garment') %></td>
    <td><%= product.number_in_stock %>/<%= 's' if product.stashed? %>/<%= product.number_in_stock_legacy_inventory_system %></td>
    <td><%= product.active %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Display', detail_product_path(product) %></td>
    <td>
      <%= link_to image_tag('up_button.gif'), move_up_product_path(product), :method => :put %>
      <%= link_to image_tag('down_button.gif'), move_down_product_path(product), :method => :put %>
      <%= link_to image_tag('edit_button.gif'), edit_product_path(product) %>
      <%= link_to image_tag('X_button.gif'), product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @products %>