<h1>Products</h1>
<%= link_to 'New Product', new_product_path %>
<table>
  <tr>
    <th>Design</th>
    <th>Body style</th>
    <th>Price</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= link_to_name product.design %></td>
    <td><%= link_to_name product.body_style %></td>
    <td><%= product.price %></td>
    <td><%= product.active %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'up', move_up_product_path(product), :method => :put %></td>
    <td><%= link_to 'edit', edit_product_path(product) %></td>
    <td><%= link_to 'x', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to pluralize(product.product_colors.count, 'color'), product_product_colors_path(product) %></td>
  </tr>
<% end %>
</table>
