<h1>Products</h1>
<%= link_to 'New Product', new_product_path %>
<%= form_tag search_products_path do %>
  <%= text_field_tag :query %>
  <%= submit_tag :find %>
<% end %>
<table>
  <tr>
    <th><%= link_to 'Code', :sort => 'code' %></th>
    <th><%= link_to 'Design', :sort => 'design_id' %></th>
    <th><%= link_to 'Body style', :sort => 'body_style_id' %></th>
    <th><%= link_to 'Price', :sort => 'price' %></th>
    <th><%= link_to 'Active', :sort => 'active' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.code %></td>
    <td><%= link_to_name product.design %></td>
    <td><%= link_to_name product.body_style %></td>
    <td><%= product.price %></td>
    <td><%= product.active %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'up', move_up_product_path(product), :method => :put %></td>
    <td><%= link_to 'edit', edit_product_path(product) %></td>
    <td><%= link_to 'x', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to pluralize(product.product_colors.count, 'color'), product_product_colors_path(product) %></td>
  </tr>
<% end %>
</table>
