<p>
  <b>Design:</b>
  <%= link_to_name @product.design %>
</p>

<p>
  <b>Body style:</b>
  <%= link_to_name @product.body_style %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Copy:</b>
  <%= @product.copy %>
</p>

<p>
  <b>Active:</b>
  <%= @product.active %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<% @product_colors.each do |product_color| %>
  <%= div_for product_color do %>
    <%= link_to_name product_color %>
  <% end %>
<% end %>
<br>
<%= link_to 'add colors', add_colors_for_product_path(@product), :remote => true %>
<div id='color_adder'>
</div>