<h2><%= link_to 'Display', detail_product_path(@product) %></h2>

<p>
  <b>Design:</b>
  <%= link_to_name @product.design %>
</p>

<p>
  <b>Body style:</b>
  <%= link_to_name @product.body_style %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Copy:</b>
  <%= @product.copy %>
</p>

<p>
  <b>Code:</b>
  <%= @product.code %>
</p>

<p>
  <b>Active:</b>
  <%= @product.active %>
</p>

<p>
  <b>Landing Color:<%= link_to '(change)', pick_landing_color_product_path(@product) %></b>
  <%= @product.landing_color.andand.name %>
  <div style="width:100px;height:15px;background-color:#<%= @product.landing_color.andand.css_hex_code %>;" class="swatch"></div>
</p>

<%= select_tag :image_position_template_id, options_from_collection_for_select(ImagePositionTemplate.ordered, :id, :display_name), :include_blank => true %>
<%= button_to_function 'Load', "$.ajax('/image_position_templates/' + $('#image_position_template_id').val() + '/load');" %>

<%= form_tag generate_image_product_path(@product), :remote => true do %>
  <%= text_field_tag :left_offset, nil, :placeholder => 'Left Offset', :value => @product.product_images.last.andand.image_position_template.andand.left %><br>
  <%= text_field_tag :top_offset, nil, :placeholder => 'Top Offset', :value => @product.product_images.last.andand.image_position_template.andand.top %><br>
  <%= text_field_tag :scale, nil, :placeholder => 'Scale', :value => @product.product_images.last.andand.image_position_template.andand.scale %><br>
  <%= text_field_tag :name, nil, :placeholder => 'Template Name' %>
  <%= submit_tag 'Generate Image' %>
<% end %>
<% @product.product_images.each do |image| %>
  <div class="product_image_admin" id="<%= dom_id image %>">
	  <%= link_to image_tag(image.image_url), image if image.image.present? %>
	  <%= link_to image_tag(asset_path('X_button.gif')), product_image_path(image), :method => :delete, :remote => true %>
	</div>
<% end %>
<div id="image_generation_result">
</div>

<br>
<%= link_to image_tag('edit_button.gif'), edit_product_path(@product) %> |
<%= link_to image_tag('back_button.gif'), products_path %>

<% @product_colors.each do |product_color| %>
  <%= div_for product_color do %>
		<%# product_color.product_images.each do |image| %>
		  <%#= link_to image_tag(image.image_url, :width => 100), image if image.image.present? %>
		<%# end %>
    <%= link_to product_color.color.name, product_color %>
    /
    <% if product_color.category_product_features.present? %>
      <%= link_to_name product_color.category_product_features.first %>
    <% else %>
      <%= link_to '(feature)', new_category_product_feature_path(:category_product_feature => {:product_color_id => product_color.id}) %>
    <% end %>
    /
    <% if product_color.body_style_product_features.present? %>
      <%= link_to_name product_color.body_style_product_features.first %>
    <% else %>
      <%= link_to '(feature for body style)', new_body_style_product_feature_path(:body_style_product_feature => {:product_color_id => product_color.id}) %>
    <% end %>
    <% product_color.garments.where('stocks.color_id' => product_color.color_id).each do |garment| %>
      <%= div_for garment do %>
        <%= link_to garment.size.name, garment %>
        (<%= link_to garment.inventory.andand.current_amount.to_i, new_inventory_snapshot_path(:inventory_snapshot => {:garment_id => garment.id}) %> in stock 
        <% if garment.stashed? %>
          , more available
          <%= link_to 'x', stashed_inventory_path(garment.stashed_inventories.last), :method => :delete %>
        <% else %>
          <%= link_to('[stash]', stashed_inventories_path(:stashed_inventory => {:garment_id => garment.id}), :method => :post, :remote => true) -%>
        <% end -%>)
      <% end %>
    <% end %>
    <br>
  <% end %>
<% end %>
<br>
<%= link_to 'add colors', add_colors_for_product_path(@product), :remote => true %>
<div id='color_adder'>
</div>