<h1>Listing charges</h1>

<table>
  <tr>
    <th>Cart</th>
    <th></th>
    <th></th>
    <th><%= link_to 'New Charge', new_charge_path, :class => 'btn btn-success' %></th>
  </tr>

<% @charges.each do |charge| %>
  <tr>
    <td><%= link_to charge.cart.id, charge.cart %></td>
    <td><%= number_to_currency charge.dollar_amount %></td>
    <td><%= link_to 'Show', charge %></td>
    <td>
      <%= link_to image_tag('edit_button.gif'), edit_charge_path(charge) %>
      <%= link_to image_tag('X_button.gif'), charge, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
