<p id="notice"><%= notice %></p>

<p>
  <b>
    <%= link_to 'cart', @charge.cart %>
  </b>
  <ol>
    <% @charge.cart.items.each do |item| %>
      <li><%= item.name %></li>
    <% end %>
  </ol>
</p>

<p>
  <b>Amount:</b>
  <%= number_to_currency @charge.amount/100.0 %>
</p>

<p>
  <b>Shipping Address:</b>
  <%= @charge.cart.apparent_primary_shipping_address.display %>
</p>
