<p id="notice"><%= notice %></p>

<p>
  <b>
    <%= link_to 'cart', @charge.cart %>
  </b>
</p>

<p>
  <b>Amount:</b>
  <%= number_to_currency @charge.amount %>
</p>


<%= link_to image_tag('edit_button.gif'), edit_charge_path(@charge) %> |
<%= link_to image_tag('back_button.gif'), charges_path %>
