<!DOCTYPE html>
<html>
<head>
  <title>Little Hippie Manager Panel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= link_to 'Home', root_url %>
  <%= link_to 'Product Manager Information', product_managers_path if current_business_manager %>
  <% if current_product_manager %>
    <div class="product_admin_link_grid">
      <div><%= link_to 'Designs', designs_path %></div>
      <div><%= link_to 'Body Styles', body_styles_path %></div>
      <div><%= link_to 'Sizes', sizes_path %></div>
      <div><%= link_to 'Colors', colors_path %></div>
    </div>
    <div class="product_admin_link_grid">
      <div><%= link_to 'Products', products_path %></div>
      <div><%= link_to 'Product Colors', product_colors_path %></div>
      <div><%= link_to 'Product Images', product_images_path %></div>
      <div><%= link_to 'Inventory', inventories_path %></div>
    </div>
    <div class="product_admin_link_grid">
      <div><%= link_to 'Content Pages', content_pages_path %></div>
      <div><%= link_to 'Bulletins', bulletins_path %></div>
      <div><%= link_to 'Categories', categories_path %></div>
      <div><%= link_to 'Category Images', category_images_path %></div>
      <div><%= link_to 'Banners', banners_path %></div>
    </div>
    <div class="product_admin_link_grid">
      <div><%= link_to 'Bulletin Pairings', bulletin_pairings_path %></div>
      <div><%= link_to 'Category Pairings', category_pairings_path %></div>
      <div><%= link_to 'Body Style Categorizations', body_style_categorizations_path %></div>
      <div><%= link_to 'Body Style Sizes', body_style_sizes_path %></div>
    </div>
    <div class="product_admin_link_grid">
      <div><%= link_to 'Mailing List Registrations', mailing_list_registrations_path %></div>
      <div><%= link_to 'Referral Types', referrals_path %></div>
    </div>
    <div class="product_admin_link_grid">
      <div><%= link_to 'Carts', carts_path %></div>
      <div><%= link_to 'Items', items_path %></div>
      <div><%= link_to 'Charges', charges_path %></div>
    </div>
  <% end %>
  <br>
  <%= login_links %>
  <p class="notice"><%= notice %></p>
  <p><%= alert %></p>
<%= yield %>

</body>
</html>
