<!DOCTYPE html>
<html>
<head>
  <title>LittleHippie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= link_to 'Product Manager Information', product_managers_path if current_business_manager %>
  <% if current_product_manager %>
    <%= link_to 'Designs', designs_path %>
    <%= link_to 'Body Styles', body_styles_path %>
    <%= link_to 'Sizes', sizes_path %>
    <%= link_to 'Colors', colors_path %>
    <%= link_to 'Products', products_path %>
    <%= link_to 'Product Colors', product_colors_path %>
    <%= link_to 'Inventory', inventories_path %>
    <br>
    <%= link_to 'Content Pages', content_pages_path %>
    <%= link_to 'Bulletins', bulletins_path %>
    <%= link_to 'Categories', categories_path %>
    <%= link_to 'Bulletin Pairings', bulletin_pairings_path %>
    <%= link_to 'Category Pairings', category_pairings_path %>
    <%= link_to 'Body Style Categorizations', body_style_categorizations_path %>
  <% end %>
  <%= login_links %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
