<!DOCTYPE html>
<html>
<head>
  <title>Little Hippie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="customer">
    <p class="notice"><%= notice %></p>
    <div id="background-holder">
      <div id="center-container">
        <div id="header">
          <%= link_to 'Little Hippie', root_url, :id => 'brand-name' %>
        
          <%= link_to 'Sign Mailing List', '#mailing_list_form', :class => 'left fancybox' %>
          <%= link_to image_tag('edit_button.gif'), destroy_customer_session_path, :method => :delete, :class => 'right logout' if current_customer %>
          <%= link_to 'Help', nil, :class => 'right' %><span class="right">&nbsp;|&nbsp;</span> 
          <%= link_to 'Contact Us', nil, :class => 'right' %><span class="right">&nbsp;|&nbsp;</span>
          <% unless current_customer %>
            <%= link_to 'Login', '#sign_in_form', :class => 'right fancybox', :id => 'sign_in_link' %>
          <% else %>
            <%= link_to current_customer.email, customer_carts_path(current_customer) , :class => 'right' %>
          <% end %><br>
          <%= link_to 'Grateful for 10 years', root_url, :id => 'anniversary-caption' %>
          <%= link_to image_tag(asset_path('FBlogo.gif')), 'https://facebook.com/LittleHippieLLC', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('tumblrlogo.gif')), 'http://littlehippiellc.tumblr.com', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('twitterlogo.png')), 'https://twitter.com/littlehippielve', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('pinterestlogo.png')), 'http://pinterest.com/littlehippiellc/', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to 'Search', nil, :class => 'right' %>
          <% if session[:cart_id] %>
            <span class="right">&nbsp;|&nbsp;</span><%= link_to 'Cart', current_cart, :class => 'right' %>
          <% end %>
        
        </div>
        <div id="navigation">
          <% ContentPage.navigation.children.active.ordered.each do |content_group| %>
            <div class="dropdown">
              <%= content_tag :a, content_group.name, :id => content_group.slug, :class => 'nav-group', :'data-toggle' => :dropdown, :'data-hover' => :dropdown, :'data-target' => "#{content_group.slug}-sub-menu" %>
              <%= content_tag :ul, :class => "dropdown-menu little-hippie-navigation", :id => "#{content_group.slug}-sub-menu" do %>
                <% content_group.children.active.ordered.each do |content_page| %>
                  <%= content_tag_for :li, content_page do %>
                    <%= link_to_name content_page %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div id="category_navigation_background">
          <div id="category_navigation">
            <% ContentPage.find_by_slug('home').categories.age_group.each do |category| %>
              <div class="dropdown">
                <%= link_to category.name, detail_category_path(category), :id => category.name, :class => 'nav-group', :'data-toggle' => :dropdown, :'data-hover' => :dropdown, :'data-target' => "#{category.name}-sub-menu" %>
                <%= content_tag :ul, :class => "dropdown-menu little-hippie-navigation", :id => "#{category.name}-sub-menu" do %>
                  <% category.body_styles.ordered.each do |body_style| %>
                    <%= content_tag_for :li, body_style do %>
                      <%= link_to body_style.name, detail_body_style_path(body_style) %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
        <%= link_to 'Business Login', '/products' %>
      </div>
    </div>
    
    <div id="fancy_box_container" style="display:none">
      <div id="mailing_list_form">
        <%= form_for MailingListRegistration.new, :remote => true do |f| %>
          <%= f.label :email, 'Email:' %>
          <%= f.text_field :email %><br>
          <%= f.label :referral_id, 'How did you hear about us?' %>
          <%= f.select :referral_id, options_from_collection_for_select(Referral.ordered, :id, :name), :include_blank => true %>
          <%= f.submit 'Join!' %>
        <% end %>
        <br>
        We send email about once a month.
      </div>
      <div id="sign_in_form">
        <%= form_tag customer_session_path do |f| %>
          <%= text_field_tag 'customer[email]' %>
          <%= label_tag 'customer_email', 'Email' %><br>
          <%= password_field_tag 'customer[password]' %>
          <%= label_tag 'customer_password', 'Password' %><br>
          <%= submit_tag 'Sign Up', :id => 'new_customer_sign_up' %>
          <%= submit_tag 'Log In' %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
