<!DOCTYPE html>
<html>
<head>
  <title>Little Hippie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="customer">
    <div id="background-holder">
      <div id="center-container">
        <div id="header">
              <p class="notice"><%= notice %></p>
          <%= link_to 'Little Hippie', root_url, :id => 'brand-name' %>
          <br>
          <%= link_to 'Sign Mailing List', '#mailing_list_form', :class => 'left fancybox' %>
          <%= link_to image_tag('edit_button.gif'), destroy_customer_session_path, :method => :delete, :class => 'right logout' if current_customer %>
          <%= link_to 'Help', nil, :class => 'right' %><span class="right">&nbsp;|&nbsp;</span> 
          <%= link_to 'Contact Us', nil, :class => 'right' %><span class="right">&nbsp;|&nbsp;</span>
          <% unless current_customer %>
            <%= link_to 'Login', '#sign_in_form', :class => 'right fancybox', :id => 'sign_in_link' %>
          <% else %>
            <%= link_to current_customer.email, current_customer , :class => 'right' %>
          <% end %><br>
      <div id="caption-middle">
         An official Grateful Dead® licensee featuring the art of Taylor Swope.
      </div>
          <%= link_to 'Grateful for 10 years', root_url, :id => 'anniversary-caption' %>
          <%= link_to image_tag(asset_path('FBlogo.gif')), 'https://facebook.com/LittleHippieLLC', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('tumblrlogo.gif')), 'http://littlehippiellc.tumblr.com', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('twitterlogo.png')), 'https://twitter.com/littlehippielve', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('pinterestlogo.png')), 'http://pinterest.com/littlehippiellc/', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to 'Search', nil, :class => 'right' %>
          <% if session[:cart_id] %>
            <span class="right">&nbsp;|&nbsp;</span><%= link_to 'Cart', current_cart, :class => 'right' %>
          <% end %>
        
        </div>
        <%= render :partial => 'shared/navigation_bars' %>
        <%= yield %>
      </div>
      <nav id="footer">
      ©2003-2013 Little Hippie, LLC.  All Grateful Dead images licensed by GDP, inc ©2004-2013. 
      <br>
      Design & illustration by Taylor Swope.  Site built by Mike Schwab.
      </nav>
      <%= link_to 'Business Login', '/products', :id => 'business_login' %>
    </div>
    <div id="fancy_box_container" style="display:none">
      <div id="mailing_list_form">
        <%= form_for MailingListRegistration.new, :remote => true do |f| %>
          <%= f.label :email, 'Email:' %>
          <%= f.text_field :email %><br>
          <%= f.label :referral_id, 'How did you hear about us?' %>
          <%= f.select :referral_id, options_from_collection_for_select(Referral.ordered, :id, :name), :include_blank => true %>
          <br>
          <%= f.submit 'Join!' %>
        <% end %>
        <br>
        We send email about once a month.
      </div>
      <div id="sign_in_form">
        <%= form_tag customer_session_path do |f| %>
          <%= label_tag 'customer_email', 'Email' %>
          <%= text_field_tag 'customer[email]' %>
          <%= label_tag 'customer_password', 'Password' %>
          <%= password_field_tag 'customer[password]' %>
          <br>
          <%= submit_tag 'Sign Up', :id => 'new_customer_sign_up', :class => 'input_label' %>
          <%= submit_tag 'Sign In', :class => 'input_label' %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
