<!DOCTYPE html>
<html>
<head>
  <title>Little Hippie® <%= @title %></title>
  <meta name="description" content="<%= @meta_description %>">
  <meta name="keywords" content="<%= @meta_keywords %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= fb_connect_async_js %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
  <meta property="og:image" content="<%= facebook_thumbnail_for_page %>" />
  <%= yield :fb_og_tags %>
</head>
<body>
  <div id="customer" style="background-image: url('<%= Background.active.image_url %>')">
    <div id="background-holder">
      <div id="center-container">
        <div id="header">
          <%= link_to image_tag(asset_path('littlehippielogo.png'), :title => 'LITTLE HIPPIE®'), root_url, :id => 'brand-name' %>
          <%= clearboth %>
          <%= link_to 'Sign Mailing List', '#mailing_list_form', :class => 'left fancybox' %>
          <% if session[:cart_id] && current_cart.andand.items.andand.present? %>
            <%= link_to image_tag(asset_path('black_cart.png'), :width => 17) + content_tag(:span, :id => "cart_quantity") { "(#{current_cart.item_quantity})" }, current_cart, :class => 'right' %>
            <span class="right">&nbsp;|&nbsp;</span>
          <% end %>
          <%= link_to image_tag('edit_button.gif'), destroy_customer_session_path, :method => :delete, :class => 'right logout' if current_customer %>
          <%#= link_to 'Help', nil, :class => 'right' %><!-- <span class="right">&nbsp;|&nbsp;</span>  -->
          <% unless current_customer %>
            <%= link_to 'Login', '#sign_in_form', :class => 'right fancybox', :id => 'sign_in_link' %>
          <% else %>
            <%= link_to current_customer.email, current_customer , :class => 'right' %>
          <% end %><br>
      <div id="caption-middle">
         An official Grateful Dead® licensee featuring the art of Taylor Swope.
      </div>
          <%= link_to 'Grateful for 10 years', root_url, :id => 'anniversary-caption' %>
          <%= link_to image_tag(asset_path('FBlogo.gif')), 'https://facebook.com/LittleHippieLLC', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('tumblrlogo.gif')), 'http://littlehippiellc.tumblr.com', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('twitterlogo.png')), 'https://twitter.com/littlehippielve', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('pinterestlogo.png')), 'http://pinterest.com/littlehippiellc/', :class => 'social-engagement left', :target => '_blank' %>
        </div>
        <%= render :partial => 'shared/navigation_bars' %>
        <%= yield %>
        <%= clearboth %>
        <%= render :partial => 'shared/content_navigation' %>
        <nav id="bottom_nav">
          <%= link_to 'Contact Us', make_contacts_path %> -
          <% @faq = ContentPage.find_by_slug('faq') %>
          <% if @faq %>
            <%= link_to @faq.title, display_content_page_path(@faq) %>
            <% @faq.children.each do |cp| %>
              - <%= link_to cp.title, display_content_page_path(cp) %>
            <% end %>
          <% end %>
          <% if current_customer %>
            - <%= link_to 'My Account', detail_customer_path(current_customer) %> -
            <%= link_to 'Wishlist', detail_customer_path(current_customer) %>
          <% end %>
        </nav>
      </div>
      <nav id="footer">
      ©2003-2013 Little Hippie®, LLC.  All Grateful Dead images licensed by GDP, inc ©2004-2013. 
      <br>
      Design &amp; illustration by Taylor Swope.  Site built by Mike Schwab.
      </nav>
      <%= link_to 'Admin Login', '/products', :id => 'business_login' %>
    </div>
    <div id="fancy_box_container" style="display:none">
      <div id="mailing_list_form">
        <%= form_for MailingListRegistration.new, :remote => true do |f| %>
          <%= f.label :email, 'Email:' %>
          <%= f.text_field :email %><br>
          <%= f.label :referral_id, 'How did you hear about us?' %>
          <%= f.select :referral_id, options_from_collection_for_select(Referral.ordered, :id, :name), :include_blank => true %>
          <br>
          <%= f.submit 'Join!' %>
        <% end %>
        <br>
        We send email about once a month.
      </div>
      
      <div id="sign_in_form">
        <% fb_login(:scope => 'email, publish_actions, publish_stream, user_birthday') do %>$.fancybox.close();$.ajax('<%= new_session_facebook_path %>');<% end %>
        <%= form_tag customer_session_path, :remote => true do |f| %>
          <%= label_tag 'customer_email', 'Email' %>
          <%= text_field_tag 'customer[email]' %>
          <%= label_tag 'customer_password', 'Password' %>
          <%= password_field_tag 'customer[password]' %>
          <br>
          <%= submit_tag 'Sign Up', :id => 'new_customer_sign_up', :class => 'input_label' %>
          <%= submit_tag 'Sign In', :id => 'customer_sign_in', :class => 'input_label' %>
          <br>
          <%= link_to "Forgot your password?", new_password_path(:customer) %>
        <% end %>
      </div>
      
      <div id="small_cart">
        <% current_cart.items.each do |item| %>
          <%= div_for item, :'data-item_id' => item.id do %>
            <div class="image">
              <%= link_to image_tag(item.product.primary_image, :width => 60, :style => "background-color:##{item.css_hex_code}"), detail_product_path(item.product) if item.product.primary_image %>
            </div>
            <div class="name">
              <%= link_to item.product.name, detail_product_path(item.product) %>
            </div>
            <div class="size">
              <%= item.size.name %>
            </div>
            <div class="color">
              <%= item.product_color.color.name %>
            </div>
            <div class="price" id="price_<%= item.id %>">
              <%= number_to_currency item.cost %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to 'show small cart', '#small_cart', :id => 'small_cart_trigger', :class => 'fancybox' %>
    </div>
  </div>
  <%= google_analytics %>
</body>
</html>
