<!DOCTYPE html>
<html>
<head>
  <title>Little Hippie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
</head>
<body id="customer">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div id="background-holder">
    <div id="center-container">
      <div id="header">
        <%= link_to 'Sign Mailing List', '#mailing_list_form', :class => 'left fancybox' %>      
        <%= link_to 'Help', nil, :class => 'right' %><span class="right">&nbsp;|&nbsp;</span> 
        <%= link_to 'Contact Us', nil, :class => 'right' %><span class="right">&nbsp;|&nbsp;</span>
        <%= link_to 'Login', '#sign_in_form', :class => 'right fancybox' %><br>
        <%= link_to 'Search', nil, :class => 'right' %>
        <header id="brand-name"><%= link_to 'Little Hippie', root_url %></header>
        <header id="anniversary-caption">Grateful for 10 years</header>
      </div>
      <div id="navigation">
        <%= link_to 'About Us' %>
        <%= link_to 'Resellers' %>
        <%= link_to 'Community' %>
        <%= link_to 'Gallery' %>
        <%= link_to 'FAQ' %>
        <%= link_to 'Registry' %>
        <%= link_to 'Guest Book' %>
      </div>
      <%= yield %>
    </div>
  </div>
  <div id="fancy_box_container" style="display:none">
    <div id="mailing_list_form">
      <%= form_for MailingListRegistration.new, :remote => true do |f| %>
        <%= f.label :email, 'Email:' %>
        <%= f.text_field :email %>
        <%= f.submit 'Join!' %>
      <% end %>
      <br>
      We send email about once a month.
    </div>
    <div id="sign_in_form">
      <%= form_tag customer_session_path do |f| %>
        <%= text_field_tag :email %>
        <%= label_tag :email %><br>
        <%= password_field_tag :password %>
        <%= label_tag :password %><br>
        <%= submit_tag 'Sign Up', :id => 'new_customer_sign_up' %>
        <%= submit_tag 'Log In' %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Business Login', '/products' %>
</body>
</html>
