<!DOCTYPE html>
<html>
<head>
  <title>Little Hippie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= fb_connect_async_js %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="customer">
    <div id="background-holder">
      <div id="center-container">
        <div id="header">
          <%= link_to 'Little Hippie', root_url, :id => 'brand-name' %>
          <%= clearboth %>
          <%= link_to 'Sign Mailing List', '#mailing_list_form', :class => 'left fancybox' %>
          <%= link_to image_tag('edit_button.gif'), destroy_customer_session_path, :method => :delete, :class => 'right logout' if current_customer %>
          <%#= link_to 'Help', nil, :class => 'right' %><!-- <span class="right">&nbsp;|&nbsp;</span>  -->
          <%= link_to 'Contact Us', make_contacts_path, :class => 'right' %><span class="right">&nbsp;|&nbsp;</span>
          <% unless current_customer %>
            <%= link_to 'Login', '#sign_in_form', :class => 'right fancybox', :id => 'sign_in_link' %>
            <span class="right">&nbsp;|&nbsp;</span>
            <%= link_to 'Request Invite', '#invite_form', :class => 'right fancybox' %>
          <% else %>
            <%= link_to current_customer.email, current_customer , :class => 'right' %>
            <span class="right">&nbsp;|&nbsp;</span>
            <%= link_to 'Invite Friend', '#invite_form', :class => 'right fancybox' %>
          <% end %><br>
      <div id="caption-middle">
         An official Grateful Dead® licensee featuring the art of Taylor Swope.
      </div>
          <%= link_to 'Grateful for 10 years', root_url, :id => 'anniversary-caption' %>
          <%= link_to image_tag(asset_path('FBlogo.gif')), 'https://facebook.com/LittleHippieLLC', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('tumblrlogo.gif')), 'http://littlehippiellc.tumblr.com', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('twitterlogo.png')), 'https://twitter.com/littlehippielve', :class => 'social-engagement left', :target => '_blank' %>
          <%= link_to image_tag(asset_path('pinterestlogo.png')), 'http://pinterest.com/littlehippiellc/', :class => 'social-engagement left', :target => '_blank' %>
          <div class ="search_bar">
          <%= form_tag customer_search_products_path do %>
            <%= text_field_tag :query, nil, :id => "search_box" %>
            <%= submit_tag :search, :id => "search_button" %>
          </div>
          <% end %>
          <% if session[:cart_id] && current_cart.andand.items.andand.present? %>
            <!-- <span class="right">&nbsp;|&nbsp;</span> --><span class="right" id="cart_quantity">&nbsp;(<%= current_cart.item_quantity %>)</span><%= link_to image_tag(asset_path('black_cart.png'), :width => 20), current_cart, :class => 'right' %>
          <% end %>
        
        </div>
        <%= render :partial => 'shared/navigation_bars' %>
        <%= yield %>
        <%= clearboth %>
        <nav id="bottom_nav">
          <%= link_to 'About Us' %> -
          <%= link_to 'Contact Us', make_contacts_path %> -
          <%= link_to 'Size Chart' %> -
          <% if current_customer %>
            <%= link_to 'My Account', detail_customer_path(current_customer) %> -
            <%= link_to 'Wishlist', detail_customer_path(current_customer) %>
          <% end %>
        </nav>
      </div>
      <nav id="footer">
      ©2003-2013 Little Hippie, LLC.  All Grateful Dead images licensed by GDP, inc ©2004-2013. 
      <br>
      Design &amp; illustration by Taylor Swope.  Site built by Mike Schwab.
      </nav>
      <%= link_to 'Business Login', '/products', :id => 'business_login' %>
    </div>
    <div id="fancy_box_container" style="display:none">
      <div id="mailing_list_form">
        <%= form_for MailingListRegistration.new, :remote => true do |f| %>
          <%= f.label :email, 'Email:' %>
          <%= f.text_field :email %><br>
          <%= f.label :referral_id, 'How did you hear about us?' %>
          <%= f.select :referral_id, options_from_collection_for_select(Referral.ordered, :id, :name), :include_blank => true %>
          <br>
          <%= f.submit 'Join!' %>
        <% end %>
        <br>
        We send email about once a month.
      </div>
      
      <div id="sign_in_form">
        <%= fb_login_and_redirect(new_session_facebook_path, :scope => 'email, publish_actions, publish_stream, user_birthday') %>
        <% if params[:invitation_redeemed] %>
          <% @invitation = Invitation.find params[:invitation_redeemed] %>
          <% @invitation_valid = @invitation.redeemed_at.andand.>(3.minutes.ago) %>
        <% end %>
        <%= form_tag customer_session_path, :remote => true do |f| %>
          <%= label_tag 'customer_email', 'Email' %>
          <%= text_field_tag 'customer[email]', @invitation.andand.email %>
          <%= label_tag 'customer_password', (@invitation_valid ? 'Create a Password' : 'Password') %>
          <%= password_field_tag 'customer[password]' %>
          <% if @invitation_valid %>
            <br>
            Your Beta code <%= @invitation.code %> is valid.
            <%= hidden_field_tag 'beta[code]', @invitation.code %>
          <% else %>
            <%= label_tag 'beta[code]', 'Beta Code (for sign up, not log in)' %>
            <%= text_field_tag 'beta[code]' %>
          <% end %>
          <br>
          <%= submit_tag 'Sign Up', :id => 'new_customer_sign_up', :class => 'input_label' %>
          <%= submit_tag 'Sign In', :id => 'customer_sign_in', :class => 'input_label' unless @invitation_valid %>
          <br>
          <%= link_to "Forgot your password?", new_password_path(:customer) unless @invitation_valid %>
        <% end %>
      </div>
      
      <div id="invite_form">
        <%= form_for Invitation.new, :remote => true do |f| %>
          <div>
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
          <div>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div>
            <%= f.label :note, 'Want to include a note with your request?' %>
            <%= f.text_area :note %>
          </div>
          <% if current_customer %>
            <%= f.hidden_field :invited_by_email, :value => current_customer.email %>
          <% else %>
            <div>
              <%= f.label :invited_by_email, 'Inviting a friend?  You can include your email so we know who you are.'%>
              <%= f.text_field :invited_by_email %>
            </div>
            <div>
              <%= f.label :invited_by_name, 'Or your name.' %>
              <%= f.text_field :invited_by_name %>
            </div>
          <% end %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <% if params[:invitation_redeemed] %>
    <script type="text/javascript">
      $(function() {
        $('#sign_in_link').trigger('click');
      });
    </script>
  <% end %>
  <%= google_analytics %>
</body>
</html>
