<!DOCTYPE html>
<html>
<head>
  <title>Little Hippie® <%= @title %></title>
  <meta name="description" content="<%= @meta_description %>">
  <meta name="keywords" content="<%= @meta_keywords %>">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= fb_connect_async_js %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
  <meta property="og:image" content="<%= facebook_thumbnail_for_page %>" />
  <%= yield :fb_og_tags %>
</head>
<body>
  <div id="customer">
    <div id="background-holder">
      <div id="center-container">
        <div id="header">
          <%= link_to root_url do %>
            <div id="company_name">Little Hippie</div>
            <div id="trademark_symbol">
            ®</div>
          <% end %>
          <% if session[:cart_id] && current_cart.andand.items.andand.present? %>
            <%= link_to image_tag(asset_path('black_cart.png'), :width => 17) + content_tag(:span, :id => "cart_quantity") { "(#{current_cart.item_quantity})" }, current_cart, :class => 'right' %>
            <span class="right">&nbsp;|&nbsp;</span>
          <% end %>
          <%= link_to image_tag('edit_button.gif'), destroy_customer_session_path, :method => :delete, :class => 'right logout' if current_customer %>
          <% if current_customer %>
            <%= link_to current_customer.email, current_customer , :class => 'right' %>
          <% elsif current_reseller %>
            Wholesale account:
            <%= link_to 'logout', destroy_reseller_session_path, :method => :delete, :class => 'right logout' %>
            <%= link_to current_reseller.email, home_resellers_path, :class => 'right' %>
          <% else %>
            <%= link_to 'Login', '#sign_in_form', :class => 'right fancybox', :id => 'sign_in_link' %>
          <% end %><br>
        </div>
        <%= render :partial => 'shared/age_group_navigation' %>
        
        <%= yield %>
        
        <%= clearboth %>
        <%= render :partial => 'shared/content_navigation' %>
        <nav id="bottom_nav">
          <%= link_to 'Contact Us', make_contacts_path %> -
          <% @faq = ContentPage.find_by_slug('faq') %>
          <% if @faq %>
            <%= link_to @faq.title, display_content_page_path(@faq) %>
            <% @faq.children.each do |cp| %>
              - <%= link_to cp.title, display_content_page_path(cp) %>
            <% end %>
          <% end %>
          <% if current_customer %>
            - <%= link_to 'My Account', detail_customer_path(current_customer) %> -
            <%= link_to 'Wishlist', detail_customer_path(current_customer) %>
          <% end %>
        </nav>
      </div>
      <nav id="footer">
        ©2003-2013 Little Hippie®, LLC.  All Grateful Dead images licensed by GDP, inc ©2004-2013. 
        <br>
        Design &amp; illustration by Taylor Swope.  Site built by Mike Schwab.
      </nav>
      <%= link_to 'Admin Login', '/products', :id => 'business_login' %>
    </div>
    <div id="fancy_box_container" style="display:none">
      <div id="mailing_list_form">
        <%= form_for MailingListRegistration.new, :remote => true do |f| %>
          <%= f.label :email, 'Email:' %>
          <%= f.text_field :email %><br>
          <%= f.label :referral_id, 'How did you hear about us?' %>
          <%= f.select :referral_id, options_from_collection_for_select(Referral.ordered, :id, :name), :include_blank => true %>
          <br>
          <%= f.submit 'Join!' %>
        <% end %>
        <br>
        We send email about once a month.
      </div>
      
      <div id="sign_in_form">
        <% fb_login(:scope => 'email, publish_actions, publish_stream, user_birthday') do %>$.fancybox.close();$.ajax('<%= new_session_facebook_path %>');<% end %>
        <%= form_tag customer_session_path, :remote => true do |f| %>
          <%= label_tag 'customer_email', 'Email' %>
          <%= text_field_tag 'customer[email]' %>
          <%= label_tag 'customer_password', 'Password' %>
          <%= password_field_tag 'customer[password]' %>
          <br>
          <%= submit_tag 'Sign Up', :id => 'new_customer_sign_up', :class => 'input_label' %>
          <%= submit_tag 'Sign In', :id => 'customer_sign_in', :class => 'input_label' %>
          <br>
          <%= link_to "Forgot your password?", new_password_path(:customer) %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="photo_uploader_hider">
    <div id="photo_uploader">
      <header id="photo_call_to_action">
        Show us how you wear Little Hippie®!
      </header>
      <% unless current_customer %>
        <div id="photo_coupon_offer">
          If you'd like a coupon, please <%= link_to 'log in', '#sign_in_form', :class => 'fancybox', :id => 'uploader_log_in' %> before you upload your photos.
        </div>
      <% end %>
      <%= form_for Banner.new, :remote => true do |f| %>
        <%= f.file_field :image %><br>
        <%= f.label :name, 'Name for the photo (optional)' %>
        <%= f.text_field :name %><br>
        <%= f.label :caption, 'More info (optional)' %>
        <%= f.text_area :caption %><br>
        <%= f.hidden_field :customer_uploaded, :value => true %>
        <%= f.submit 'Upload (and grant rights)', :id => 'upload_and_grant' %>
      <% end %>
      <%= link_to 'View Terms of Upload', '#', :id => 'photo_upload_terms_display' %>
      <div id="photo_upload_terms">
        <em>
        Any photos you upload may be used on this website or on others.  You should only upload a photo if you have the rights to it, and if you are ready to grant Little Hippie, LLC unlimited rights to use it.  By clicking the button that says "Upload (and grant rights)", you agree to the following terms:
        </em>
        <br>
        
        <ol>
          <li>
            I have the legal right to use this photo in this way.
          </li>
          <li>
            I hereby grant Little Hippie® an unlimited license to use this photo.
          </li>
          <li>
            Little Hippie® has my permission to display this photo and edit it.
          </li>
          <li>
            I understand that this photo may be displayed publicly on littlehippie.com, facebook.com, and other websites.
          </li>
          <li>
            Due to the nature of files on the Internet, it is also possible that this photo may be illegally copied for other uses.  I agree that Little Hippie® is not culpable or negligent in the case that this should happen.
          </li>
        </ol>
      </div>
    </div>
  </div>
  <%= google_analytics %>
</body>
</html>
