<%= form_for(@garment_purchase_order) do |f| %>
  <% if @garment_purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garment_purchase_order.errors.count, "error") %> prohibited this garment_purchase_order from being saved:</h2>

      <ul>
      <% @garment_purchase_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= f.select :supplier_id, options_from_collection_for_select(Supplier.all, :id, :name, @garment_purchase_order.supplier_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :billing_address_id %><br />
    <%= f.select :billing_address_id, options_from_collection_for_select(BillingAddress.all, :id, :street, @garment_purchase_order.billing_address_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :shipping_address_id %><br />
    <%= f.select :shipping_address_id, options_from_collection_for_select(ShippingAddress.all, :id, :street, @garment_purchase_order.shipping_address_id), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
